<mat-card class="mat-elevation-z0">
    <mat-card-title>Privacidad y uso de los datos</mat-card-title>
    <mat-card-content>
        <div class="container-fluid p-0">
            <p>Toda información contenida o enviada a esta plataforma es considerada confidencial</p>
            <p>El envío de este formulario supone la aceptación de que seas contactado por uno de nuestros
                representantes a través de la casilla de correo provista.</p>
            <p>No se te enviará publicidad de ningún tipo a tu casilla de correo desde esta plataforma</p>
            <p>Cualquier otro servicio previsto requiere tu registración voluntaria.</p>
            <div class="row">
                <div class="ml-3">
                    <button mat-flat-button color="primary" [mat-dialog-close]="true">Aceptar</button>
                </div>
                <div class="ml-3">
                    <button mat-flat-button color="warn" [mat-dialog-close]="false">Rechazar</button>
                </div>
            </div>
            
        </div>
    </mat-card-content>
</mat-card>
