$color-destacado: #0645f5;

.text-destacado {
		margin: 0 0 0 0;
		color: $color-destacado;
		font-weight: 400;
		font-size: 2rem;
		font-style: italic;

}

.text-resaltado {
		margin: 0 0 0 0;
		color: $color-destacado;
		font-weight: 600;
		font-size: 1.1rem;
		font-style: italic;
}

.text-normal {
		margin: 0 0 0 0;
		font-weight: 400;
		font-size: 1rem;
		.mat-button {
			font-weight: 600;
			font-size: 0.8rem;

		}
}

.detail-toggle {
		margin: 0 0 0 15px;
		color: $color-destacado;
		font-weight: 400;
		font-size: 1.2rem;
		font-style: italic;	
}

.panel-header-control {
		margin: 0 35px 0 0;
		font-weight: 400;
		font-size: 1.4rem;
		text-align: right;
}

.panel-header{
		background-color: #f2eded;
}

.panel-header-text {
		margin: 0 0 0 15px;
		font-weight: 700;
		font-size: 1.2rem;
}
