<mat-card style="background-color: #2266FF;">
    <mat-card-content>
    <div class="container-fluid sinpadding">
    <div class="row">
        <!-- Filtros -->
        <div class="col-sm-12 col-md-5">
            <mat-radio-group (change)="radioChanged($event)">
                <mat-radio-button   *ngFor="let radioOption of radioOptions"
                                    value={{radioOption.value}}
                                    [checked]="radioOption.value == radioDefault">
                    {{ radioOption.descripcion }}</mat-radio-button>
            </mat-radio-group>
        </div>
        <!-- Proyección -->
        <!--div class="offset-md-1 offset-sm-0 offset-0 col-md-4 col-sm-10 col-12" -->
        <div class="col-sm-10 col-md-6">
            <span class="my-auto" style="font-weight: 800;">Proyectar</span>
            <mat-slider
                    thumbLabel
                    [min]="slider.min"
                    [max]="slider.max"
                    [step]="slider.step"
                    [value]="currentProyeccion"
                    (input)="sliderChanged($event)">            
            </mat-slider>
            <span class="my-auto">
                {{
                    currentProyeccion === 0 ? 'hoy' :
                    currentProyeccion === 1 ? 'dentro de ' + currentProyeccion + ' día' :
                    'dentro de ' + currentProyeccion + ' días'
                }} ({{ currentProyeccionDate | date:'dd/LL/yyyy' }}{{ slider.daysLeft === slider.max? ' o posterior' : '' }})
            </span>            
        </div>
        <div class="col-sm-1 col-md-1">
            <button mat-icon-button (click)="altaRapidaPaciente()" matTooltip="Alta rápida de paciente">
                <mat-icon>
                    add_circle_outline
                </mat-icon>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-checkbox   class="margin" *ngFor="let service of groupservices" 
                            (click)="selectedCheckBox(service)">
                            {{service.label}}
            </mat-checkbox>
        </div>

    </div>
    </div>
    </mat-card-content>
</mat-card>