mat-card {
	color: white;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 12px;
}

.mat-slider{
    margin-left: 16px;
}

.margin{
    margin-right: 10px;
}

.filtros {
    margin-left: 15px;
}

