<div class="container-fluid p-0">
	<div class="row">
		<div class="col-sm-12 col-12 col-md-12">
			<h2 style="text-align: center;">Alta rápida de afectado/a</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-12">
			<h4>Será asignado a esta locación de internación</h4>
		</div>
	</div>
		<form [formGroup]="form">
			<div class="row">
                <div class="col-sm-12 col-md-3">
                    <mat-form-field>
                      <mat-select #fldTdoc placeholder="Tipo de documento" 
                                    [formControl]="form.controls['tdoc']"
                                    (selectionChange)="changeSelectionValue('tdoc',fldTdoc.value)">
                        <mat-option *ngFor="let item of tcompPersonaFisica" 
                                    [value]="item.val">{{ item.label }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-5">
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['ndoc']" 
                                placeholder="Número documento">
                        <mat-error *ngIf="hasError('ndoc', 'mailerror')">
                                {{ docBelongsTo.error }}</mat-error>
                    </mat-form-field>
                </div>
                  <div class="col-sm-12 col-md-4">
                    <mat-form-field>
                      <input matInput [formControl]="form.controls['telefono']" 
                                    placeholder="Teléfono de contacto....">
                    </mat-form-field>
                  </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <mat-form-field>
                      <input matInput [formControl]="form.controls['nombre']" placeholder="Nombre">
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-5">
                    <mat-form-field>
                      <input (blur)="onBlur($event)" 
                          matInput [formControl]="form.controls['apellido']" placeholder="Apellido">
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-4">
                    <mat-form-field>
                      <mat-select #fldSexo placeholder="Sexo"
                          [formControl]="form.controls['sexo']"
                          (selectionChange)="changeSelectionValue('sexo',fldSexo.value)" >
                        <mat-option *ngFor="let item of sexoOptList" 
                          [value]="item.val" >{{ item.label }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <mat-form-field>
                      <input matInput [formControl]="form.controls['displayName']" placeholder="Mostrar como....">
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-4">
                    <mat-form-field>
                      <input  matInput [formControl]="form.controls['fenactx']" 
                                placeholder="Fecha de nacimiento" >
                      <mat-hint align="end">edad: {{ currentAge() }}</mat-hint>
                      <mat-error *ngIf="hasError('fenactx', 'invalidAge')">fecha de nacimiento inválida
                      </mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h4>Triage de internación</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <mat-form-field>
                      <input matInput [formControl]="form.controls['slug']" 
                            placeholder="Instrucción de internación">
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-4">
                    <mat-form-field>
                      <mat-select #fldServicio placeholder="Servicio de internación buscado" 
                                    [formControl]="form.controls['servicio']"
                                    (selectionChange)="changeSelectionValue('servicio',fldServicio.value)">
                        <mat-option *ngFor="let item of servicioOptList" [value]="item.val">{{ item.label }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4">
                <mat-form-field>
                  <mat-select #fldEspecialidad placeholder="Especialidad médica" 
                                [formControl]="form.controls['especialidad']"
                                (selectionChange)="changeSelectionValue('especialidad',fldEspecialidad.value)">
                    <mat-option *ngFor="let item of especialidadOptList" 
                                [value]="item.val">{{ item.label }}</mat-option>
                  </mat-select>
                </mat-form-field>
                </div>
            </div>

			<div class="row">
                <div class="offset-sm-7 offset-md-8 offset-2 col-sm-2  col-md-2 col-5">
                    <button type="button" mat-flat-button color="primary"
                            (click)='onSubmit()'
                            [disabled]="form.invalid" >Ingresar</button>
                </div>
				<div class="col-sm-3 col-md-2 col-5 ">
					<button type="button" mat-flat-button color="warn" 
                            (click)="cancel()">Cancelar</button>
				</div>
			</div>
		</form>
</div>