<div class="container-fluid p-0">
	<div class="row">
		<div class="col-sm-12 col-12 col-md-12">
			<h2 style="text-align: center;">Alta rápida de paciente</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-12">
			<h4>Ingrese los datos del paciente que va a ocupar la cama</h4>
		</div>
	</div>
		<form [formGroup]="pacienteForm" (ngSubmit)="onPacienteSubmit()">
			<div class="row">
                <div class="col-md-4 col-sm-6 col-12">
					<mat-form-field>
						<mat-label>Tipo documento</mat-label>
						<mat-select formControlName="tipoDni" (selectionChange)="seleccionTipoDni($event.value)">
                            <mat-option *ngFor="let documento of tiposDocumento" [value]="documento">
                                {{documento.tipo}}
                            </mat-option>
                        </mat-select>
					</mat-form-field>
				</div>
                <div class="col-md-4 col-sm-6 col-12">
					<mat-form-field>
						<mat-label>Documento</mat-label>
						<input matInput formControlName="dni">
					</mat-form-field>
				</div>
				<div class="col-md-4 col-sm-6 col-12">
					<mat-form-field>
						<mat-label>Nombre y apellido</mat-label>
						<input matInput formControlName="name">
					</mat-form-field>
                </div>
            </div>
            <div class="row">
				<div class="col-md-4 col-sm-6 col-12">
					<mat-form-field>
						<mat-label>Edad</mat-label>
						<input matInput formControlName="edad">
					</mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
					<mat-form-field>
						<mat-label>Teléfono</mat-label>
						<input matInput formControlName="telefono">
					</mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
					<mat-form-field>
						<mat-label>Diagnostico</mat-label>
						<input matInput formControlName="diagnostico">
					</mat-form-field>
				</div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-12">
					<mat-form-field>
						<mat-label>Fecha ingreso</mat-label>
						<input matInput  [matDatepicker]="picker1" formControlName="fecha_in">
									<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
									<mat-datepicker #picker1></mat-datepicker>
					</mat-form-field>
				</div>
                <div class="col-md-4 col-sm-6 col-12">
					<mat-form-field >
						<mat-label>Fecha salida (estimada)</mat-label>
						<input matInput  [matDatepicker]="picker2" formControlName="fecha_out">
									<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
									<mat-datepicker #picker2></mat-datepicker>
					</mat-form-field>
				</div>
                
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12-col-12">
                    <h4>Ahora le pediremos que seleccione donde sera derivado</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-12">
                    <mat-form-field>
                        <mat-label>Seleccione destino</mat-label>
                        <mat-select formControlName="destino">
                            <mat-option>
                                Hospital 1001
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-4 col-12">
                    <mat-form-field>
                        <mat-label>En:</mat-label>
                        <mat-select formControlName="en">
                            <mat-option>
                                Cuidados intensivos
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
			<div class="row">
				<div class="offset-sm-7 offset-md-8 offset-2 col-md-2 col-5 col-sm-3">
					<button type="button" mat-flat-button color="warn" (click)="volver()">Volver</button>
				</div>
				<div class="col-sm-2 col-5 col-md-2">
					<button type="submit" mat-flat-button color="primary" [disabled]="pacienteForm.invalid" >Ingresar</button>
				</div>
			</div>
		</form>
</div>