<div  [@flyInOut]='fly ? "in" : "void"' 	*ngIf='refresh' >

	<div class="row">
		<div class="col-lg-6 col-md-12">
			<div class="row carrousel">
					<div class="col-4 carrousel-item">
		        <img class="carrousel-img" src="{{ tokens[0].imgUrl }}">
					</div>

					<div class="col-4 carrousel-item">
		        <img class="carrousel-img" src="{{ tokens[1].imgUrl }}">
					</div>

					<div class="col-4 carrousel-item">
		        <img class="carrousel-img" src="{{ tokens[2].imgUrl }}">
					</div>
			</div>
		</div>

		<div class="col-lg-6 col-md-12">
			<div class="row carrousel">
					<div class="col-4 carrousel-item">
		        <img class="carrousel-img" src="{{ tokens[3].imgUrl }}">
					</div>

					<div class="col-4 carrousel-item">
		        <img class="carrousel-img" src="{{ tokens[4].imgUrl }}">
					</div>

					<div class="col-4 carrousel-item">
		        <img class="carrousel-img" src="{{ tokens[5].imgUrl }}">
					</div>
			</div>
		</div>
	</div>

</div>

