<div class="container-fluid">
 	<div class="row">
 		<div class="col-sm-12 col-md-12">
 			<p class='text-destacado'>{{ pname }} </p>
 			<p class='text-resaltado'>{{ alerta }} </p>
 			<p class='text-normal'>{{ pdoc }} ({{ sexo }}) - <strong>Nacionalidad:</strong> {{ nacionalidad }} {{edadTxt}}</p>
 			<p class='text-normal'>{{ estado }} - 
 				<strong>Ocupación:</strong> {{ ocupacion }} - 
 				<strong>{{ neducativo }}</strong> </p>
 		</div>
	</div>
 	<div class="row">
 		<div class="col-sm-12 col-md-12">
      <div class="additional-info">

        <button mat-button type="button" color="accent" 
                (click)="onCancel()">Siguiente</button>
      </div>
    </div>
  </div>

</div>
