<div id="search-component">
      <mat-form-field class="mb-0">
        <input #searchBox matInput placeholder="buscar..." 
        		[matAutocomplete]="auto" 
        		(keyup)="search(searchBox.value)" >
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let asset of assets | async" 
        		(onSelectionChange)="selectEntity(asset)"
        		[value]="asset.slug">
          {{ asset.slug }}
        </mat-option>
      </mat-autocomplete>
</div>
