.map-col {
  card {
    height: 100%;


    /deep/.card-wrap {
      height: 100%;

      .card-content {
        height: 100%;
      }
    }
  }
}
.sebm-google-map-container {
  height: 100%;
  min-height: 200px;

  /deep/.sebm-google-map-container-inner {
    min-height: 200px;
  }
}