
<mat-card>
    <mat-card-header>
        <mat-card-title>Estado de ocupación de locaciones hospitalarias</mat-card-title>

    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-12">
                <mat-toolbar class="toolbar-header">
                    <div>Historial</div>
                    <span class="flex-grow-1"></span>
                    <button mat-flat-button  (click)="altaNuevoParte()">Nuevo Parte de Ocupación</button>
                </mat-toolbar>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ocupacion-browse></ocupacion-browse>
            </div>
        </div>

    </mat-card-content>
</mat-card>