  <mat-form-field>
  	<mat-chip-list #chiplist [multiple]='multiple' [selectable]='selectable' >
  		<mat-chip *ngFor='let user of userlist' 
        [removable]='removable'
        (selectionChange)="selectionChange($event)"
        (removed)='remove(user)' [selected]="true" >
  			{{user.email}}
  			<mat-icon matChipRemove *ngIf='removable'>cancel</mat-icon>
  		</mat-chip>
      <input #searchBox matInput placeholder="{{inputlabel}}" 
      		[matChipInputFor]='chiplist'
      		[matChipInputSeparatorKeyCodes]='separatorKeysCodes'
      		[matAutocomplete]="auto" 
      		(keyup)="search($event, searchBox.value)" >
    </mat-chip-list>

  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let model of models | async" 
    		(onSelectionChange)="selectEntity(model, searchBox)"
    		[value]="model">
      {{ model.email }}
    </mat-option>
  </mat-autocomplete>
