<div class="container-fluid">
 	<div class="row">
 		<div class="col-sm-12 col-md-12">
 			<p class='text-destacado'>{{ empresa }} </p>
 			<p class='text-normal'>{{ compNum }} </p>
 			<p class='text-normal'>{{ estado }}</p>
 			<p class='text-normal'>{{ codigo }} </p>

 			<p class='text-normal' >
				<strong>{{ slug }}</strong>
 			</p>

			 <p class='text-normal' [innerHTML]='disclaimer'></p>

			 <ng-container *ngIf="closable$ | async ">
				<div class="close-block">
					<button mat-raised-button color="{{ btnColor }}" 
							(click)="closeCenso()" >{{ btnLabel }}</button>
				  </div>
			  
			 </ng-container>
 		</div>
	</div>
</div>
