<div class="container-fluid">
 	<div class="row">
 		<div class="col-sm-12 col-md-12">
 			<p class='text-destacado'>{{ slug }} </p>
 			<p class='text-resaltado'>{{ codigo }} :: {{ type }} </p>
 			<p class='text-normal'>{{ description }} </p>
 		</div>
	</div>
 	<!-- div class="row">
 		<div class="col-sm-12 col-md-12">
      <div class="additional-info">

        <button mat-button type="button" color="accent" 
                (click)="onCancel()">Siguiente</button>
      </div>
    </div>
  </div-->

</div>
