<card>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput placeholder="First name" [formControl]="form.controls['fname']">
          <small *ngIf="form.controls['fname'].hasError('required') && form.controls['fname'].touched" class="form-message text-danger">You must include a first name.</small>
          <small *ngIf="form.controls['fname'].hasError('minlength') && form.controls['fname'].touched" class="form-message text-danger">Your first name must be at least 5 characters long.</small>
          <small *ngIf="form.controls['fname'].hasError('maxlength') && form.controls['fname'].touched" class="form-message text-danger">Your first name cannot exceed 10 characters.</small>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field>
          <input matInput placeholder="Email address" [formControl]="form.controls['email']" type="email">
          <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="form-message text-danger">You must include an email address.</small>
          <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="form-message text-danger">You must include a valid email address.</small>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field>
          <input matInput placeholder="Website address" [formControl]="form.controls['url']" type="url">
          <small *ngIf="form.controls['url'].hasError('required') && form.controls['url'].touched" class="form-message text-danger">You must include a web address.</small>
          <small *ngIf="form.controls['url'].errors?.url && form.controls['url'].touched" class="form-message text-danger">You must include a valid web address.</small>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="form.controls['date']">

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <small *ngIf="form.controls['date'].hasError('required') && form.controls['date'].touched" class="form-message text-danger">You must include a date.</small>
          <small *ngIf="form.controls['date'].errors?.date && form.controls['date'].touched" class="form-message text-danger">You must include a valid date.</small>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field>
          <input matInput placeholder="Number range (between 5 and 9)" [formControl]="form.controls['range']">
          <small *ngIf="form.controls['range'].hasError('required') && form.controls['range'].touched" class="form-message text-danger">You must enter a number.</small>
          <small *ngIf="form.controls['range'].errors?.range && form.controls['range'].touched" class="form-message text-danger">Number should be between 5 and 9.</small>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field>
          <input matInput placeholder="Credit card" [formControl]="form.controls['creditCard']">
          <small *ngIf="form.controls['creditCard'].hasError('required') && form.controls['creditCard'].touched" class="form-message text-danger">You must enter a credit card.</small>
          <small *ngIf="form.controls['creditCard'].errors?.creditCard && form.controls['creditCard'].touched" class="form-message text-danger">You must enter a valid credit card number.</small>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field>
          <input matInput placeholder="US Phone number (15417543010)" [formControl]="form.controls['phone']" type="text">
          <small *ngIf="form.controls['phone'].hasError('required') && form.controls['phone'].touched" class="form-message text-danger">You must include phone number.</small>
          <small *ngIf="form.controls['phone'].errors?.phone && form.controls['phone'].touched" class="form-message text-danger">You must include a valid phone number.</small>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field>
          <input matInput placeholder="Password" [formControl]="form.controls['password']" type="password">
          <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="form-message text-danger">You must include password.</small>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field>
          <input matInput placeholder="Confirm Password" [formControl]="form.controls['confirmPassword']" type="password">
          <small *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="form-message text-danger">You must include confirm password.</small>
          <small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="form-message text-danger">Passwords do not math.</small>
        </mat-form-field>
      </div>

    </div>


    <div class="mb-4">
      <label>Gender</label>
      <mat-radio-group [formControl]="form.controls['gender']">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <small *ngIf="!form.controls['gender'].valid && form.controls['gender'].touched" class="form-message text-danger">You must select a gender.</small>
      </mat-radio-group>
    </div>

    <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</card>
