doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/src/assets/css/bootstrap.min.css')
  body
    #maincontent
      block content
      p donde apareces tu?

      block footer
