<mat-card class="detail-card">
	<mat-card-header>
		<mat-card-title><strong>{{ title }}</strong></mat-card-title>
	</mat-card-header>

  <mat-card-content>
  	<div class="container-fluid search-panel">
		 	
		 	<div 	*ngIf="hasCurrentPerson" >
		 		<comercio-core-status [person]='currentPerson'
		 					(updatePerson)='navigateToProfile($event)' ></comercio-core-status>


		 		<h5>Emisión del Rol de Nocturnidad</h5>
				<rol-noche-panel  [items]='rolnocturnidadList' 
											(updateItems)='updateRolnocturnidadList($event)' ></rol-noche-panel>		
			</div>


		</div>

 	</mat-card-content>
</mat-card>
