<mat-card class="detail-card">
	<mat-card-header>
		<mat-card-title><strong>{{ title }}</strong></mat-card-title>
	</mat-card-header>

  <mat-card-content>
  	<div class="container-fluid search-panel">
		 	<div 	*ngIf="hasCurrentPerson" >
		 		<comercio-core-base [person]='currentPerson'
		 					(updatePerson)='updateCore($event)' ></comercio-core-base>


		 					<button  mat-raised-button color="warn" 
		 									(click)="gotoRolNocturnidada()">Ir a Rol Nocturnidad</button>
			</div>
	

		</div>
 	</mat-card-content>
</mat-card>
