<ngx-datatable
  class="material"
  [rows]="models"
  [columns]="columns"
  [headerHeight]="'auto'"
  [rowHeight]="'auto'"
  [loadingIndicator]="loadingIndicator"
  [columnMode]="'force'">
</ngx-datatable>

<ng-template #viewTmpl let-row="row" let-value="value" let-i="index">
	<a routerLink="/test/folder/{{ row._id }}" >{{ value }}</a>
</ng-template>

<ng-template #actionsTmpl let-row="row" let-value="value" let-i="index">
	<a routerLink="/test/folder/{{ value}}" ><i class="far fa-edit" aria-hidden="true"></i></a>
</ng-template>