<div class="container-fluid p-0">
	<form [formGroup]="form">

	<div class="row">
	    <div  class="col">
				<mat-checkbox 
					[checked]="form.controls['isActive'].value===true"
					[formControl]="form.controls['isActive']" >
					Caso de seguimiento activo vigente </mat-checkbox>
		</div>
	</div>



	<div class="row">
	    <div  class="col">
	        <mat-form-field>
	          <input  matInput [formControl]="form.controls['fe_llamado']" placeholder="Fecha llamado" >
	        </mat-form-field>
	    </div>
		<div class="col" style="text-align: center;">
			<mat-form-field>
				<mat-label>Resultado del llamado</mat-label>
				<mat-select #fldResultado  formControlName='resultado'
										(selectionChange)="changeSelectionValue('resultado', fldResultado.value)">

				    <mat-optgroup [disabled]="!resultadoSeguimOptList.length" [label]="'Resultado del llamado'">
				        <mat-option *ngFor="let resultado of resultadoSeguimOptList" [value]="resultado.val">
				            {{ resultado.label }} 
				        </mat-option>
				    </mat-optgroup>

				</mat-select>
			</mat-form-field>
		</div>
	</div>


	<div class="row">
		<div class="col" style="text-align: center;">
			<mat-form-field>
				<mat-label>Evolución del afectado</mat-label>
				<mat-select #fldVector  formControlName='vector'
										(selectionChange)="changeSelectionValue('vector', fldVector.value)">

				    <mat-optgroup [disabled]="!vectorSeguimientoOptList.length" [label]="'Indicá el tipo de seguimiento'">
				        <mat-option *ngFor="let tipo of vectorSeguimientoOptList" [value]="tipo.val">
				            {{ tipo.label }} 
				        </mat-option>
				    </mat-optgroup>

				</mat-select>
			</mat-form-field>
		</div>
	</div>

	<div class="row">
		<div  class="col">
		    <mat-form-field>
		      <input  matInput [formControl]="form.controls['slug']" placeholder="Comentarios del afectado/a" >
		    </mat-form-field>
		</div>
	</div>
	<div class="row">
		<div  class="col">
		    <mat-form-field>
		      <input  matInput [formControl]="form.controls['indicacion']" 
		      				placeholder="Indicaciones y observaciones del profesional de la salud" >
		    </mat-form-field>
		</div>
	</div>

	<div class="additional-info">
		<button mat-raised-button color="primary" (click)="onSubmit()">
		    Confirmar </button>
		<button mat-raised-button color="warn"  (click)="onCancel()">
		    Cancelar </button>
	</div>
  
	</form>
</div>