<div class="container-fluid p-0">
	<form [formGroup]="form">

	<div class="row">
	    <div  class="col">
				<mat-checkbox 
					[checked]="form.controls['isActive'].value===true"
					[formControl]="form.controls['isActive']" >
					Caso de seguimiento activo vigente </mat-checkbox>
			</div>
			<div  class="col">
				<p class="text-resaltado" >{{ displayAs }}</p>
			</div>
	</div>
	
	<div class="row">
		  <div  class="col-md-6">
					<mat-checkbox 
						[checked]="form.controls['isAsistido'].value===true"
						[formControl]="form.controls['isAsistido']" >
						Caso activo de asistencia social directa </mat-checkbox>
			</div>
			<div  class="col">
				<p class="text-resaltado" >Síntoma COVID: {{ estadoSintoma }}</p>
			</div>
	</div>


	<div class="row">
				<div  class="col-md-6 offset-md-6">
					<p class="text-resaltado" >Internado: {{ internacionTxt }}</p>
				</div>

	</div>



	<div class="row">
	    <div  class="col">
	        <mat-form-field>
	          <input  matInput [formControl]="form.controls['fe_llamado']" placeholder="Fecha llamado" >
	        </mat-form-field>
	    </div>
		<div class="col" style="text-align: center;">
			<mat-form-field>
				<mat-label>Resultado del llamado</mat-label>
				<mat-select #fldResultado  formControlName='resultado'
										(selectionChange)="changeSelectionValue('resultado', fldResultado.value)">

				    <mat-optgroup [disabled]="!resultadoSeguimOptList.length" [label]="'Resultado del llamado'">
				        <mat-option *ngFor="let resultado of resultadoSeguimOptList" [value]="resultado.val">
				            {{ resultado.label }} 
				        </mat-option>
				    </mat-optgroup>

				</mat-select>
			</mat-form-field>
		</div>
		<div class="col">
			<mat-form-field>
				<mat-label>Estado del síntoma</mat-label>
				<mat-select #fldAvance  formControlName='sintoma' 
										(selectionChange)="changeSelectionValue('sintoma', fldAvance.value)">

				    <mat-optgroup [disabled]="!sintomaOptList.length" [label]="'Síntoma'">
				        <mat-option *ngFor="let item of sintomaOptList" [value]="item.val">
				            {{ item.label }} 
				        </mat-option>
				    </mat-optgroup>

				</mat-select>
			</mat-form-field>
		</div>
	</div>

  <div class="row">
    <div class="col d-flex align-items-center">
    	<span>ESTADO INTERNACIÓN: </span>
      <mat-radio-group  formControlName="internadoFup" 
      									aria-label="Cambio en el estado de internación">
        <mat-radio-button 
              [checked]="form.controls['internadoFup'].value===1" 
              (change)='changeActualState(1)'
              [value]="1">Mantiene situación actual</mat-radio-button>
        <mat-radio-button 
              [checked]="form.controls['internadoFup'].value===2" 
              (change)='changeActualState(2)'
              [value]="2">Aislamiento en domicilio</mat-radio-button>
        <mat-radio-button 
              [checked]="form.controls['internadoFup'].value===3" 
              (change)='changeActualState(3)'
              [value]="3">Cambió lugar</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="row">
		<div  class="col">
		    <mat-form-field>
		      <input  matInput [formControl]="form.controls['locacionSlug']" 
		      				placeholder="Nuevo lugar de internación" >
					<mat-hint align="end">Lugar internacion: {{ internacionTxt }}</mat-hint>
					<mat-error *ngIf="hasError('locacionSlug', 'ingreseLocacion')">Ingrese nueva locación de internación</mat-error>
		    </mat-form-field>
		</div>

  </div>


	<div class="row">
		<div  class="col">
		    <mat-form-field>
		      <input  matInput [formControl]="form.controls['slug']"  
		      				 placeholder="Comentarios del afectado/a" >
		    </mat-form-field>
		</div>
	</div>
	<div class="row">
		<div  class="col">
		    <mat-form-field>
		      <input  matInput [formControl]="form.controls['indicacion']" 
		      				placeholder="Indicaciones y observaciones del profesional de la salud" >
		    </mat-form-field>
		</div>
	</div>
	<hr>

	<div class="row">
	    <div  class="col">
				<mat-checkbox 
					[checked]="form.controls['altaVigilancia'].value===true"
					[formControl]="form.controls['altaVigilancia']" >
					FINALIZAR SEGUIMIENTO EPIDEMIOLÓGICO</mat-checkbox>
			</div>
			<div  class="col">
					<button mat-raised-button color="accent" 
							(click)="finalizarEpidemio()"
							[disabled]="!form.valid || 
													formClosed ||
													!form.controls['altaVigilancia'].value !== afectadoFollowUp.altaVigilancia" >
												CONFIRMAR ACCIÓN</button>
			</div>
		</div>


	<div class="row">
	    <div  class="col">
					<mat-checkbox 
						[checked]="form.controls['altaAsistencia'].value===true"
						[formControl]="form.controls['altaAsistencia']" >
						FINALIZAR SEGUIMIENTO POR ASISTENCIA SOCIAL</mat-checkbox>
			</div>
			<div  class="col">
					<button mat-raised-button color="accent" 
							(click)="finalizarAsistencia()"
							[disabled]="!form.valid || 
														formClosed || 
														!form.controls['altaAsistencia'].value !== afectadoFollowUp.altaAsistencia">
													CONFIRMAR ACCIÓN</button>
			</div>
	</div>
	<div class="row">
		<div class="col-md-6" style="text-align: center;">
			<mat-form-field>
				<mat-label>Agendar próximo llamado para dentro de...</mat-label>
				<mat-select #fldOffsetLlamado  formControlName='nuevollamadoOffset'
										(selectionChange)="changeSelectionValue('resultado', fldOffsetLlamado.value)">

				    <mat-optgroup [disabled]="!offsetLlamadosOptList.length" [label]="'nuevo llamado en...'">
				        <mat-option *ngFor="let resultado of offsetLlamadosOptList" [value]="resultado.val">
				            {{ resultado.label }} 
				        </mat-option>
				    </mat-optgroup>

				</mat-select>
			</mat-form-field>
		</div>

	</div>

	<div class="d-md-flex justify-content-start">
		<button mat-raised-button color="primary" class='m-1'
				[disabled]="!form.valid || formClosed"
				(click)="onSubmit()">
		    Confirmar </button>
		<button mat-raised-button color="warn"   class='m-1'
				(click)="onCancel()">
		    Cancelar </button>

		<button mat-raised-button color="warn"   class='m-1'
			(click)="genSolicitudAltaAfectado()">
			Generar solicitud ALTA del afectado/a </button>

	</div>
  
	</form>
</div>