<div class="container-fluid">
 	<div class="row">
 		<div class="col-sm-12 col-md-12">
 			<p class='text-destacado'>{{ cName }}: {{ cNum }} - {{ fecha }} -  <strong>{{ action }}</strong></p>
			<p class='text-resaltado'>{{ solicitante }}</p>
			<p class='text-normal'>{{ sector }} ::{{slug}} :: {{ avance }} </p>
			<p class='text-normal'>{{ description }} </p>

			<div class="novedades-container">
				<ng-container *ngIf="hasInternacion" >

					<internacion-view [token]='token'></internacion-view>
				</ng-container>
			</div>

			<div class="novedades-container">
				<ng-container *ngFor="let item of novedades" >
						<p class='text-resaltado'>{{ item.tnovedad }} :: {{ item.novedad }} </p>
						<p class='text-audit'>{{ item.audit }} </p>
				</ng-container>
			</div>
		</div>
	</div>
</div>