<card [title]="'Confirmar correo'" [align]="'center'">
  <span class="material-icons">mail_outline</span>
  <p class="small">Su registro en  <strong>devear</strong> ha sido exitoso. Un correo electrónico ha sido enviado a <strong>{{email}}</strong>. Verifique dicho correo y siga las instrucciones para perfeccionar el alta</p>
  <h3>Si no ve nuestro correo, por favor, verifique su carpeta de correo no-deseado. Gracias.</h3>
  <div class="additional-info">
    <a routerLink="/"  >Ingreso al sitio</a>
  </div>
</card>
<!-- extra-layout/sign-in -->
