
<h1>estamos verificando... </h1>
<turno-person-view 
			[person]='person' 
			(updateToken)=viewPersonEvent($event)></turno-person-view>

<ng-container *ngIf='hasFailedShow'>
	<div id='items' class="row">
		<div class='col-md-12 item'>
			<p class="text-resaltado">{{ failedToken.message }}</p>

      <div class="additional-info">
        	<button mat-raised-button color="primary"
            (click)="onFailed()"
            [disabled]="!form.valid || submited" >Siguiente</button>

      </div>
		</div>


	</div>
</ng-container>

<ng-container *ngIf='turnoShow'>
	<div class="row">
		<div class='col-md-12'>
			<p class="text-resaltado">Seleccioná la Delegación Municipal o el Centro de Integración Comunitaria (CIC) más cercana a tu domicilio</p>
		</div>
	</div>

	<div class="novedades-container">
	  <form [formGroup]="form">

	    <div class="row">
	      <div class="col-sm-12 col-md-3">
	        <mat-form-field>
	          <mat-select #fldDelegacion placeholder="Delegación" 
	            [formControl]="form.controls['delegacion']"
	            (selectionChange)="changeSelectionValue('delegacion',fldDelegacion.value)">
	            <mat-option *ngFor="let item of delegacionOptList" [value]="item.val">{{ item.label }}</mat-option>
	          </mat-select>
	        </mat-form-field>
	      </div>
		</div>
		
		<div class="row">
			<div class='col-md-12'>
				<!--p class="text-atencion"><span><strong>Atención: El Jueves 15 y Viernes 16 no habrá entregas desde la Secretaría (calle Erézcano). Seleccioná otro punto de entrega.</strong></span></p-->
				<p class="text-atencion"><span><strong>Atención: Nueva dirección de entrega del CIC Don Orione: Río Carcaraña 688 (y Av. Eva Perón)</strong></span></p>
				<p class="text-normal"><span><strong>----------------------------------</strong></span></p>
				<p class="text-normal"><span><strong>Direcciones de entrega disponibles</strong></span></p>
				<p class="text-normal"  *ngFor="let item of delegacionOptList"><span><strong>{{ item.label }}: </strong> {{ item.locacion }}</span></p>
			</div>
		</div>
	

      <div class="additional-info">
        <button mat-raised-button color="primary"
            (click)="onFormSubmit()"
            [disabled]="!form.valid || submited ">Generar Turno</button>

        <button mat-button type="button" color="accent" 
                (click)="onFormCancel()">CANCELAR</button>
      </div>

	  </form>
	</div>

</ng-container>

<ng-container *ngIf='turnoSuccess'>
	<div class="row">
		<div class='col-md-12'>
			<p class="text-resaltado">Tu turno se ha generado con éxito: </p>
			<p class="text-resaltado">Retiras el día {{currentTurno.fe_tx}} en {{ currentTurno.slug }}</p>
			<p class="testo-normal">{{ direccion }}</p> 
		</div>
	</div>
</ng-container>

