<mat-card>
	<mat-card-content>
		<ng-container *ngIf='firstStep'>
			<div id='items' class="row">
				<div class='col-md-12 item'>

					<ng-container *ngIf='!showLogin'>
			    	<a role="button" title="{{nodes[0].linkTo}}" href="#" 
			       		(click)="togglePanel($event, 0, nodes[0])">
			       <img class='item-image' src='{{ nodes[0].imageUrl }}'></a>
			     </ng-container>

					<ng-container *ngIf="showLogin">
						<div class="d-flex justify-content-center align-items-center">
							<registro-ingreso [target]='target' (event)="ndocStep($event)"></registro-ingreso>
						</div>
					</ng-container>

				</div>
			</div>
		</ng-container>

		<ng-container *ngIf='secondStep'>
			<div id='items' class="row">
				<div class='col-md-12 item'>

					<ng-container *ngIf="showPassword">
						<div class="d-flex justify-content-center align-items-center">
							<registro-clave [model]="person" [mode]="isUpdate" 
															 [target]='target' 
															(event)=claveStep($event)></registro-clave>
						</div>
					</ng-container>

					<ng-container *ngIf="showRegistration">
						<div 	*ngIf="isComercio" 
									class="d-flex justify-content-center align-items-center">
							<registro-alta 	(event)=altaComercio($event)
															[person]='person'
														 	[target]='target'  ></registro-alta>
						</div>
						<div  *ngIf="!isComercio" 
									class="d-flex justify-content-center align-items-center">
							<registro-altapf 	(event)=altaComercio($event)
																[person]='person'
														 		[target]='target'  ></registro-altapf>
						</div>
					</ng-container>

				</div>
			</div>
		</ng-container>

	</mat-card-content>
</mat-card>


			<!-- div id='top' class="row align-items-center justify-content-center">
				<div class='col' >
					<h4  class='top-title'>{{title}}</h4>
					<div class='top-description' innerHtml='{{description}}'></div>
				</div>
			</div  ----------------------------------------------------------------->


							<!--ng-container *ngIf="!showRegistration">
		          	<a role="button" title="{{nodes[1].linkTo}}" href="#" 
		             		(click)="togglePanel($event, 1, nodes[1])">
		             <img class='item-image' src='{{ nodes[1].imageUrl }}'></a>
		           </ng-container -->

