@import '../../../assets/sass/variable';
$color-destacado: #ff8c00;
$color-resaltado: #0645f5;

.search-panel {
	font-size: 1.2em;
}

.alert {
	font-size: 1.2em;
	font-weight: 700;
	color: $color-destacado;
	margin-left: 20px;

}
.person-search {
  .person-search-button {
  	margin-top: 15px;

		font-size: 1em;
  }


}

.text-destacado {
		margin: 0 0 0 0;
		color: $color-resaltado;
		font-weight: 400;
		font-size: 2rem;
		font-style: italic;

}

.text-resaltado {
		margin: 0 0 0 0;
		color: $color-resaltado;
		font-weight: 700;
		font-size: 1.2rem;
		font-style: italic;

}

.text-normal {
		margin: 0 0 0 0;
		font-weight: 400;
		font-size: 1rem;
}
