$color-destacado: #0645f5;
// .fecha-hora-control {
// 	padding: 10px;
// 	border: solid rgba(50, 50, 50, .6);
// }
// .fecha-hora-container {
// 	padding: 10px 10px 10px 10px;
// }
.text-destacado {
    margin: 0 0 0 0;
    color: $color-destacado;
    font-weight: 400;
    font-size: 1.2rem;
    font-style: italic;
}