<div class="d-md-flex justify-content-between">
	<span class="text-resaltado">CONTACTO ESTRECHOS</span>
  <button mat-raised-button color="primary" 
      (click)="addVinculo()" >+ AGREGAR CONTACTO ESTRECHO</button>
</div>

  <ng-container *ngIf="showVinculosData">
		<vigil-vinculo-view [token]='asistencia'
												(actionSelected)='actionSelected($event)'
												(familySelected)='editVinculo($event)'></vigil-vinculo-view>
    <!--hr>
    <p class='text-resaltado'>CONTACTOS: vínculos estrechos del sospechoso/ afectado</p>
    <div *ngFor="let vinculo of vinculosList$ | async" class="vinculo-token">

			<p class="text-resaltado-vinculo" >
			                {{ vinculo.apellido }} {{ vinculo.nombre }} 
			                <strong> Tel: {{ vinculo.telefono}}</strong>

					<span class="text-normal-vinculo" [ngClass]="vinculo.styleclass">
	            {{ vinculo.tdoc }}: {{ vinculo.ndoc }}  
	            <strong>{{ vinculo.vinculo }} - {{ vinculo.nucleo }} </strong></span>
			  	<span class="edit-control"
			        (click)='editVinculo(vinculo)' title="Edición de los datos del contacto">
			        <i [class]="'fas fa-pencil-alt'" aria-hidden="true"></i></span>
			</>
		</div -->
  </ng-container>
