<mat-card>
  <mat-card-content>
    <div class="d-flex justify-content-center search-person" >
      <person-browse (lookUpModels)="fetchPerson$($event)" ></person-browse>
    </div>
    <ngx-datatable
      #table
      class="material"
      [rows]="models"
      columnMode="force"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="35"
      [limit]="15"
      >

       <ngx-datatable-column name="Documento" prop="ndoc"></ngx-datatable-column>
       <ngx-datatable-column name="Denominación" prop="displayName"></ngx-datatable-column>
       <ngx-datatable-column name="Fecha Nacimiento" prop="fenactx"></ngx-datatable-column>
       <ngx-datatable-column name="Dato de contacto" prop="contactdata">
          <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
            <span>{{ value && value.length && value[0].data || 's/d'}}</span>

          </ng-template>     
         
       </ngx-datatable-column>

       <ngx-datatable-column name="Editar" prop="_id">
          <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
            <a  class="navigate-btn" [routerLink]="['./',value]" >
              <i class="far fa-edit" aria-hidden="true"></i></a>
            <a  class="navigate-btn" [routerLink]="['/dsocial/gestion/atencionsocial',value]" title="evaluación socio-económica" >
              <i class="far fa-user" aria-hidden="true"></i></a>
          </ng-template>     
       </ngx-datatable-column>

    </ngx-datatable>
  </mat-card-content>
</mat-card>
