<mat-card >
  <mat-card-content>
  <form [formGroup]="form">

    <div class="row" >
      <div class="col">
        <mat-form-field>
          <input matInput [formControl]="form.controls['slug']" 
                    placeholder="Denominación evento" >
        </mat-form-field>
      </div>
    </div>

    <div class="row" >
      <div class="col">
        <mat-form-field>
          <textarea matInput [formControl]="form.controls['description']" 
                    placeholder="Descripción Ejecutiva" >
          </textarea> 
        </mat-form-field>
      </div>
    </div>

    <div class="row" >

      <div class="col">
        <mat-form-field>
          <input matInput type="number" [formControl]="form.controls['freq']" 
                    placeholder="Frecuencia" >
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select #fldFume placeholder="UM freq"
              [formControl]="form.controls['fume']"
              (selectionChange)="changeSelectionValue('fume',fldFume.value)" >
            <mat-option *ngFor="let item of fumeOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field>
          <input matInput type="number" [formControl]="form.controls['qty']" 
                    placeholder="Cantidad" >
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select #fldUME placeholder="UM"
              [formControl]="form.controls['ume']"
              (selectionChange)="changeSelectionValue('ume',fldUME.value)" >
            <mat-option *ngFor="let item of umeOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field>
          <input matInput type="number" [formControl]="form.controls['importe']" 
                    placeholder="Importe" >
        </mat-form-field>
      </div>

    </div>

    <div class="row" >
      <div class="col">
        <mat-form-field>
          <mat-select #fldPrograma placeholder="Programa"
              [formControl]="form.controls['programa']"
              (selectionChange)="changeSelectionValue('programa',fldPrograma.value)" >
            <mat-option *ngFor="let item of programaOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field>
          <mat-select #fldType placeholder="Tipo de Evento"
              [formControl]="form.controls['type']"
              (selectionChange)="changeSelectionValue('type',fldType.value)" >
            <mat-option *ngFor="let item of typeOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

     <div class="col">
        <mat-form-field>
          <mat-select #fldSubType placeholder="Subtipo de Evento"
              [formControl]="form.controls['stype']"
              (selectionChange)="changeSelectionValue('stype',fldSubType.value)" >
            <mat-option *ngFor="let item of stypeOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row" >
      <div class="col">
        <mat-form-field>
          <mat-select #fldSector placeholder="Área ejecutiva"
              [formControl]="form.controls['sector']"
              (selectionChange)="changeSelectionValue('sector',fldSector.value)" >
            <mat-option *ngFor="let item of sectorOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field>
          <mat-select #fldSede placeholder="Sede"
              [formControl]="form.controls['sede']"
              (selectionChange)="changeSelectionValue('sede',fldSede.value)" >
            <mat-option *ngFor="let item of sedeOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field>
          <mat-select #fldLocacion placeholder="Locación"
              [formControl]="form.controls['locacion']"
              (selectionChange)="changeSelectionValue('locacion',fldLocacion.value)" >
            <mat-option *ngFor="let item of locacionOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="additional-info">
      <button mat-raised-button color="primary" type="submit" 
          (click)="onSubmit()"
          [disabled]="!form.valid" >Aceptar</button>
      
      <button mat-button type="button" color="accent"
          (click)="onCancel()" >Cancelar</button>

      <button mat-button type="button" color="warning"
          (click)="deleteToken()" >Borrar</button>          

    </div>


  </form>
</mat-card-content>
</mat-card>
