<ng-container *ngIf='asistencia.isAsistencia'>
  <ng-container *ngIf="showSisaData">
  <hr>
  <p class='text-resaltado'>SISA -   <strong>{{ sisaData.avance }}</strong>  -
                          (Ref. SISA: {{ sisaData.sisaevent.sisaId }}) </p>
  <p class='text-normal'> Reportado: {{ sisaData.sisaevent.fe_reportado }} 
                          Por: {{ sisaData.sisaevent.reportadoPor }}</p>

  <p class='text-normal'>{{ sisaData.sisaevent.slug }}</p>
  <p class='text-normal'>Última consulta SISA: {{ sisaData.sisaevent.fe_consulta }}</p>
  </ng-container>

  <ng-container *ngIf="showSeguimientoData">
  <hr>
  <p class='text-resaltado'>SEGUIMIENTO {{ seguimiento.tipo }} -  <strong>
                          {{ seguimiento.vector }}</strong>  -
                          (Últ contacto: {{ seguimiento.token.fe_ucontacto }}) </p>
  <p class='text-normal'> {{ seguimiento.token.slug }} </p>
  <p class='text-normal'> Inicio: {{ seguimiento.token.fe_inicio }} 
                                              Contactos: {{ seguimiento.token.qcontactos }} / {{ seguimiento.token.qllamados }} 
                                              Última: {{ seguimiento.lastCall }} 
                                          #{{ seguimiento.token.qIntents }} </p>
  </ng-container>

  <ng-container *ngIf="showInfectionData">
  <hr>
  <p class='text-resaltado'>COVID {{ infectionData.avance }} -  
      <strong>{{ infectionData.sintoma }} </strong></p>
  <p class='text-normal'> Inicio:{{ infectionData.token.fe_inicio }}  
                          Confirmación:{{ infectionData.token.fe_confirma }}  
                          Alta:{{ infectionData.token.fe_alta }} </p>

  <p class='text-normal'> Contactos cercanos: Hogar: {{ infectionData.token.qcovivientes }} 
      Trabajo: {{ infectionData.token.qcoworkers }} 
      Otros: {{ infectionData.token.qotros }} </p>
  <p class='text-normal'>{{ infectionData.token.slug }}</p>

  </ng-container>

  <ng-container *ngIf="showMuestrasData">
      <hr>
      <ng-container *ngFor="let muestra of muestrasList">
          <p class='text-resaltado'>LAB {{ muestra.token.muestraId }} -  {{ muestra.token.fe_resestudio}} ::
                  {{ muestra.estado}} - <strong>{{ muestra.resultado }} </strong></p>
          <p class='text-normal'>LAB: {{ muestra.token.laboratorio }} 
                                  TOMA: {{  muestra.token.locacionSlug }}</p>
          <p class='text-normal'>LAB: {{ muestra.token.alerta }} TOMA: {{  muestra.token.slug }}</p>

      </ng-container>
  </ng-container>

  <ng-container *ngIf="showVinculosData">
      <hr>
      <p class='text-resaltado'>CONTACTOS: vínculos estrechos del sospechoso/ afectado</p>
      <div *ngFor="let vinculo of vinculosList$ | async" class="vinculo-token">
              <p class="text-resaltado-vinculo" [ngClass]="vinculo.styleclass" >
                          <span *ngIf='vinculo.altaSeguimiento'>SEGUIM FINALIZADO - </span>
                              {{ vinculo.slug }} 
                              <strong> Tel: {{ vinculo.token.telefono}}</strong></p>

              <p class="text-normal-vinculo" [ngClass]="vinculo.styleclass">
                          {{ vinculo.token.tdoc }}: {{ vinculo.token.ndoc }}  
                          <strong>{{ vinculo.vinculo }} - {{ vinculo.token.nucleo }}</strong>
                  <span class="edit-control"
                      (click)='editVinculo(vinculo)' title="Edición de los datos del contacto">
                      <i [class]="'fas fa-pencil-alt'" aria-hidden="true"></i></span>
                  <span class="edit-control"
                      (click)='manageVinculo(vinculo)' title="Seguimiento del contacto">
                      <i [class]="'far fa-edit'" aria-hidden="true"></i></span>

                  <span *ngIf='vinculo.labBadge.hasData' class="badge-vinculo" >
                    <badge  [color]="vinculo.labBadge.color" >{{vinculo.labBadge.branding}}</badge>

                    <badge  *ngFor='let lab of vinculo.labBadge.muestras'
                            matTooltip='{{lab.toolTip}}'
                            [color]="lab.color" 
                            [arrow]="lab.arrow" 
                            [borderRadius]="lab.border">
                            {{ lab.fecha }}</badge>
                  </span>

                  <span *ngIf='vinculo.hisopadoBadge.hasData' class="badge-vinculo" >
                    <badge  [color]="vinculo.hisopadoBadge.color" >{{vinculo.hisopadoBadge.branding}}</badge>
                  </span>

                  <span *ngIf='vinculo.covidBadge.hasData' class="badge-vinculo" 
                        matTooltip='{{vinculo.covidBadge.toolTip}}'>
                    <badge  [color]="vinculo.covidBadge.color" >{{vinculo.covidBadge.branding}}</badge>
                    <badge  [color]="vinculo.covidBadge.color" 
                            [arrow]="vinculo.covidBadge.arrow" 
                            [borderRadius]="vinculo.covidBadge.border">
                            {{ vinculo.covidBadge.label }}::{{ vinculo.covidBadge.fecha }}</badge>
                  </span>


                  <span *ngIf='vinculo.fupBadge.hasData'  class="badge-vinculo" 
                        matTooltip='{{vinculo.fupBadge.toolTip}}'>
                    <badge  [color]="'warning'" >{{vinculo.fupBadge.branding}}</badge>
                    <badge  [color]="vinculo.fupBadge.asignado ? 'warning':'info' " >
                              {{ vinculo.fupBadge.asignado ? ':-)':'o('  }}</badge>
                    <badge  [color]="'warning'" 
                            [borderRadius]="vinculo.fupBadge.border">
                            {{ vinculo.fupBadge.label }}</badge>
                    <badge  [color]="vinculo.fupBadge.color" 
                            [arrow]="vinculo.fupBadge.arrow" 
                            [borderRadius]="vinculo.fupBadge.border">
                            {{ vinculo.fupBadge.fecha }}</badge>
                    <badge  [color]="vinculo.fupBadge.color">{{vinculo.fupBadge.qty}}</badge>
                  </span>


              </p>


      </div>
  </ng-container>

  <div *ngIf="showFollowUp" class='follow-up-container'>

      <vigilancia-followup    [asistencia]='manageIndizado' 
                              [viewList]='viewList'
                              [showObservacionesPanel]=showObservacionesPanel
                              (closePanel)='closeFollowUp($event)'></vigilancia-followup>

  </div >

  <ng-container *ngIf="showGenericData">
  <hr>
	<p class='text-normal'>{{ asistencia.locacionTxt }}</p>
	<p class='text-normal'>{{ asistencia.fiebreTxt }}</p>
	<p class='text-normal'>{{ asistencia.sintomasTxt }}</p>
	<p class='text-normal'>{{ asistencia.contagioTxt }}</p>
	<p class='text-normal'>{{ asistencia.contexto }}</p>
	<p class='text-normal'>{{ asistencia.indicacion }}</p>
	<p class='text-normal'>{{ asistencia.description }} </p>

	<p class='text-resaltado'>{{ asistencia.sector }} :: {{asistencia.slug}} :: {{ asistencia.avance }}</p>
  </ng-container>


  <ng-container *ngIf='showIcons'>
    <div class='row'>
      <div class="col-md-12">
        <p class='text-headerblock'>{{ asistencia.solicitante }}</p>
        <p class='text-normal'>{{ asistencia.dni }}: {{ asistencia.cNum }} - {{ asistencia.fecha }} -  

            <strong>{{ asistencia.action }}  {{ asistencia.epiw}}</strong>
          
                  <span class="edit-control"
                      (click)='editCoreData()' title="Edición de datos maestros">
                      <i [class]="'fas fa-pencil-alt'" aria-hidden="true"></i></span>
        </p>

      </div>
    </div>


    <div class='row icons-block'>
      <div class='col-md-10'>
        <div class="d-md-flex justify-content-between align-items-center" >

          <div *ngIf='sisaBadge.hasData' 
                matTooltip='{{sisaBadge.toolTip}}'>
            <badge  [color]="sisaBadge.color" >{{sisaBadge.branding}}</badge>
            <badge  [color]="sisaBadge.color" 
                    [arrow]="sisaBadge.arrow" 
                    [borderRadius]="sisaBadge.border">
                    {{ sisaBadge.label }}::{{ sisaBadge.fecha }}</badge>
          </div>
 
          <div *ngIf='covidBadge.hasData' 
                matTooltip='{{covidBadge.toolTip}}'>
            <badge  [color]="covidBadge.color" >{{covidBadge.branding}}</badge>
            <badge  [color]="covidBadge.color" 
                    [arrow]="covidBadge.arrow" 
                    [borderRadius]="covidBadge.border">
                    {{ covidBadge.label }}::{{ covidBadge.fecha }}</badge>
          </div>
 
          <div *ngIf='labBadge.hasData' >
            <badge  [color]="labBadge.color" >{{labBadge.branding}}</badge>

            <badge  *ngFor='let lab of labBadge.muestras'
                    matTooltip='{{lab.toolTip}}'
                    [color]="lab.color" 
                    [arrow]="lab.arrow" 
                    [borderRadius]="lab.border">
                    {{ lab.fecha }}</badge>
          </div>
          <div *ngIf='hisopadoBadge.hasData' >
            <badge  [color]="hisopadoBadge.color" >{{hisopadoBadge.branding}}</badge>
          </div>

          <div *ngIf='fupBadge.hasData' 
                matTooltip='{{fupBadge.toolTip}}'>
            <badge  [color]="'warning'" >{{fupBadge.branding}}</badge>
            <badge  [color]="fupBadge.asignado ? 'warning':'info' " >{{ fupBadge.asignado ? ':-)':'o('  }}</badge>
            <badge  [color]="'warning'" 
                    [borderRadius]="fupBadge.border">
                    {{ fupBadge.label }}</badge>
            <badge  [color]="fupBadge.color" 
                    [arrow]="fupBadge.arrow" 
                    [borderRadius]="fupBadge.border">
                    {{ fupBadge.fecha }}</badge>
            <badge  [color]="fupBadge.color">{{fupBadge.qty}}</badge>
          </div>
 
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf='asistencia.casoIndice'>

      <p class='text-normal'>{{ asistencia.casoIndiceTxt }}
          <span class="edit-control"
              (click)='manageCasoIndice(asistencia.casoIndice)' title="Seguimiento del caso índice">
              <i [class]="'far fa-edit'" aria-hidden="true"></i></span>
      </p>
  </ng-container>

