<mat-card class="detail-card">
  <mat-card-content>

  		<ng-container *ngIf="showView">
		 	<div class="row">
		 		<div class="col-md-1">
		 			<div>
					<span class="edit-control"
						(click)='editToken()' title="Editar datos">
						<mat-icon class="edit-icon">edit</mat-icon></span>
					</div>
		 		</div>

		 		<div class="col-md-11">
		 			<empresa-members-view [token]='token'></empresa-members-view>
		 		</div>
			</div>
		 </ng-container>
	
  		<ng-container *ngIf="showEdit">
		 	<div class="row">
		 		<div class="col-sm-12 col-md-12">
		 			<empresa-members-edit [token]='token'
		 								(updateToken)='manageToken($event)' ></empresa-members-edit>
		 		</div>
			</div>
		 </ng-container>
	
  </mat-card-content>
</mat-card>
