<ng-container *ngIf='showCesnoManage' >
    <censo-industrial-manage [censo]='censo'></censo-industrial-manage>

</ng-container>

<mat-card>
    <mat-card-content>
                <div class="d-md-flex justify-content-start align-items-center" >
            <mat-button-toggle-group #fldButtonGrp2  name="actions"  class="panel-header-followup"
                  (change)='actionTriggered($event)'>
              <mat-button-toggle value="seguimiento">
                SEGUIMIENTO
              </mat-button-toggle>
          
            </mat-button-toggle-group>      
              
          </div>
          
    </mat-card-content>
</mat-card>



