<mat-card class="detail-card">
	<!---  encabezado con boton de editar relación 
	<mat-card-header>
		<mat-card-subtitle>	
			<span>Datos básicos: </span>

			<span style="margin: 10px" 
				(click)='editToken()' title="abrir/ cerrar editor de relación">
				<i [class]="openEditor ? 'fas fa-pen-square' : 'far fa-edit'" aria-hidden="true"></i></span>

			<span style="margin: 10px" 
				(click)='removeToken(token)' title="Remover relación de esta ficha"  >
				<i class='fas fa-times' aria-hidden="true"></i></span>
		</mat-card-subtitle>
	</mat-card-header>
	 -->

  <mat-card-content>

  		<ng-container *ngIf="showView">
		 	<div class="row">
		 		<div class="col-sm-1 col-md-1">
					<div>
						<span class="edit-control"
							(click)='editToken()' title="Editar datos">
							<i [class]="openEditor ? 'fas fa-pen-square' : 'far fa-edit'" 
							aria-hidden="true"></i></span>
					</div>

		 		</div>
		 		<div class="col-sm-11 col-md-11">
		 			<core-view [person]='person'></core-view>
		 		</div>
			</div>
		 </ng-container>
	
  		<ng-container *ngIf="showEdit">
		 	<div class="row">
		 		<div class="col-sm-12 col-md-12">
		 			<core-edit [person]='person'
		 								(updatePerson)='updateCore($event)' ></core-edit>
		 		</div>
			</div>
		 </ng-container>
	
  </mat-card-content>
</mat-card>
