@import '../../../assets/sass/variable';

:host {
	.mat-card {
		// background: main-color(900);
		// color: rgba(0, 0, 0, 0.87);
	}

	#redes {
		font-size: 1.5em;
		text-align: right;
		color: rgba(0, 0, 0, 0.87);
	}
	
	.text-social {
		margin:  0 15px 0 0;
	}

	#footer {
		.footer-text {
			font-size: 0.8em;
			text-align: right;
			color: rgba(0, 0, 0, 0.87);
			//color: main-color(50);

			.separator {
				border-bottom: 1px solid rgba(0, 0, 0, 0.87);
				margin: 0 0 15px 0;
				width: 100%;
			}


		}

		.image-box {
			max-height: 40px;
			max-width: 250px;
		}

		.footer-img {
			max-height: 35px;
			width: auto;
		}

	}





	.bottom-image {
	}


}
