<mat-card>
	<mat-card-content>
		<div *ngIf="isModoUNO" class="container-fluid">
			<div id='footer' class="row align-items-end">
				<div class='col-md' *ngFor='let node of nodes'>

					<ng-container *ngIf='node.hasImage'>
					<div class="image-box">
						<ng-container *ngIf='node.navigateTo'>
							<a routerLink='{{ node.navigateTo }}'>
								<img class='footer-img' src='{{ node.imageUrl }}' ></a>
						</ng-container>

						<ng-container *ngIf='node.linkTo'>
		          <a rel="noopener noreferrer"  target="_blank" 
		          	 title="{{node.linkTo}}" href="{{node.linkTo}}" >
	          		<img class='footer-img' src='{{ node.imageUrl }}' ></a> 
						</ng-container>
						
						<ng-container *ngIf='node.noLink'>
	             <img class='footer-img' src='{{ node.imageUrl }}' >
	           </ng-container>
					</div>
					</ng-container>

					<div class='footer-text' innerHtml='{{node.description}}'></div>
				
				</div>
			</div>
		</div>

		<div *ngIf="isModoDOS" class="container-fluid">
			<div id='footer' class='d-md-flex flex-row justify-content-between align-items-center'>
				<div *ngFor='let node of nodes'>

					<ng-container *ngIf='node.hasImage'>
					<div class="image-box">
						<ng-container *ngIf='node.navigateTo'>
							<a routerLink='{{ node.navigateTo }}'>
								<img class='footer-img' src='{{ node.imageUrl }}' ></a>
						</ng-container>

						<ng-container *ngIf='node.linkTo'>
		          <a rel="noopener noreferrer"  target="_blank" 
		          	 title="{{node.linkTo}}" href="{{node.linkTo}}" >
	          		<img class='footer-img' src='{{ node.imageUrl }}' ></a> 
						</ng-container>
						
						<ng-container *ngIf='node.noLink'>
	             <img class='footer-img' src='{{ node.imageUrl }}' >
	           </ng-container>
					</div>
					</ng-container>

					<div *ngIf="node.description" class='footer-text'>
						<p  innerHtml='{{node.description}}' ></p>
					</div>

				
				</div>
				<div id='redes'>
					<ng-container *ngFor='let social of socialItems'>
				        <a mat-icon target="_blank" rel="noopener"  class="text-social" 
				            href="{{ social.url }}"  title="{{ social.title }}">
				              <i class='{{ social.icon }}'></i></a>
			  	</ng-container>
			  </div>


			</div>
		</div>
	</mat-card-content>
</mat-card>


<!--
		<div id='footer' class="d-flex flex-column flex-md-row justify-content-start align-items-center">
			<div *ngFor='let node of nodes'>
				<span innerHtml='{{node.description}}'></span>
				<img src='{{node.imageUrl}}' >
			</div>
		</div>
-->