<mat-form-field>
  <input  #searchBox  matInput  id="search-box" 
    name="slug"
    [matAutocomplete]="slug"
    (keyup)="search(searchBox.value)"  
    placeholder="buscar producto por denominación..." />
    
    <span matSuffix style="margin: 10px" title="abrir/ cerrar editor de producto"
      (click)='editToken()' >
      <i [class]="openEditor ? 'fas fa-pen-square' : 'far fa-edit'" aria-hidden="true"></i>
    </span>  
</mat-form-field>
<mat-autocomplete #slug="matAutocomplete" >
   <mat-option
          *ngFor="let product of products | async" 
          (onSelectionChange)="selectEntity(product)"
          [value]='product.slug'>
      {{product.slug}}
    </mat-option>
</mat-autocomplete>

