.search {
	background-color: #fafafa;
	padding: 15px;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #ebebeb;
}

#custom-editor {
	min-height: 80px;
}

.conversation-detail {
	font-size: 1.2em;
}

textarea {

}