<mat-card [title]="'Notificaciones'" >
	<mat-card-header>
	  <mat-card-subtitle><span innerHTML="{{ messageActionLabel }}" ></span></mat-card-subtitle>
	</mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" >

      <div id="custom-editor">
        <textarea 
          mediumEditor
          [formControl]="form.controls['content']" 
          [(editorModel)]="meContent"
          [editorOptions]="{'toolbar': {'buttons': ['bold', 'italic', 'underline','pre', 'html', 'anchor', 'h1', 'h2','h3','removeFormat']}}" 
          [editorplaceholder]="mePlaceholder"
          (modelValueChange)="contentUpdateContent($event)">
        </textarea>
      </div>

      <div class="d-flex justify-content between align-items-center">
			<user-chip 
				    [users]='userEmitter' 
            [inputlabel]='"seleccionar destinatarios..."'
            (emitUsers)='updateUserList($event)' ></user-chip>
      </div>
      <mat-form-field>
        <mat-select #fldImportancia placeholder="Nivel de importancia"
            [formControl]="form.controls['importance']"
            (selectionChange)="changeSelectionValue('importance',fldImportancia.value)" >
          <mat-option *ngFor="let item of importanceOpttList" 
            [value]="item.val" >{{ item.label }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="additional-info">
        <button mat-button type="submit" color="primary" 
        		[disabled]="!form.valid"  > Enviar</button>
        <button mat-button type="button"  color="accent"
          (click)="editCancel()"  >Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

