<mat-card>
    <mat-card-title>
        Pasar a tránsito
    </mat-card-title>
    <mat-card-subtitle>
        {{ data.nombreCentroSalud }}
    </mat-card-subtitle>
    <mat-card-content>
        <mat-selection-list>
            <mat-list-option *ngFor="let paciente of data.pacientes">
                {{ paciente.slug }} ({{ paciente.ndoc }}) <!-- : {{ paciente.diagnostico }} -->
            </mat-list-option>
        </mat-selection-list>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-raised-button color="accent" (click)="onClickDerivar()">Derivar</button>
    </mat-card-actions>
</mat-card>