@import '../../../../../assets/sass/variable';

:host {
  

  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;

  card {
    margin: 0 auto;
    display: flex;

    ::ng-deep .card-wrap {
      border: 0;
    }
    form {

      .additional-info {
        background: rgba(#000,.1);
        margin: $module (-$module) (-$module);
        padding: $module/2 $module;
      }
    }
  }
}