<div class="remito-container">
	<p class='text-destacado'>{{ token.fecomp_txa }} {{ token.compName }}: {{ token.compNum }} 
		 <strong> Beneficiario/a: </strong>{{ token.requeridox.slug }}</p>
	<p class='text-normal'><strong>{{ action }}</strong> :: Mov: {{ entrega }} :: {{ kitEntrega }} </p>
	<p class='text-normal'>{{ token.slug }} </p>
	<p class='text-normal'>{{ token.description }} </p>

	<p class="text-destacado" >Productos</p>
	<div *ngFor="let item of items">
		<p class='text-resaltadol'>{{ item.code }}: {{ item.name }} -  {{ item.qty }} ({{umeLabel(item)}}) </p>
	</div>

</div>
