<div *ngIf="model" >

<project-selector (milestoneEmitted)='milestoneChange($event)'
                (buttonViewEmitted)='navigationChange($event)' ></project-selector>

<mat-card >
	<mat-card-header>
		<mat-card-subtitle>
			<span style="min-width: 150px"><strong>Hito seleccionado: </strong><span>{{ milestoneLabel }}</span></span>
	    <button mat-button type="button" color="accent"
	          (click)="editSave()" [disabled]="!true" >guardar productos</button>
		</mat-card-subtitle>
	</mat-card-header>

	<mat-card-content>
	  <mat-list>
			<mat-list-item>
		  	<mat-form-field  style="max-width: 180px; margin-right: 15px;">
		    <mat-select #predicatefld placeholder="Predicado / Relación"
		        [(value)]='predicateSelected'
		        (selectionChange)="changePredicate(predicatefld.value)" >
		      <mat-option *ngFor="let predicate of predicateList" 
		        [value]="predicate.val" >{{ predicate.label }}</mat-option>
		    </mat-select>
				</mat-form-field>

		  	<mat-form-field  style="max-width: 180px">
		    <mat-select #viewfld placeholder="Vista productos"
		        [(value)]='productViewSelected'
		        (selectionChange)="changeTableView(viewfld.value)" >
		      <mat-option *ngFor="let view of viewList" 
		        [value]="view.val" >{{ view.label }}</mat-option>
		    </mat-select>
				</mat-form-field>

				<button *ngIf='predicatefld.value !== "no_definido"' mat-icon-button
						type="button" title="agrega nuevo producto a la Lista relacionada" color="accent" 
						(click)='addProductTokenToList()'>
						<mat-icon>add</mat-icon>
				</button>
			</mat-list-item>

	  	<product-graph *ngFor="let entity of productEditList" 
	  				[entityType]='entityType'
	  				(clearToken)='clearToken($event)'
	  				[graphToken]='entity'>
	  	</product-graph>
	  	
	  </mat-list>

	</mat-card-content>


</mat-card>

<product-table   (actionTriggered)='actionTriggered($event)' ></product-table>

</div>

