@import '../../../assets/sass/variable';

:host {
	#about {
		.about-text {
			min-height: 145px;
			font-size: 1.5em;
			text-align: center;
		}

		.about-img {
			display: block;
			margin: 0 auto;
			margin-bottom: 25px;
		}

	}

	.about-image {
	}


}
