<div class='papers-container'>

<breadcrumb [menu]="breadcrumb" [separator]="'&#187;'"></breadcrumb>

<ng-container *ngIf="isTopbranding">
	<top-branding [record]='topbranding' ></top-branding>	
</ng-container>

<ng-container *ngIf="isTopcarrousel">
	<top-carrousel [record]='topcarrousel' ></top-carrousel>	
</ng-container>

<ng-container *ngIf="isTopabout">
	<top-about [record]='topabout' ></top-about>	
</ng-container>

<ng-container *ngIf="isDestacado">
	<destacado [record]='destacado' ></destacado>	
</ng-container>

<ng-container *ngIf="isServicios">
	<top-servicios [record]='servicios' ></top-servicios>	
</ng-container>

<ng-container *ngIf="isContacto">
	<top-contacto [record]='contacto' ></top-contacto>	
</ng-container>


<ng-container *ngIf="isPapers">
	
	<div class="d-lg-flex flex-row flex-wrap">
	  <app-unitcardview class="w-50 p-2" 
	  		*ngFor='let paper of papers' 
	  		[isAdmin]='isUserAdmin' [model]='paper'></app-unitcardview>
	</div>

</ng-container>

<ng-container *ngIf="isFooter">
	<top-footer [record]='footer' ></top-footer>	
</ng-container>


</div>
<!-- app-cardsviewgrid></app-cardsviewgrid -->

