<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ng-container *ngIf="showForm">
      <form [formGroup]="form" >

        <div class="d-flex align-items-center">
          <span class="text-normal">{{ texto1 }}</span>
          <span class="flex-grow-1"></span>
          <mat-icon style="cursor: pointer;"  matTooltip="{{codigo.ayuda1}}"
                  (click)="showHelp($event, 'ayuda1')">help_outline
          </mat-icon>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field>
              <input matInput type="text" formControlName="slug" placeholder="Alcance del bloque de datos" >
            </mat-form-field>    
          </div>

          <div class="col-md-2">
            <mat-form-field>
              <input matInput type="text" formControlName="qempleados" placeholder="Empleados totales" >
            </mat-form-field>    
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <input matInput type="text" formControlName="qemplab" placeholder="Empleados residentes Almirante Brown" >
            </mat-form-field>    
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <input matInput type="text" formControlName="qemplnoab" placeholder="Empleados extra distrito" >
            </mat-form-field>    
          </div>
        </div>

        
        <p class="text-destacado">Apertura por nivel educativo y género</p>

        <div class="row"  formArrayName='niveleseducativos'>

          <ng-container *ngFor="let neducativo of niveleseducativos.controls; let row=index" [formGroupName]="row">
            <ng-container *ngIf="row % 3 === 0" >
              <div class="col-md-12">
                <p class="text-resaltado">{{neducativo.value.seccion_tx}}</p>
              </div>
            </ng-container>

            <div class="col-md-4">
              <div class="row">
                <div class="col justify-items-center">
                  <span class='text-title'>{{ neducativo.value.nivel_tx }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput (change)='checkSumNE()' type="number" formControlName="qh" placeholder="Hombre" >
                  </mat-form-field>    
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput (change)='checkSumNE()'  type="number" formControlName="qm" placeholder="Mujer" >
                  </mat-form-field>    
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput (change)='checkSumNE()'  type="number" formControlName="qau" placeholder="Gén Autopercibido" >
                  </mat-form-field>    
                </div>
              </div>
            </div> 
          </ng-container>        
        </div>
        <p class="text-title">{{ aperturaPorNivelEducativo$ | async}}</p> 


        <p class="text-destacado">Apertura por nivel jerárquico y género</p>

        <div class="row"  formArrayName='nivelesjerarquicos'>
          <ng-container *ngFor="let njerarquico of nivelesjerarquicos.controls; let row=index" [formGroupName]="row">
            <ng-container *ngIf="row % 3 === 0" >
              <div class="col-md-12">
                <p class="text-resaltado">{{njerarquico.value.seccion_tx}}</p>
              </div>
            </ng-container>

            <div class="col-md-4">
              <div class="row">
                <div class="col">
                  <span class='text-title'>{{ njerarquico.value.nivel_tx }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput (change)='checkSumNJ()'  type="number" formControlName="qh" placeholder="Hombre" >
                  </mat-form-field>    
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput (change)='checkSumNJ()'  type="number" formControlName="qm" placeholder="Mujer" >
                  </mat-form-field>    
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput (change)='checkSumNJ()'  type="number" formControlName="qau" placeholder="Gén Autopercibido" >
                  </mat-form-field>    
                </div>
              </div>
            </div>  
          </ng-container>
        </div>
        <p class="text-title">{{ aperturaPorNivelJerarquico$ | async}}</p> 



        <p class="text-destacado">Proyección de crecimiento de empleo para los próximos 2 años</p>
        <div class="row" formGroupName="crecimiento" >
          <div class="col-md-4 d-flex align-items-center">
            <mat-checkbox formControlName='hasCrecimiento' [checked]="false" color="primary">
                ¿Tiene planes de incorporar nuevos empleados?
            </mat-checkbox>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12  d-flex align-items-center">
                <mat-checkbox formControlName='hasBrownEmplea' [checked]="false" color="primary">
                  ¿Conoce el programa de intermediación laboral BROWN EMPLEA?
                </mat-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12  d-flex align-items-center">
                <mat-checkbox formControlName='hasDeseoBrownEmplea' [checked]="false" color="primary">
                  ¿Tiene interés en recibir información sobre el mismo?
                </mat-checkbox>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <span class="text-title">Cantidad de nuevos puestos previstos para los próximos 2 años</span>
              </div>
            </div>

            <div class="row">
              <div class=col-md-3>
                <mat-form-field>
                  <input matInput type="number" formControlName="qnuevos" placeholder="Cantidad total" >
                </mat-form-field>    
              </div>
              <div class=col-md-3>
                <mat-form-field>
                  <input matInput type="number" formControlName="qsecundarios" placeholder="Con nivel secundario" >
                </mat-form-field>    
              </div>
              <div class=col-md-3>
                <mat-form-field>
                  <input matInput type="number" formControlName="qterciarios" placeholder="Con nivel terciario" >
                </mat-form-field>    
              </div>
              <div class=col-md-3>
                <mat-form-field>
                  <input matInput type="number" formControlName="quniversitarios" placeholder="Con nivel universitario" >
                </mat-form-field>    
              </div>
            </div>

            <div class="row">
              <div class=col-md-12>
                <mat-form-field>
                  <textarea matInput type="string" formControlName="slug" placeholder="Comentario" ></textarea>
                </mat-form-field>    
              </div>
            </div>
          </div>
        </div>
        <hr>
        <p class="text-destacado">Capacidades y competencias requeridas</p>
        <p class="text-normal">Consigne el tipo de perfil que prevé incorporar, especialmente aquellos difícil de reclutar y/o retener.</p>

        <div class="bordered">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field>
                <mat-select #fldCompetencia formControlName="competencia" placeholder="Capacidades y/o competencias demandadas" 
                      (selectionChange)="changeSelectionValue('competencia', fldCompetencia.value)">
  
                  <mat-option *ngFor='let item of competenciasOptList' [value]="item.val">
                    {{ item.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
          </div>
          <div class="row mt-3">
            <div class="col-md-12" *ngIf="true">
                <mat-chip-list>
                    <mat-chip *ngFor="let item of competencia$ | async" [removable]="true" 
                          (removed)="removeCompetencia(item)" >
                          {{ item.label }} 
                          <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
          </div>
          </div>
  

        <div class="additional-info">
          <button mat-raised-button color="primary" type="submit" 
              (click)="onSubmit()"
              [disabled]="!form.valid" >Aceptar</button>
          
          <button mat-button type="button" color="accent"
              (click)="onCancel()" >Cancelar</button>
          
          <button mat-flat-button type="button" color="warn" (click)="deleteToken()">Borrar</button>        
        </div>

      </form>
    </ng-container>      
  </mat-card-content>

</mat-card>
  