.panel-header-text {
		margin: 0 0 0 15px;
		font-weight: 700;
		font-size: 1.2rem;
}

.remito-container {
	margin: 0 0 5px 15px;

}
.novedades-container {
		margin: 10px 0 15px 15px;
		padding: 5px;

}
