<ng-container *ngIf='showData'>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ title }} {{ locacionCode }}: {{ locacionName }}
        </mat-card-title>

        <mat-card-subtitle>
            {{ capacidadTitle }} : {{ capacidadToPrint }}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
    <internacion-controles  (radioSelectedOption) = "radioSelectedOptionEvent($event)" 
                            (currentProyeccionDateEmit)="currentProyeccionDateEmit($event)"
                            (checkBoxEmit)="checkBoxEmit($event)"></internacion-controles>

    <!-- Buffers -->
    <app-botonera-container
        [botones]="botonesPeriferia"
        (onButtonClick)="onAfectadosPeriferiaEvent($event)" >
    </app-botonera-container>

    <ng-container *ngFor="let servicio of serviciosOfrecidos">    
    <!--div class="row" *ngFor="let servicio of serviciosOfrecidos">
        <div class="col-md-12"-->
            <mat-expansion-panel [expanded]="true">

                <mat-expansion-panel-header>
                    <mat-panel-title    class="d-md-flex justify-content-between align-items-center"
                                        style="font-weight: 800;" >
                        <span>{{ servicio.srvcode }} :: Capacidad: {{ servicio.srvQDisp }}</span>
                        <app-recursos
                            [capacidad]='servicio.srvQDisp'
                            [ocupacion]='(master_internacion[servicio.srvtype] && 
                                        master_internacion[servicio.srvtype].length) || 0'
                            [recursos]='master_camas[servicio.srvtype]'
                            [servicio]='servicio.srvtype'
                            [sinternaciones]="master_periferia"
                            (asignarRecursosEvent)='asignarRecursos($event)'></app-recursos>
                    </mat-panel-title>                        
                </mat-expansion-panel-header>

                <mat-card style='background-color: white;'>
                    <ng-container *ngIf="showCamasOcupadas">
                    <div class="d-md-flex flex-wrap justify-content-start align-items-center white-panel">    
                        <ng-container *ngFor="let cama of master_internacion[servicio.srvtype]">
                            <app-paciente
                                (onClick)="openPacienteModal($event)"
                                [nombrePaciente]="cama.requeridox.slug"
                                [nombreCama]="cama.internacion.camaSlug || cama.internacion.camaCode"
                            ></app-paciente></ng-container>
                    </div>
                    </ng-container>
                    <ng-container *ngIf="showCamasLibres">
                    <div class="d-md-flex flex-wrap justify-content-start align-items-center white-panel">    
                        <ng-container *ngFor="let cama of master_camas[servicio.srvtype]">
                            <app-cama-estado [cama]='cama' ></app-cama-estado>
                        </ng-container>
                    </div>
                    </ng-container>

                </mat-card>
            </mat-expansion-panel>
        <!--/div>
    </div -->
    </ng-container>
    </mat-card-content>
</mat-card>
</ng-container>
