<mat-card>
    <mat-card-content>
        <form [formGroup]="form">
            <!---addType; slug--->
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-select #fldTipoLocacion placeholder="Tipo de Locacion" [formControl]="form.controls['addType']" (selectionChange)="changeSelectionValue('addType',fldTipoLocacion.value)">
                            <mat-option *ngFor="let item of addTypeList" [value]="item.val">{{ item.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['slug']" placeholder="Denominación">
                    </mat-form-field>
                </div>
            </div>

            <!---street1;  street2; --->
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['street1']" placeholder="Calle número">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['street2']" placeholder="Información adicional">
                    </mat-form-field>
                </div>
            </div>

            <!---street1;  street2; --->
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['streetIn']" placeholder="Entre calle (o esquina con...)">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['streetOut']" placeholder="...y calle">
                    </mat-form-field>
                </div>
            </div>


            <!--- city; barrio; zip;--->
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-select #fldCiudad placeholder="Localidad" [formControl]="form.controls['city']" (selectionChange)="changeCity()">
                            <mat-option *ngFor="let item of ciudadesList" [value]="item.val">{{ item.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field>
                        <mat-select #fldbarrio placeholder="Barrio" [formControl]="form.controls['barrio']" (selectionChange)="changeSelectionValue('barrio',fldbarrio.value)">
                            <mat-option *ngFor="let item of barrioList" [value]="item.val">{{ item.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col">
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['zip']" placeholder="Código Postal">
                    </mat-form-field>
                </div>

            </div>

            <!---state;  statetext country--->
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-select #fldPaises placeholder="País" [formControl]="form.controls['country']" (selectionChange)="changeSelectionValue('country',fldPaises.value)">
                            <mat-option *ngFor="let item of countriesList" [value]="item.val">{{ item.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-select #fldProvincias placeholder="Provincia/ Estado" [formControl]="form.controls['state']" (selectionChange)="changeSelectionValue('state',fldProvincias.value)">
                            <mat-option *ngFor="let item of provinciasList" [value]="item.val">{{ item.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['statetext']" placeholder="Municipio">
                    </mat-form-field>
                </div>
            </div>

            <!---descripcion;--->
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['description']" placeholder="Descripción / Comentario">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['pcatastral']" placeholder="Partida catastral Nro.:">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-select #fldPropiedad placeholder="Tenencia de la propiedad" [formControl]="form.controls['propiedad']" (selectionChange)="changeSelectionValue('propiedad',fldPropiedad.value)">
                            <mat-option *ngFor="let item of propiedadOptList" [value]="item.val">{{ item.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-select #fldPindustrial placeholder="Ubicación en el Parque Industrial AB" [formControl]="form.controls['pindustrial']" (selectionChange)="changeSelectionValue('pindustrial',fldPindustrial.value)">
                            <mat-option *ngFor="let item of pindustrialOptList" [value]="item.val">{{ item.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['supcubierta']" placeholder="Superficie cubierta (m2)">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['supterreno']" placeholder="Superficie terreno (m2)">
                    </mat-form-field>
                </div>
            </div>
            <hr>
            <div class="additional-info">
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!form.valid">Aceptar</button>

                <button mat-button type="button" color="accent" (click)="onCancel()">Cancelar</button>

                <button mat-button type="button" color="warning" (click)="mapLookUp()">Mostrar localización</button>

                <button mat-flat-button type="button" color="warn" (click)="deleteToken()">Borrar</button>
            </div>

            <div *ngIf="renderMap">
                <agm-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="zoom">

                    <agm-marker [latitude]="location.lat" [longitude]="location.lng">
                        <agm-info-window>
                            <strong>{{ location.label }}</strong>
                        </agm-info-window>
                    </agm-marker>

                </agm-map>
            </div>

        </form>

    </mat-card-content>
</mat-card>