<mat-card >
  <mat-card-content>
  <form [formGroup]="form">
	<!-- compPrefix; compName; compNum; -->
	<!-- fecomp_txa; action; slug; -->
	<!-- description;  -->
	<!-- sector; estado; avance; ts_alta; ts_fin; ts_prog;  -->

	<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title><span class="text-resaltado">CRITERIOS DE BÚSQUEDA DE CASOS</span></mat-panel-title>
    </mat-expansion-panel-header>

    <div class='vigilancia-box'>
      <div class="row" >
        <div class="col-md-4 d-md-flex justify-content-start align-items-center" 
            title="Sección para filtrar solicitudes bajo vigilancia">
            <mat-checkbox class="mat-checkbox-wrap"
                  [checked]="true"
                  [formControl]="form.controls['isVigilado']" >
                    bajo vigilancia epidemiológica</mat-checkbox>
        </div>
        <div class="col-md-1">
          <mat-form-field>
            <input matInput  
            		[formControl]="form.controls['compPrefix']" placeholder="Prefijo" >
          </mat-form-field>
        </div>
        <div class="col-md-1">
          <mat-form-field>
            <input matInput 
            		[formControl]="form.controls['compName']" placeholder="Comprobante" >
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field>
            <input matInput [formControl]="form.controls['compNum_d']" placeholder="Desde número" >
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field>
            <input matInput [formControl]="form.controls['compNum_h']" placeholder="Hasta número" >
          </mat-form-field>
        </div>
      </div>
      <hr>
      <div class="row" >
        <div class="col-md-6 d-md-flex justify-content-start align-items-center" 
            title="Sección para filtrar casos covid">
          <mat-checkbox  class='mat-check'
                  [checked]="false"
                  [formControl]="form.controls['hasCovid']" ></mat-checkbox>
                  <span class='mat-data'>COVID: Sólo casos confirmados y activos</span>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-3 offset-md-3">
          <mat-form-field>
            <mat-select #fldEstadoCovid placeholder="Estado de caso"
                [formControl]="form.controls['actualState']"
                (selectionChange)="changeSelectionValue('actualState',fldEstadoCovid.value)" >
              <mat-option *ngFor="let item of estadoCovidOptList" 
                [value]="item.val" >{{ item.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-select #fldTipificacionCaso placeholder="Tipificación de caso"
                [formControl]="form.controls['avanceCovid']"
                (selectionChange)="changeSelectionValue('avance',fldTipificacionCaso.value)" >
              <mat-option *ngFor="let item of avanceCovidOptList" 
                [value]="item.val" >{{ item.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-select #fldSintoma placeholder="Estado del síntoma"
                [formControl]="form.controls['sintomaCovid']"
                (selectionChange)="changeSelectionValue('sintoma',fldSintoma.value)" >
              <mat-option *ngFor="let item of sintomaCovidOptList" 
                [value]="item.val" >{{ item.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <hr>
 
      <div class="row" >
        <div class="col-md-4 d-flex align-items-center" 
            title="Filtrar solo casos con muestras de laboratorio pendiente de resultado">
            <mat-checkbox  class='mat-check'
                  [checked]="false"
                  [formControl]="form.controls['pendLaboratorio']" ></mat-checkbox>
                  <span class='mat-data'>LABORATORIO pendiente de resultado</span>
        </div>
      </div>
      <hr>

      <div class="row" >
        <div class="col-md-4 d-flex align-items-center" 
            title="Sección para filtrar casos bajo seguimiento">
            <mat-checkbox class='mat-check'
                  [checked]="false"
                  [formControl]="form.controls['isSeguimiento']" >
                    </mat-checkbox>
                  <span class='mat-data'>LLAMADOS: seleccionar casos bajo seguimiento</span>
        </div>
        <div class="col-md-2">
          <mat-form-field>
            <mat-select #fldTipoSeguimiento placeholder="Tipo de seguimiento"
                [formControl]="form.controls['tipoSeguimiento']"
                (selectionChange)="changeSelectionValue('sector',fldTipoSeguimiento.value)" >
              <mat-option *ngFor="let item of tipoFollowUpOptList" 
                [value]="item.val" >{{ item.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="col-md-2">
          <mat-form-field>
            <input matInput type="number" [formControl]="form.controls['qIntents']" 
                    placeholder="Última cantidad de intentos" >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput type="number" [formControl]="form.controls['qNotSeguimiento']" 
                    placeholder="Casos NO contactados desde hace... días" >
          </mat-form-field>
        </div>
      </div>
      <hr>

      <div class="row" >
        <div class="col-md-4 d-flex align-items-center" 
            title="Sección para filtrar casos bajo seguimiento">
            <mat-checkbox class='mat-check'
                  [checked]="false"
                  [formControl]="form.controls['isActiveSisa']" >
                    </mat-checkbox>
                  <span class='mat-data'>SISA: seleccionar casos bajo seguimiento</span>
        </div>
        <div class="col-md-2">
          <mat-form-field>
            <mat-select #fldAvanceSisa placeholder="Estado del caso en SISA"
                [formControl]="form.controls['avanceSisa']"
                (selectionChange)="changeSelectionValue('sector',fldAvanceSisa.value)" >
              <mat-option *ngFor="let item of avanceSisaOptList" 
                [value]="item.val" >{{ item.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput type="number" [formControl]="form.controls['qDaysSisa']" 
                    placeholder="Casos dados de alta en SISA en los últimos... días" >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput type="number" [formControl]="form.controls['qNotConsultaSisa']" 
                    placeholder="Casos NO actualizados en SISA desde hace... días" >
          </mat-form-field>
        </div>
      </div>
    </div>
    <hr>

    <div class="row" >
      <div class="col">
        <persona-buscar (person$)=personFetched($event)></persona-buscar>
      </div>
      <div class="col d-flex align-items-center">
        <ng-container *ngIf="currentPerson">
            <mat-checkbox [checked]='true' (change)="deSelectPerson($event)">
            Selección activa: {{ currentPerson.displayName }}</mat-checkbox>
        </ng-container>
      </div>
    </div>

<!-----
    <div class="row" >
      <div class="col">
        <mat-form-field>
          <mat-select #fldTipoAccion placeholder="Tipo de Acción"
              [formControl]="form.controls['action']"
              (selectionChange)="changeSelectionValue('action',fldTipoAccion.value)" >
            <mat-option *ngFor="let item of actionOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select #fldSector placeholder="Sector"
              [formControl]="form.controls['sector']"
              (selectionChange)="changeSelectionValue('sector',fldSector.value)" >
            <mat-option *ngFor="let item of sectorOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput [formControl]="form.controls['fecomp_d']" placeholder="Fecha desde" >
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field>
          <input matInput [formControl]="form.controls['fecomp_h']" placeholder="Fecha hasta" >
        </mat-form-field>
      </div>

    </div>

    <div class="row" >
      <div class="col">
        <mat-form-field>
          <mat-select #fldEstado placeholder="Estado"
              [formControl]="form.controls['estado']"
              (selectionChange)="changeSelectionValue('estado',fldEstado.value)" >
            <mat-option *ngFor="let item of estadoOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select #fldAvance placeholder="Avance"
              [formControl]="form.controls['avance']"
              (selectionChange)="changeSelectionValue('avance',fldAvance.value)" >
            <mat-option *ngFor="let item of avanceOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
--->    
  </mat-expansion-panel>







  <div class="d-md-flex justify-content-start align-items-center" >
    <p class="text-resaltado m-2" >SELECCIONAR VISTAS: </p>

    <mat-button-toggle-group #fldButtonGrp3 multiple name="view" 
          class="d-md-flex justify-content-start align-items-center panel-header-selectors"
          (change)='viewPanelsSelection($event)'>
      <mat-button-toggle value="sisa">
        SISA
      </mat-button-toggle>
      <mat-button-toggle value="seguimiento">
        LLAMADOS
      </mat-button-toggle>
      <mat-button-toggle value="muestralab">
        LABORATORIO
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group #fldButtonGrp3 multiple name="view" 
          class="d-md-flex justify-content-start align-items-center panel-header-selectors"
          (change)='viewPanelsSelection($event)'>
      <mat-button-toggle value="infection">
        COVID
      </mat-button-toggle>
      <mat-button-toggle value="vinculos">
        CONTACTOS
      </mat-button-toggle>
      <mat-button-toggle value="core">
        GENERAL
      </mat-button-toggle>
    </mat-button-toggle-group>

  </div>

  <div class="d-md-flex justify-content-start align-items-center" 
        title="Se mostrarán solo los casos índice">

      <p class="text-resaltado m-2" >MODO DE VISUALIZACIÓN: </p>
      <mat-checkbox class="mat-checkbox-wrap"
               [formControl]="form.controls['casosIndice']" >
                mostrar sólo casos índice</mat-checkbox>
  </div>



	<div class="d-md-flex justify-content-start align-items-center additional-info">
	  <button mat-raised-button color="primary" type="submit" 
	      (click)="onSubmit('search')"
	      [disabled]="!form.valid" >Buscar</button>
	  
	  <!--button mat-raised-button color="warn" 
	      (click)="onSubmit('search_next')"
	      [disabled]="!form.valid" >Buscar siguientes</button
	  
	  <button mat-button type="button" color="accent"
	      (click)="onCancel()" >Cancelar</button>

	  <button mat-button type="button" color="accent"
	      (click)="showMap('map:show')" >Mostrar mapa</button>

	  <button mat-button type="button" color="accent"
	      (click)="showMap('map:hide')" >Cerrar mapa</button  -->
	</div>

</form>
</mat-card-content>
</mat-card>