<div class='app'>

  <div class='app-top'>
  	<span class="text-resaltado">{{displayAs}}</span>
    <button mat-flat-button  (click)='toggleWeekends()'>FinDeSemana</button>
    <button mat-flat-button  (click)='gotoPast()'>Ir a inicio seguimiento</button>
  </div>

  <div class='app-calendar' *ngIf="calendarVisible">
    <full-calendar
      #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      (dateClick)="handleDateClick($event)"
      (eventClick)="handleEventClick($event)"
  		[events]="eventList"
			[eventTextColor]="'white'"
    ></full-calendar>
  </div>

</div>

<ng-template #seguimiento >
  <p class='text-resaltado'>Contacto: 
    <strong>{{ actualFup.resultado }} :: Evolución: {{ actualFup.vector }} </strong>  -
                        {{ actualFup.fe_llamado }} </p>

  <p class='text-normal'>COMENTARIO:</p>
  <p class='text-resaltado'>{{ actualFup.slug }}</p>

  <p class='text-normal'>INDICACIONES:</p>
  <p class='text-resaltado'>{{ actualFup.indicacion }}</p>
  <p class='text-audit'>{{ actualFup.audit ? actualFup.audit.username : '' }}</p>

</ng-template>
