$color-destacado: #0645f5;

.app{
  max-height: 650px;

}

.app-top {
  margin: 0 0 3em;

}

.text-resaltado {
		margin: 0 15px 0 0;
		color: $color-destacado;
		font-weight: 400;
		font-size: 1rem;
		font-style: italic;

}

.app-calendar {
  margin: 0 auto;
  max-width: 900px;
}
