<mat-card >
	<mat-card-header>
		<mat-card-title>{{ title }} </mat-card-title>
	</mat-card-header>

  <mat-card-content>
  <ng-container *ngIf="isAlta">
    <p class="text-normal">Almirante Brown {{ nuevaAlta.fecha }}</p>
    <p class="text-normal">{{ nuevaAlta.bienvenido }}</p>
    <p class="text-normal">Está dando inicio al CENSO: {{ nuevaAlta.code }}</p>
    <p class="text-normal">Para la empresa: {{ nuevaAlta.empName }}</p>
    <p class="text-normal">CUIT: {{ nuevaAlta.ndoc }}</p>

    <p class="text-normal">{{ nuevaAlta.indicacion1 }}</p>
    <p class="text-normal">{{ nuevaAlta.indicacion2 }}</p>
    <p class="text-normal">{{ nuevaAlta.indicacion3 }}</p>
    <p class="text-normal">{{ nuevaAlta.indicacion4 }}</p>

    <hr>
    <div class="additional-info">
      <button mat-raised-button color="primary" type="submit" 
          (click)="onCreateNew()" >Aceptar</button>
      
      <button mat-button type="button" color="accent"
          (click)="onCancel()" >Cancelar</button>
    </div>


  </ng-container>


  <ng-container *ngIf="showForm">

  <form [formGroup]="form">
    <div class="row" >
      <div class="col">
      	<p class="text-normal">{{ texto1 }}</p>
      </div>
    </div>

    <div class="row" >
      <div class="col">
        <mat-form-field>
          <input matInput [formControl]="form.controls['fecomp_txa']" 
                  placeholder="Fecha censo" >
        </mat-form-field>
      </div>
    </div>

    <div class="row" >
      <div class="col">
        <mat-form-field>
          <mat-select #fldAvance placeholder="Avance"
              [formControl]="form.controls['navance']"
              (selectionChange)="changeSelectionValue('navance',fldAvance.value)" >
            <mat-option *ngFor="let item of navanceOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field>
          <mat-select #fldEstado placeholder="Estado"
              [formControl]="form.controls['estado']"
              (selectionChange)="changeSelectionValue('estado',fldEstado.value)" >
            <mat-option *ngFor="let item of estadoOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <hr>
    <div class="additional-info">
      <button mat-raised-button color="primary" type="submit" 
      		(click)="onSubmit()"
          [disabled]="!form.valid" >Aceptar</button>
      
      <button mat-button type="button" color="accent"
      		(click)="onCancel()" >Cancelar</button>
    </div>
  </form>

  </ng-container>
  </mat-card-content>
</mat-card>