<div class="detail-host" [align]="customalign" *ngIf="model" >

<breadcrumb [menu]="breadcrumb" [separator]="'&#187;'"></breadcrumb>

<mat-card class="detail-card">
  <mat-card-header>
    <div mat-card-avatar><img src="assets/content/{{ avatar }}" width="40" height="40"></div>
    <mat-card-title><strong>{{ model.slug }}</strong></mat-card-title>
    <mat-card-subtitle><strong>{{ model.cardId }}: </strong>{{ model.subtitle }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-carrousel [carrousel]='model.carrousel' [currentImage]='model.carrousel.mainimage' ></app-carrousel>
    <div [innerHTML]='model.description' ></div>
  </mat-card-content>

</mat-card>

<show-assets *ngIf='showAssets' [models]="assetList" ></show-assets>

<show-resources *ngIf='showResources' [models]="resourceList" ></show-resources>

<mat-card *ngFor="let rcard of relatedcards; let i=index" class="detail-card">
  <mat-card-header>
    <mat-card-title><strong>{{ rcard.slug }}</strong></mat-card-title>
    <mat-card-subtitle><strong>{{ rcard.cardId }}: </strong>{{ rcard.subtitle }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-carrousel  [carrousel]='rcard.carrousel' 
                    [currentImage]='rcard.carrousel.mainimage' ></app-carrousel>

    <p [innerHTML]='rcard.description' ></p>
  </mat-card-content>
</mat-card>
</div>
