<ng-container *ngIf="searchPerson">
	<mat-card>
  	<mat-card-content>
      <p class="text-resaltado">Buscar persona afectada</p>
      <altarapida-fetch (person$)='personFetched($event)'></altarapida-fetch>
		</mat-card-content>
	</mat-card>
</ng-container>

<mat-card>
	<mat-card-header>
		<mat-card-title> Alta rápida de Solicitud de Internación </mat-card-title>
	</mat-card-header>
	<mat-card-content>

			<ng-container *ngIf='showEditor'>
				<!-- altarapida-person [person]='person'
														(updatePersonEvent)='personEvent($event)'></altarapida-person-->	
			</ng-container>

			<ng-container *ngIf='showView'>
				<core-view [person]='person'></core-view>

				<ng-container *ngIf='confirmaInternacion'>
					<div class="row section-box">
						<div class='col'>
							<p class="text-resaltado">Confirme la internación del afectado/a</p>
							<button mat-raised-button class="nueva-internacion-button" 
											(click)='confirmaActualizarInternacionEvent("next")'>Actualizar internación</button>			
							<button mat-flat-button class="nueva-internacion-button" 
											(click)='confirmaActualizarInternacionEvent("cancelar")'>CANCELAR</button>			
						</div>
					</div>
				</ng-container>
			</ng-container>


			<ng-container *ngIf='showTriageEditor'>
				<solinternacion-view [token]='solInternacion'></solinternacion-view>
				<p class="text-resaltado">Triage de internación</p>
  			<p  *ngIf='internacion.locId' class='text-resaltado'>Locación actual: {{ internacion.locCode }}</p>
				<triage-edit [triage]='triage'
														(updateTriageEvent)='triageEvent($event)'></triage-edit>	
			</ng-container>
			<hr>
			<ng-container *ngIf='showMasterAllocator'>
				<internacion-allocator [query]='queryMaster'
																(updateAllocatorEvent)='masterSelectedEvent($event)'></internacion-allocator>
			</ng-container>

			<ng-container *ngIf='finalStep'>
				<internacion-edit [solicitud]='solInternacion' [internacion]='internacion'
																(updateInternacionEvent)='internacionEvent($event)'></internacion-edit>
			</ng-container>

	</mat-card-content>
</mat-card>
