$color-destacado: #0645f5;

.view-port {
	max-height: 620px;
}

.form-control {
	margin-left: 15px;
}

.buscar-box {
	border: 1px solid rgba(#a0a0a0,.2);
	margin-top: 15px;
}

.buscar-box2 {
	font-weight: 400;
	font-size: 0.8rem;
	font-style: italic;
	margin-top: -10px;
	margin-left: 15px;
	margin-bottom: 5px;
	width: 250px;
	background-color: white;
}


.text-resaltado {
		margin: 0 0 0 0;
		color: $color-destacado;
		font-weight: 700;
		font-size: 1.2rem;
		font-style: italic;

}
