@import '../../../assets/sass/variable';

:host {

  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;

  md-select {
    margin:  $module  0 $module;
  }
  .mat-expansion-panel {
    margin: 0 0 22px 0;
  }

  .additional-info {
    background: rgba(#000,.1);
    margin: $module (-$module) (-$module);
    padding: $module/2 $module;
  }
}