<mat-card class="detail-card">
  <mat-card-content>
  	<ng-container *ngIf="showView">
		 	<div [ngStyle]=selectedStyle class="row">
		 		<div class="col-md-12">
		 			<solasis-view [token]='asistencia' [kitOptList]='kitOptList'></solasis-view>
		 		</div>
			</div>
		 	<div  *ngIf="isPedido" [ngStyle]=selectedStyle class="row">
		 		<div class="col-md-12">
		 			<solicita-pedidos-view [pedido]='pedido' ></solicita-pedidos-view>
		 		</div>
			</div>
		</ng-container>

	 	<div [ngStyle]=selectedStyle class="row">
	 		<div class="col-md-12 d-flex justify-content-between align-items-center">
	 			<div *ngIf="showEditControl">
					<span class="edit-control"
						(click)='editToken()' title="Editar datos base">
						<i [class]="showEditBase ? 'fas fa-pen-square' : 'far fa-edit'" 
						aria-hidden="true"></i></span>

					<span class="edit-control"
						(click)='editModalidad()' title="Editar datos modalidad">
						<i [class]="showEditModalidad ? 'fas fa-pencil-alt' : 'fas fa-pencil-alt'" 
						aria-hidden="true"></i></span>

					<span class="edit-control"
						(click)='navigateSeguimiento()' title="Realizar seguimiento">
						<i [class]="openEditor ? 'far fa-bell' : 'far fa-bell'" 
						aria-hidden="true"></i></span>
				</div>

	 			<div *ngIf="showSelectControl" >
	      		<button mat-raised-button color="accent" 
	        		  (click)="tokenSelected()" >Seleccionar</button>
	 			</div>
	 		</div>
		</div>
	
		<ng-container *ngIf="showEditPanel">
			<ng-container *ngIf="showEditBase">
			 	<div class="row">
			 		<div class="col-sm-12 col-md-12">
			 			<solasis-edit [token]='asistencia'
			 								[kitOptList]='kitOptList'
			 								(updateToken)='manageBase($event)' ></solasis-edit>
			 		</div>
				</div>
			</ng-container>
		  		
			<ng-container *ngIf="showEditModalidad">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<ng-container *ngIf="isAlimentos">
							<alimentos-edit [token]='alimento' [parent]='asistencia'
			 								[kitOptList]='kitOptList'							
											(updateToken)='manageAlimento($event)' ></alimentos-edit>
						</ng-container>
						<ng-container *ngIf="isEncuesta">
							<solicita-encuesta-edit   [token]='encuesta' [asistencia]='asistencia'
											(updateToken)='manageEncuesta($event)' ></solicita-encuesta-edit>
						</ng-container>
						<ng-container *ngIf="isPedido">
							<solicita-pedidos-edit   [pedido]='pedido' [asistencia]='asistencia'
											(updateToken)='managePedido($event)' ></solicita-pedidos-edit>
						</ng-container>

					</div>
				</div>
			</ng-container>
		</ng-container>

  </mat-card-content>
</mat-card>
