.panel-header-control {
		margin: 0 35px 0 0;
		font-weight: 400;
		font-size: 1.4rem;
		text-align: right;
}

.panel-header{
		background-color: #f2eded;
}

.text-item {
		margin: 0 0 0 8px;

}

.panel-header-text {
		margin: 0 0 0 15px;
		font-weight: 400;
		font-size: 1.2rem;
}

.conversation-detail {
		margin: 0 0 0 15px;
		font-size: 1.2em;
}

mat-card-content {
		margin: 0 0 8px 0;

}
