<mat-card>
    <mat-card-header>Visor Excel</mat-card-header>
    <div *ngIf="nrows">
        <mat-card-subtitle >
            El archivo contiene {{nrows}} filas
        </mat-card-subtitle>
        <button (click)="cargarRegistros();">continuar</button><button>cancelar</button>
    </div>
    <table mat-table [dataSource]="registros" class="mat-elevation-z8">
        <ng-container *ngFor="let col of columnsToDisplay" [matColumnDef]="col">
            <mat-header-cell *matHeaderCellDef>
                {{col}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element[col]}}
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row> 
    </table>
</mat-card>