table{
    width: 100%;
}

.panel-header-control {
    margin: 0 35px 0 0;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: right;
}

.panel-header{
    background-color: #f2eded;
}

.panel-header-text {
    margin: 0 0 0 15px;
    font-weight: 700;
    font-size: 1.2rem;
}

.additional-info {
margin-top: 15px;
margin-bottom: 30px;	
}

.imagepreview{
max-width:  200px;
max-height: 70px;
margin-left: 5px;
margin-top: 5px;
width: auto;
height: auto;
}