<card>
  <div class="row">
    <div class="col-lg-6">
      <canvas
        baseChart
        [data]="lineChartData"
        [labels]="lineChartLabels"
        [chartType]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="col-lg-6">
      <canvas
        baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</card>

<div class="text-center">
  <button mat-raised-button color="accent" (click)="randomizeType()">Update</button>
</div>
