<mat-card class="mat-elevation-z8 custom-table">
  <mat-card-header>
    <mat-card-title>Emitir turno para: {{ sector }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container-fluid">
    <form [formGroup]="form">

      <!---prioridad; ndoc; provisorio; --->
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <mat-form-field>
            <mat-select #fldTdoc placeholder="Prioridad de Atención" [formControl]="form.controls['prioridad']"
              (selectionChange)="changeSelectionValue('prioridad',fldTdoc.value)">
              <mat-option *ngFor="let item of prioridadOptList" 
              						[value]="item.val">{{ item.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="d-md-flex ml-3 justify-content-between additional-info">
        <button mat-raised-button color="primary"
            (click)="onSubmit()"
            [disabled]="!form.valid">Aceptar</button>

        <button mat-button color="accent"
            (click)="atencionInmediata()" >Atención inmediata</button>

        <button mat-button type="button" color="accent" 
                (click)="cancel()">Cancelar</button>
      </div>

    </form>
    </div>
  </mat-card-content>
</mat-card>

