<llamados-browse 		[query]="query" 
						[export]='true'
						[title]="browseTitle"
						(updateQuery)="refreshSelection($event)"></llamados-browse>


<ng-container *ngIf='showChart'>
	<mat-card class="chart-card">
	  <mat-card-content>
	    <div class="container" >
	      <!--h3>{{ graphTitle }}</h3 -->

	      <div class="chart-container" >
	            <canvas
	              baseChart
	              [chartType]="chartType"
	              [datasets]="[ 
	              					{  
	              						data:  covidDataSet, 
	                        	label: 'COVID'
	                        },
	              					{
	              						data:  nocovidDataSet, 
	                        	label: 'NO-COVID'
	                        }]"

	              [labels]="fechasDataSet"
	              [options]="chartOptions"
	              [legend]="true">
	            </canvas>
	      </div>

	    </div>
	  </mat-card-content>
	</mat-card>
</ng-container>


<ng-container *ngIf='showData'>
	<vigilancia-reportes-table [displayedColumns]='tableActualColumns' 
								(actionTriggered)="tableAction($event)"  ></vigilancia-reportes-table>

								
	<llamados-byuser-table [usertable]="userTable"></llamados-byuser-table>

</ng-container>




<ng-container *ngIf='dumpData'>

	<dump-data  [title]="'MasterData'"
	            [data$]='data$'
	            [showTests]='true'></dump-data>

</ng-container>
