$color-destacado: #0645f5;

.text-resaltado {
    margin: 0 0 0 0;
    color: $color-destacado;
    font-weight: 700;
    font-size: 1.3rem;
    font-style: italic;

}

.text-cierre {
    margin: 0 0 0 0;
    color: $color-destacado;
    font-weight: 700;
    font-size: 2rem;

}
