html, body {
  width: 100%;
  height: 100%;
  margin: 0 !important; // override user agent stylesheet
  padding: 0 !important; // override user agent stylesheet
}

.svg-constrain {
	max-height: 1900px;
	max-width: 1200px;

}