html, body {
  width: 100%;
  height: 100%;
  margin: 0 !important; // override user agent stylesheet
  padding: 0 !important; // override user agent stylesheet
}

.svg-constrain {
	max-height: 3500px;
	max-width: 2400px;

}