<card [title]="'Action icons'">
  <mat-icon title="[3d_rotation]">3d_rotation</mat-icon>
  <mat-icon title="[accessibility]">accessibility</mat-icon>
  <mat-icon title="[accessible]">accessible</mat-icon>
  <mat-icon title="[account_balance]">account_balance</mat-icon>
  <mat-icon title="[account_balance_wallet]">account_balance_wallet</mat-icon>
  <mat-icon title="[account_box]">account_box</mat-icon>
  <mat-icon title="[account_circle]">account_circle</mat-icon>
  <mat-icon title="[add_shopping_cart]">add_shopping_cart</mat-icon>
  <mat-icon title="[alarm]">alarm</mat-icon>
  <mat-icon title="[alarm_add]">alarm_add</mat-icon>
  <mat-icon title="[alarm_off]">alarm_off</mat-icon>
  <mat-icon title="[alarm_on]">alarm_on</mat-icon>
  <mat-icon title="[all_out]">all_out</mat-icon>
  <mat-icon title="[android]">android</mat-icon>
  <mat-icon title="[announcement]">announcement</mat-icon>
  <mat-icon title="[aspect_ratio]">aspect_ratio</mat-icon>
  <mat-icon title="[assessment]">assessment</mat-icon>
  <mat-icon title="[assignment]">assignment</mat-icon>
  <mat-icon title="[assignment_ind]">assignment_ind</mat-icon>
  <mat-icon title="[assignment_late]">assignment_late</mat-icon>
  <mat-icon title="[assignment_return]">assignment_return</mat-icon>
  <mat-icon title="[assignment_returned]">assignment_returned</mat-icon>
  <mat-icon title="[assignment_turned_in]">assignment_turned_in</mat-icon>
  <mat-icon title="[autorenew]">autorenew</mat-icon>
  <mat-icon title="[backup]">backup</mat-icon>
  <mat-icon title="[book]">book</mat-icon>
  <mat-icon title="[bookmark]">bookmark</mat-icon>
  <mat-icon title="[bookmark_outline]">bookmark_outline</mat-icon>
  <mat-icon title="[bug_report]">bug_report</mat-icon>
  <mat-icon title="[build]">build</mat-icon>
  <mat-icon title="[cached]">cached</mat-icon>
  <mat-icon title="[camera_enhanced]">camera_enhanced</mat-icon>
  <mat-icon title="[card_giftcard]">card_giftcard</mat-icon>
  <mat-icon title="[card_membership]">card_membership</mat-icon>
  <mat-icon title="[card_travel]">card_travel</mat-icon>
  <mat-icon title="[change_history]">change_history</mat-icon>
  <mat-icon title="[check_circle]">check_circle</mat-icon>
  <mat-icon title="[chrome_reader_mode]">chrome_reader_mode</mat-icon>
  <mat-icon title="[class]">class</mat-icon>
  <mat-icon title="[code]">code</mat-icon>
  <mat-icon title="[compare_arrows]">compare_arrows</mat-icon>
  <mat-icon title="[copyright]">copyright</mat-icon>
  <mat-icon title="[credit_card]">credit_card</mat-icon>
  <mat-icon title="[dashboard]">dashboard</mat-icon>
  <mat-icon title="[date_range]">date_range</mat-icon>
  <mat-icon title="[delete]">delete</mat-icon>
  <mat-icon title="[delete_forever]">delete_forever</mat-icon>
  <mat-icon title="[description]">description</mat-icon>
  <mat-icon title="[dns]">dns</mat-icon>
  <mat-icon title="[done]">done</mat-icon>
  <mat-icon title="[done_all]">done_all</mat-icon>
  <mat-icon title="[donut_large]">donut_large</mat-icon>
  <mat-icon title="[donut_small]">donut_small</mat-icon>
  <mat-icon title="[eject]">eject</mat-icon>
  <mat-icon title="[euro_symbol]">euro_symbol</mat-icon>
  <mat-icon title="[event]">event</mat-icon>
  <mat-icon title="[event_seat]">event_seat</mat-icon>
  <mat-icon title="[exit_to_app]">exit_to_app</mat-icon>
  <mat-icon title="[explore]">explore</mat-icon>
  <mat-icon title="[extension]">extension</mat-icon>
  <mat-icon title="[face]">face</mat-icon>
  <mat-icon title="[favorite]">favorite</mat-icon>
  <mat-icon title="[favorite_border]">favorite_border</mat-icon>
  <mat-icon title="[feedback]">feedback</mat-icon>
  <mat-icon title="[find_in_page]">find_in_page</mat-icon>
  <mat-icon title="[find_replace]">find_replace</mat-icon>
  <mat-icon title="[fingerprint]">fingerprint</mat-icon>
  <mat-icon title="[flight_land]">flight_land</mat-icon>
  <mat-icon title="[flight_takeoff]">flight_takeoff</mat-icon>
  <mat-icon title="[flip_to_back]">flip_to_back</mat-icon>
  <mat-icon title="[flip_to_front]">flip_to_front</mat-icon>
  <mat-icon title="[g_translate]">g_translate</mat-icon>
  <mat-icon title="[gavel]">gavel</mat-icon>
  <mat-icon title="[get_app]">get_app</mat-icon>
  <mat-icon title="[gif]">gif</mat-icon>
  <mat-icon title="[grade]">grade</mat-icon>
  <mat-icon title="[group_work]">group_work</mat-icon>
  <mat-icon title="[help]">help</mat-icon>
  <mat-icon title="[help_outline]">help_outline</mat-icon>
  <mat-icon title="[highlight_off]">highlight_off</mat-icon>
  <mat-icon title="[history]">history</mat-icon>
  <mat-icon title="[home]">home</mat-icon>
  <mat-icon title="[hourglass_empty]">hourglass_empty</mat-icon>
  <mat-icon title="[hourglass_full]">hourglass_full</mat-icon>
  <mat-icon title="[http]">http</mat-icon>
  <mat-icon title="[https]">https</mat-icon>
  <mat-icon title="[important_devices]">important_devices</mat-icon>
  <mat-icon title="[info]">info</mat-icon>
  <mat-icon title="[info_outline]">info_outline</mat-icon>
  <mat-icon title="[input]">input</mat-icon>
  <mat-icon title="[invert_colors]">invert_colors</mat-icon>
  <mat-icon title="[label]">label</mat-icon>
  <mat-icon title="[label_outline]">label_outline</mat-icon>
  <mat-icon title="[language]">language</mat-icon>
  <mat-icon title="[launch]">launch</mat-icon>
  <mat-icon title="[lightbulb_outline]">lightbulb_outline</mat-icon>
  <mat-icon title="[line_style]">line_style</mat-icon>
  <mat-icon title="[line_weight]">line_weight</mat-icon>
  <mat-icon title="[list]">list</mat-icon>
  <mat-icon title="[lock]">lock</mat-icon>
  <mat-icon title="[lock_open]">lock_open</mat-icon>
  <mat-icon title="[lock_outline]">lock_outline</mat-icon>
  <mat-icon title="[loyalty]">loyalty</mat-icon>
  <mat-icon title="[markunread_mailbox]">markunread_mailbox</mat-icon>
  <mat-icon title="[motorcycle]">motorcycle</mat-icon>
  <mat-icon title="[note_add]">note_add</mat-icon>
  <mat-icon title="[offline_pin]">offline_pin</mat-icon>
  <mat-icon title="[opacity]">opacity</mat-icon>
  <mat-icon title="[open_in_browser]">open_in_browser</mat-icon>
  <mat-icon title="[open_in_new]">open_in_new</mat-icon>
  <mat-icon title="[open_with]">open_with</mat-icon>
  <mat-icon title="[pageview]">pageview</mat-icon>
  <mat-icon title="[pan_tool]">pan_tool</mat-icon>
  <mat-icon title="[payment]">payment</mat-icon>
  <mat-icon title="[perm_camera_mic]">perm_camera_mic</mat-icon>
  <mat-icon title="[perm_contact_calendar]">perm_contact_calendar</mat-icon>
  <mat-icon title="[perm_data_setting]">perm_data_setting</mat-icon>
  <mat-icon title="[perm_device_information]">perm_device_information</mat-icon>
  <mat-icon title="[perm_identity]">perm_identity</mat-icon>
  <mat-icon title="[perm_media]">perm_media</mat-icon>
  <mat-icon title="[perm_phone_msg]">perm_phone_msg</mat-icon>
  <mat-icon title="[perm_scan_wifi]">perm_scan_wifi</mat-icon>
  <mat-icon title="[pets]">pets</mat-icon>
  <mat-icon title="[picture_in_picture]">picture_in_picture</mat-icon>
  <mat-icon title="[picture_in_picture_alt]">picture_in_picture_alt</mat-icon>
  <mat-icon title="[play_for_work]">play_for_work</mat-icon>
  <mat-icon title="[polymer]">polymer</mat-icon>
  <mat-icon title="[power_settings_new]">power_settings_new</mat-icon>
  <mat-icon title="[pregnant_woman]">pregnant_woman</mat-icon>
  <mat-icon title="[print]">print</mat-icon>
  <mat-icon title="[query_builder]">query_builder</mat-icon>
  <mat-icon title="[question_answer]">question_answer</mat-icon>
  <mat-icon title="[receipt]">receipt</mat-icon>
  <mat-icon title="[record_voice_over]">record_voice_over</mat-icon>
  <mat-icon title="[redeem]">redeem</mat-icon>
  <mat-icon title="[remove_shopping_cart]">remove_shopping_cart</mat-icon>
  <mat-icon title="[reorder]">reorder</mat-icon>
  <mat-icon title="[report_problem]">report_problem</mat-icon>
  <mat-icon title="[restore]">restore</mat-icon>
  <mat-icon title="[restore_page]">restore_page</mat-icon>
  <mat-icon title="[room]">room</mat-icon>
  <mat-icon title="[rounded_corner]">rounded_corner</mat-icon>
  <mat-icon title="[rowing]">rowing</mat-icon>
  <mat-icon title="[schedule]">schedule</mat-icon>
  <mat-icon title="[search]">search</mat-icon>
  <mat-icon title="[settings]">settings</mat-icon>
  <mat-icon title="[settings_applications]">settings_applications</mat-icon>
  <mat-icon title="[settings_backup_restore]">settings_backup_restore</mat-icon>
  <mat-icon title="[settings_bluetooth]">settings_bluetooth</mat-icon>
  <mat-icon title="[settings_brightness]">settings_brightness</mat-icon>
  <mat-icon title="[settings_cell]">settings_cell</mat-icon>
  <mat-icon title="[settings_ethernet]">settings_ethernet</mat-icon>
  <mat-icon title="[settings_input_antenna]">settings_input_antenna</mat-icon>
  <mat-icon title="[settings_input_component]">settings_input_component</mat-icon>
  <mat-icon title="[settings_input_composite]">settings_input_composite</mat-icon>
  <mat-icon title="[settings_input_hdmi]">settings_input_hdmi</mat-icon>
  <mat-icon title="[settings_input_svideo]">settings_input_svideo</mat-icon>
  <mat-icon title="[settings_overscan]">settings_overscan</mat-icon>
  <mat-icon title="[settings_phone]">settings_phone</mat-icon>
  <mat-icon title="[settings_power]">settings_power</mat-icon>
  <mat-icon title="[settings_remote]">settings_remote</mat-icon>
  <mat-icon title="[settings_voice]">settings_voice</mat-icon>
  <mat-icon title="[shop]">shop</mat-icon>
  <mat-icon title="[shop_two]">shop_two</mat-icon>
  <mat-icon title="[shopping_basket]">shopping_basket</mat-icon>
  <mat-icon title="[shopping_cart]">shopping_cart</mat-icon>
  <mat-icon title="[speaker_notes]">speaker_notes</mat-icon>
  <mat-icon title="[speaker_notes_off]">speaker_notes_off</mat-icon>
  <mat-icon title="[spellcheck]">spellcheck</mat-icon>
  <mat-icon title="[star_rate]">star_rate</mat-icon>
  <mat-icon title="[stars]">stars</mat-icon>
  <mat-icon title="[store]">store</mat-icon>
  <mat-icon title="[subject]">subject</mat-icon>
  <mat-icon title="[supervisor_account]">supervisor_account</mat-icon>
  <mat-icon title="[swap_horiz]">swap_horiz</mat-icon>
  <mat-icon title="[swap_vert]">swap_vert</mat-icon>
  <mat-icon title="[swap_vertial_circle]">swap_vertial_circle</mat-icon>
  <mat-icon title="[system_update_alt]">system_update_alt</mat-icon>
  <mat-icon title="[tab]">tab</mat-icon>
  <mat-icon title="[tab_unselected]">tab_unselected</mat-icon>
  <mat-icon title="[theaters]">theaters</mat-icon>
  <mat-icon title="[thumb_down]">thumb_down</mat-icon>
  <mat-icon title="[thumb_up]">thumb_up</mat-icon>
  <mat-icon title="[thumbs_up_down]">thumbs_up_down</mat-icon>
  <mat-icon title="[timeline]">timeline</mat-icon>
  <mat-icon title="[toc]">toc</mat-icon>
  <mat-icon title="[today]">today</mat-icon>
  <mat-icon title="[toll]">toll</mat-icon>
  <mat-icon title="[touch_app]">touch_app</mat-icon>
  <mat-icon title="[track_changes]">track_changes</mat-icon>
  <mat-icon title="[translate]">translate</mat-icon>
  <mat-icon title="[trending_down]">trending_down</mat-icon>
  <mat-icon title="[trending_flat]">trending_flat</mat-icon>
  <mat-icon title="[trending_up]">trending_up</mat-icon>
  <mat-icon title="[turned_in]">turned_in</mat-icon>
  <mat-icon title="[turned_in_not]">turned_in_not</mat-icon>
  <mat-icon title="[update]">update</mat-icon>
  <mat-icon title="[verified_user]">verified_user</mat-icon>
  <mat-icon title="[view_agenda]">view_agenda</mat-icon>
  <mat-icon title="[view_array]">view_array</mat-icon>
  <mat-icon title="[view_carousel]">view_carousel</mat-icon>
  <mat-icon title="[view_column]">view_column</mat-icon>
  <mat-icon title="[view_day]">view_day</mat-icon>
  <mat-icon title="[view_headline]">view_headline</mat-icon>
  <mat-icon title="[view_list]">view_list</mat-icon>
  <mat-icon title="[view_module]">view_module</mat-icon>
  <mat-icon title="[view_quilt]">view_quilt</mat-icon>
  <mat-icon title="[view_stream]">view_stream</mat-icon>
  <mat-icon title="[view_week]">view_week</mat-icon>
  <mat-icon title="[visibility]">visibility</mat-icon>
  <mat-icon title="[visibility_off]">visibility_off</mat-icon>
  <mat-icon title="[watch_later]">watch_later</mat-icon>
  <mat-icon title="[work]">work</mat-icon>
  <mat-icon title="[youtube_searched_for]">youtube_searched_for</mat-icon>
  <mat-icon title="[zoom_in]">zoom_in</mat-icon>
  <mat-icon title="[zoom_out]">zoom_out</mat-icon>
</card>
<card [title]="'Alert icons'">
  <mat-icon title="[add_alert]">add_alert</mat-icon>
  <mat-icon title="[error]">error</mat-icon>
  <mat-icon title="[error_outline]">error_outline</mat-icon>
  <mat-icon title="[warning]">warning</mat-icon>
</card>
<card [title]="'Av icons'">
  <mat-icon title="[add_to_queue]">add_to_queue</mat-icon>
  <mat-icon title="[airplay]">airplay</mat-icon>
  <mat-icon title="[album]">album</mat-icon>
  <mat-icon title="[art_track]">art_track</mat-icon>
  <mat-icon title="[av_timer]">av_timer</mat-icon>
  <mat-icon title="[branding_watermark]">branding_watermark</mat-icon>
  <mat-icon title="[call_to_action]">call_to_action</mat-icon>
  <mat-icon title="[closed_caption]">closed_caption</mat-icon>
  <mat-icon title="[equalizer]">equalizer</mat-icon>
  <mat-icon title="[explicit]">explicit</mat-icon>
  <mat-icon title="[fast_forward]">fast_forward</mat-icon>
  <mat-icon title="[fast_rewind]">fast_rewind</mat-icon>
  <mat-icon title="[featured_play_list]">featured_play_list</mat-icon>
  <mat-icon title="[featured_video]">featured_video</mat-icon>
  <mat-icon title="[fiber_manual_record]">fiber_manual_record</mat-icon>
  <mat-icon title="[forward_10]">forward_10</mat-icon>
  <mat-icon title="[forward_30]">forward_30</mat-icon>
  <mat-icon title="[forward_5]">forward_5</mat-icon>
  <mat-icon title="[games]">games</mat-icon>
  <mat-icon title="[hd]">hd</mat-icon>
  <mat-icon title="[hearing]">hearing</mat-icon>
  <mat-icon title="[high_quality]">high_quality</mat-icon>
  <mat-icon title="[my_library_add]">my_library_add</mat-icon>
  <mat-icon title="[my_library_books]">my_library_books</mat-icon>
  <mat-icon title="[my_library_music]">my_library_music</mat-icon>
  <mat-icon title="[loop]">loop</mat-icon>
  <mat-icon title="[mic]">mic</mat-icon>
  <mat-icon title="[mic_none]">mic_none</mat-icon>
  <mat-icon title="[mic_off]">mic_off</mat-icon>
  <mat-icon title="[movie]">movie</mat-icon>
  <mat-icon title="[music_video]">music_video</mat-icon>
  <mat-icon title="[new_releases]">new_releases</mat-icon>
  <mat-icon title="[not_interested]">not_interested</mat-icon>
  <mat-icon title="[note]">note</mat-icon>
  <mat-icon title="[pause]">pause</mat-icon>
  <mat-icon title="[pause_circle_filled]">pause_circle_filled</mat-icon>
  <mat-icon title="[pause_circle_outline]">pause_circle_outline</mat-icon>
  <mat-icon title="[play_arrow]">play_arrow</mat-icon>
  <mat-icon title="[play_circle_fill]">play_circle_fill</mat-icon>
  <mat-icon title="[play_circle_outline]">play_circle_outline</mat-icon>
  <mat-icon title="[playlist_add]">playlist_add</mat-icon>
  <mat-icon title="[playlist_add_check]">playlist_add_check</mat-icon>
  <mat-icon title="[playlist_play]">playlist_play</mat-icon>
  <mat-icon title="[queue]">queue</mat-icon>
  <mat-icon title="[queue_music]">queue_music</mat-icon>
  <mat-icon title="[queue_play_next]">queue_play_next</mat-icon>
  <mat-icon title="[radio]">radio</mat-icon>
  <mat-icon title="[recent_actors]">recent_actors</mat-icon>
  <mat-icon title="[remove_from_queue]">remove_from_queue</mat-icon>
  <mat-icon title="[repeat]">repeat</mat-icon>
  <mat-icon title="[repeat_one]">repeat_one</mat-icon>
  <mat-icon title="[replay]">replay</mat-icon>
  <mat-icon title="[replay_10]">replay_10</mat-icon>
  <mat-icon title="[replay_30]">replay_30</mat-icon>
  <mat-icon title="[replay_5]">replay_5</mat-icon>
  <mat-icon title="[shuffle]">shuffle</mat-icon>
  <mat-icon title="[skip_next]">skip_next</mat-icon>
  <mat-icon title="[skip_previous]">skip_previous</mat-icon>
  <mat-icon title="[slow_motion_video]">slow_motion_video</mat-icon>
  <mat-icon title="[snooze]">snooze</mat-icon>
  <mat-icon title="[sort_by_alpha]">sort_by_alpha</mat-icon>
  <mat-icon title="[stop]">stop</mat-icon>
  <mat-icon title="[subscriptions]">subscriptions</mat-icon>
  <mat-icon title="[subtitles]">subtitles</mat-icon>
  <mat-icon title="[surround_sound]">surround_sound</mat-icon>
  <mat-icon title="[video_call]">video_call</mat-icon>
  <mat-icon title="[video_label]">video_label</mat-icon>
  <mat-icon title="[video_library]">video_library</mat-icon>
  <mat-icon title="[videocam]">videocam</mat-icon>
  <mat-icon title="[videocam_off]">videocam_off</mat-icon>
  <mat-icon title="[volume_down]">volume_down</mat-icon>
  <mat-icon title="[volume_mute]">volume_mute</mat-icon>
  <mat-icon title="[volume_off]">volume_off</mat-icon>
  <mat-icon title="[volume_up]">volume_up</mat-icon>
  <mat-icon title="[web]">web</mat-icon>
  <mat-icon title="[web_asset]">web_asset</mat-icon>
</card>
<card [title]="'Cummunikation icons'">
  <mat-icon title="[business]">business</mat-icon>
  <mat-icon title="[call]">call</mat-icon>
  <mat-icon title="[call_end]">call_end</mat-icon>
  <mat-icon title="[call_made]">call_made</mat-icon>
  <mat-icon title="[call_merge]">call_merge</mat-icon>
  <mat-icon title="[call_missed]">call_missed</mat-icon>
  <mat-icon title="[call_missed_outgoing]">call_missed_outgoing</mat-icon>
  <mat-icon title="[call_received]">call_received</mat-icon>
  <mat-icon title="[call_split]">call_split</mat-icon>
  <mat-icon title="[chat]">chat</mat-icon>
  <mat-icon title="[chat_bubble]">chat_bubble</mat-icon>
  <mat-icon title="[chat_bubble_outline]">chat_bubble_outline</mat-icon>
  <mat-icon title="[clear_all]">clear_all</mat-icon>
  <mat-icon title="[comment]">comment</mat-icon>
  <mat-icon title="[contact_mail]">contact_mail</mat-icon>
  <mat-icon title="[contact_phone]">contact_phone</mat-icon>
  <mat-icon title="[contacts]">contacts</mat-icon>
  <mat-icon title="[dialer_sip]">dialer_sip</mat-icon>
  <mat-icon title="[dialpad]">dialpad</mat-icon>
  <mat-icon title="[email]">email</mat-icon>
  <mat-icon title="[forum]">forum</mat-icon>
  <mat-icon title="[import_contacts]">import_contacts</mat-icon>
  <mat-icon title="[import_export]">import_export</mat-icon>
  <mat-icon title="[invert_colors_off]">invert_colors_off</mat-icon>
  <mat-icon title="[live_help]">live_help</mat-icon>
  <mat-icon title="[location_off]">location_off</mat-icon>
  <mat-icon title="[location_on]">location_on</mat-icon>
  <mat-icon title="[mail_outline]">mail_outline</mat-icon>
  <mat-icon title="[message]">message</mat-icon>
  <mat-icon title="[no_sim]">no_sim</mat-icon>
  <mat-icon title="[phone]">phone</mat-icon>
  <mat-icon title="[phonelink_erase]">phonelink_erase</mat-icon>
  <mat-icon title="[phonelink_lock]">phonelink_lock</mat-icon>
  <mat-icon title="[phonelink_ring]">phonelink_ring</mat-icon>
  <mat-icon title="[phonelink_setup]">phonelink_setup</mat-icon>
  <mat-icon title="[portable_wifi_off]">portable_wifi_off</mat-icon>
  <mat-icon title="[present_to_all]">present_to_all</mat-icon>
  <mat-icon title="[ring_volume]">ring_volume</mat-icon>
  <mat-icon title="[rss_feed]">rss_feed</mat-icon>
  <mat-icon title="[screen_share]">screen_share</mat-icon>
  <mat-icon title="[stay_current_landscape]">stay_current_landscape</mat-icon>
  <mat-icon title="[stay_current_portrait]">stay_current_portrait</mat-icon>
  <mat-icon title="[stay_primary_landscape]">stay_primary_landscape</mat-icon>
  <mat-icon title="[stay_primary_portrait]">stay_primary_portrait</mat-icon>
  <mat-icon title="[stop_screen_share]">stop_screen_share</mat-icon>
  <mat-icon title="[swap_calls]">swap_calls</mat-icon>
  <mat-icon title="[textsms]">textsms</mat-icon>
  <mat-icon title="[voicemail]">voicemail</mat-icon>
  <mat-icon title="[vpn_key]">vpn_key</mat-icon>
</card>
<card [title]="'Content icons'">
  <mat-icon title="[add]">add</mat-icon>
  <mat-icon title="[add_box]">add_box</mat-icon>
  <mat-icon title="[add_circle]">add_circle</mat-icon>
  <mat-icon title="[add_circle_outline]">add_circle_outline</mat-icon>
  <mat-icon title="[archive]">archive</mat-icon>
  <mat-icon title="[backspace]">backspace</mat-icon>
  <mat-icon title="[block]">block</mat-icon>
  <mat-icon title="[clear]">clear</mat-icon>
  <mat-icon title="[content_copy]">content_copy</mat-icon>
  <mat-icon title="[content_cut]">content_cut</mat-icon>
  <mat-icon title="[content_paste]">content_paste</mat-icon>
  <mat-icon title="[create]">create</mat-icon>
  <mat-icon title="[delete_sweep]">delete_sweep</mat-icon>
  <mat-icon title="[drafts]">drafts</mat-icon>
  <mat-icon title="[filter_list]">filter_list</mat-icon>
  <mat-icon title="[flag]">flag</mat-icon>
  <mat-icon title="[font_download]">font_download</mat-icon>
  <mat-icon title="[forward]">forward</mat-icon>
  <mat-icon title="[gesture]">gesture</mat-icon>
  <mat-icon title="[inbox]">inbox</mat-icon>
  <mat-icon title="[link]">link</mat-icon>
  <mat-icon title="[low_priority]">low_priority</mat-icon>
  <mat-icon title="[mail]">mail</mat-icon>
  <mat-icon title="[markunread]">markunread</mat-icon>
  <mat-icon title="[move_to_inbox]">move_to_inbox</mat-icon>
  <mat-icon title="[next_week]">next_week</mat-icon>
  <mat-icon title="[redo]">redo</mat-icon>
  <mat-icon title="[remove]">remove</mat-icon>
  <mat-icon title="[remove_circle]">remove_circle</mat-icon>
  <mat-icon title="[remove_circle_outline]">remove_circle_outline</mat-icon>
  <mat-icon title="[reply]">reply</mat-icon>
  <mat-icon title="[reply_all]">reply_all</mat-icon>
  <mat-icon title="[report]">report</mat-icon>
  <mat-icon title="[save]">save</mat-icon>
  <mat-icon title="[select_all]">select_all</mat-icon>
  <mat-icon title="[send]">send</mat-icon>
  <mat-icon title="[sort]">sort</mat-icon>
  <mat-icon title="[text_format]">text_format</mat-icon>
  <mat-icon title="[unarchive]">unarchive</mat-icon>
  <mat-icon title="[undo]">undo</mat-icon>
  <mat-icon title="[weekend]">weekend</mat-icon>
</card>
<card [title]="'Device icons'">
  <mat-icon title="[access_alarms]">access_alarms</mat-icon>
  <mat-icon title="[access_alarm]">access_alarm</mat-icon>
  <mat-icon title="[access_time]">access_time</mat-icon>
  <mat-icon title="[add_alarm]">add_alarm</mat-icon>
  <mat-icon title="[airplanemode_on]">airplanemode_on</mat-icon>
  <mat-icon title="[airplanemode_inactive]">airplanemode_inactive</mat-icon>
  <mat-icon title="[battery_charging_full]">battery_charging_full</mat-icon>
  <mat-icon title="[battery_full]">battery_full</mat-icon>
  <mat-icon title="[battery_std]">battery_std</mat-icon>
  <mat-icon title="[battery_unknown]">battery_unknown</mat-icon>
  <mat-icon title="[bluetooth]">bluetooth</mat-icon>
  <mat-icon title="[bluetooth_connected]">bluetooth_connected</mat-icon>
  <mat-icon title="[bluetooth_disabled]">bluetooth_disabled</mat-icon>
  <mat-icon title="[bluetooth_searching]">bluetooth_searching</mat-icon>
  <mat-icon title="[brightness_auto]">brightness_auto</mat-icon>
  <mat-icon title="[brightness_high]">brightness_high</mat-icon>
  <mat-icon title="[brightness_low]">brightness_low</mat-icon>
  <mat-icon title="[brightness_medium]">brightness_medium</mat-icon>
  <mat-icon title="[data_usage]">data_usage</mat-icon>
  <mat-icon title="[developer_mode]">developer_mode</mat-icon>
  <mat-icon title="[devices]">devices</mat-icon>
  <mat-icon title="[dvr]">dvr</mat-icon>
  <mat-icon title="[gps_fixed]">gps_fixed</mat-icon>
  <mat-icon title="[gps_not_fixed]">gps_not_fixed</mat-icon>
  <mat-icon title="[gps_off]">gps_off</mat-icon>
  <mat-icon title="[graphic_eq]">graphic_eq</mat-icon>
  <mat-icon title="[location_disabled]">location_disabled</mat-icon>
  <mat-icon title="[location_searching]">location_searching</mat-icon>
  <mat-icon title="[network_cell]">network_cell</mat-icon>
  <mat-icon title="[network_wifi]">network_wifi</mat-icon>
  <mat-icon title="[nfc]">nfc</mat-icon>
  <mat-icon title="[screen_lock_landscape]">screen_lock_landscape</mat-icon>
  <mat-icon title="[screen_lock_portrait]">screen_lock_portrait</mat-icon>
  <mat-icon title="[screen_lock_rotation]">screen_lock_rotation</mat-icon>
  <mat-icon title="[screen_rotation]">screen_rotation</mat-icon>
  <mat-icon title="[sd_storage]">sd_storage</mat-icon>
  <mat-icon title="[settings_system_daydream]">settings_system_daydream</mat-icon>
  <mat-icon title="[signal_cellular_4_bar]">signal_cellular_4_bar</mat-icon>
  <mat-icon title="[signal_cellular_connected_no_internet_4_bar]">signal_cellular_connected_no_internet_4_bar</mat-icon>
  <mat-icon title="[signal_cellular_no_sim]">signal_cellular_no_sim</mat-icon>
  <mat-icon title="[signal_cellular_null]">signal_cellular_null</mat-icon>
  <mat-icon title="[signal_cellular_off]">signal_cellular_off</mat-icon>
  <mat-icon title="[signal_wifi_4_bar]">signal_wifi_4_bar</mat-icon>
  <mat-icon title="[signal_wifi_4_bar_lock]">signal_wifi_4_bar_lock</mat-icon>
  <mat-icon title="[signal_wifi_off]">signal_wifi_off</mat-icon>
  <mat-icon title="[storage]">storage</mat-icon>
  <mat-icon title="[usb]">usb</mat-icon>
  <mat-icon title="[wallpaper]">wallpaper</mat-icon>
  <mat-icon title="[wifi_lock]">wifi_lock</mat-icon>
  <mat-icon title="[wifi_tethering]">wifi_tethering</mat-icon>
</card>
<card [title]="'Editor icons'">
  <mat-icon title="[attach_file]">attach_file</mat-icon>
  <mat-icon title="[attach_money]">attach_money</mat-icon>
  <mat-icon title="[border_all]">border_all</mat-icon>
  <mat-icon title="[border_bottom]">border_bottom</mat-icon>
  <mat-icon title="[border_clear]">border_clear</mat-icon>
  <mat-icon title="[border_color]">border_color</mat-icon>
  <mat-icon title="[border_horizontal]">border_horizontal</mat-icon>
  <mat-icon title="[border_inner]">border_inner</mat-icon>
  <mat-icon title="[border_left]">border_left</mat-icon>
  <mat-icon title="[border_outer]">border_outer</mat-icon>
  <mat-icon title="[border_right]">border_right</mat-icon>
  <mat-icon title="[border_style]">border_style</mat-icon>
  <mat-icon title="[border_top]">border_top</mat-icon>
  <mat-icon title="[border_vertical]">border_vertical</mat-icon>
  <mat-icon title="[bubble_chart]">bubble_chart</mat-icon>
  <mat-icon title="[drag_handle]">drag_handle</mat-icon>
  <mat-icon title="[format_align_center]">format_align_center</mat-icon>
  <mat-icon title="[format_align_justify]">format_align_justify</mat-icon>
  <mat-icon title="[format_align_left]">format_align_left</mat-icon>
  <mat-icon title="[format_align_right]">format_align_right</mat-icon>
  <mat-icon title="[format_bold]">format_bold</mat-icon>
  <mat-icon title="[format_clear]">format_clear</mat-icon>
  <mat-icon title="[format_color_fill]">format_color_fill</mat-icon>
  <mat-icon title="[format_color_reset]">format_color_reset</mat-icon>
  <mat-icon title="[format_color_text]">format_color_text</mat-icon>
  <mat-icon title="[format_indent_decrease]">format_indent_decrease</mat-icon>
  <mat-icon title="[format_indent_increase]">format_indent_increase</mat-icon>
  <mat-icon title="[format_italic]">format_italic</mat-icon>
  <mat-icon title="[format_line_spacing]">format_line_spacing</mat-icon>
  <mat-icon title="[format_list_bulleted]">format_list_bulleted</mat-icon>
  <mat-icon title="[format_list_numbered]">format_list_numbered</mat-icon>
  <mat-icon title="[format_paint]">format_paint</mat-icon>
  <mat-icon title="[format_quote]">format_quote</mat-icon>
  <mat-icon title="[format_shapes]">format_shapes</mat-icon>
  <mat-icon title="[format_size]">format_size</mat-icon>
  <mat-icon title="[format_strikethrough]">format_strikethrough</mat-icon>
  <mat-icon title="[format_textdirection_l_to_r]">format_textdirection_l_to_r</mat-icon>
  <mat-icon title="[format_textdirection_r_to_l]">format_textdirection_r_to_l</mat-icon>
  <mat-icon title="[format_underline]">format_underline</mat-icon>
  <mat-icon title="[functions]">functions</mat-icon>
  <mat-icon title="[highlight]">highlight</mat-icon>
  <mat-icon title="[insert_chart]">insert_chart</mat-icon>
  <mat-icon title="[insert_comment]">insert_comment</mat-icon>
  <mat-icon title="[insert_drive_file]">insert_drive_file</mat-icon>
  <mat-icon title="[insert_emoticon]">insert_emoticon</mat-icon>
  <mat-icon title="[insert_invitation]">insert_invitation</mat-icon>
  <mat-icon title="[insert_link]">insert_link</mat-icon>
  <mat-icon title="[insert_photo]">insert_photo</mat-icon>
  <mat-icon title="[linear_scale]">linear_scale</mat-icon>
  <mat-icon title="[merge_type]">merge_type</mat-icon>
  <mat-icon title="[mode_comment]">mode_comment</mat-icon>
  <mat-icon title="[mode_edit]">mode_edit</mat-icon>
  <mat-icon title="[monetization_on]">monetization_on</mat-icon>
  <mat-icon title="[money_off]">money_off</mat-icon>
  <mat-icon title="[multiline_chart]">multiline_chart</mat-icon>
  <mat-icon title="[pie_chart]">pie_chart</mat-icon>
  <mat-icon title="[pie_chart_outline]">pie_chart_outline</mat-icon>
  <mat-icon title="[publish]">publish</mat-icon>
  <mat-icon title="[short_text]">short_text</mat-icon>
  <mat-icon title="[show_chart]">show_chart</mat-icon>
  <mat-icon title="[space_bar]">space_bar</mat-icon>
  <mat-icon title="[strikethrough_s]">strikethrough_s</mat-icon>
  <mat-icon title="[text_fields]">text_fields</mat-icon>
  <mat-icon title="[title]">title</mat-icon>
  <mat-icon title="[vertical_align_bottom]">vertical_align_bottom</mat-icon>
  <mat-icon title="[vertical_align_center]">vertical_align_center</mat-icon>
  <mat-icon title="[vertical_align_top]">vertical_align_top</mat-icon>
  <mat-icon title="[wrap_text]">wrap_text</mat-icon>
</card>
<card [title]="'File icons'">
  <mat-icon title="[attachment]">attachment</mat-icon>
  <mat-icon title="[cloud]">cloud</mat-icon>
  <mat-icon title="[cloud_circle]">cloud_circle</mat-icon>
  <mat-icon title="[cloud_done]">cloud_done</mat-icon>
  <mat-icon title="[cloud_download]">cloud_download</mat-icon>
  <mat-icon title="[cloud_off]">cloud_off</mat-icon>
  <mat-icon title="[cloud_queue]">cloud_queue</mat-icon>
  <mat-icon title="[cloud_upload]">cloud_upload</mat-icon>
  <mat-icon title="[create_new_folder]">create_new_folder</mat-icon>
  <mat-icon title="[file_download]">file_download</mat-icon>
  <mat-icon title="[file_upload]">file_upload</mat-icon>
  <mat-icon title="[folder]">folder</mat-icon>
  <mat-icon title="[folder_open]">folder_open</mat-icon>
  <mat-icon title="[folder_shared]">folder_shared</mat-icon>
</card>
<card [title]="'Hardware icons'">
  <mat-icon title="[cast]">cast</mat-icon>
  <mat-icon title="[cast_connected]">cast_connected</mat-icon>
  <mat-icon title="[computer]">computer</mat-icon>
  <mat-icon title="[desktop_mac]">desktop_mac</mat-icon>
  <mat-icon title="[desktop_windows]">desktop_windows</mat-icon>
  <mat-icon title="[device_hub]">device_hub</mat-icon>
  <mat-icon title="[devices_other]">devices_other</mat-icon>
  <mat-icon title="[dock]">dock</mat-icon>
  <mat-icon title="[gamepad]">gamepad</mat-icon>
  <mat-icon title="[headset]">headset</mat-icon>
  <mat-icon title="[headset_mic]">headset_mic</mat-icon>
  <mat-icon title="[keyboard]">keyboard</mat-icon>
  <mat-icon title="[keyboard_arrow_down]">keyboard_arrow_down</mat-icon>
  <mat-icon title="[keyboard_arrow_left]">keyboard_arrow_left</mat-icon>
  <mat-icon title="[keyboard_arrow_right]">keyboard_arrow_right</mat-icon>
  <mat-icon title="[keyboard_arrow_up]">keyboard_arrow_up</mat-icon>
  <mat-icon title="[keyboard_backspace]">keyboard_backspace</mat-icon>
  <mat-icon title="[keyboard_capslock]">keyboard_capslock</mat-icon>
  <mat-icon title="[keyboard_hide]">keyboard_hide</mat-icon>
  <mat-icon title="[keyboard_return]">keyboard_return</mat-icon>
  <mat-icon title="[keyboard_tab]">keyboard_tab</mat-icon>
  <mat-icon title="[keyboard_voice]">keyboard_voice</mat-icon>
  <mat-icon title="[laptop]">laptop</mat-icon>
  <mat-icon title="[laptop_chromebook]">laptop_chromebook</mat-icon>
  <mat-icon title="[laptop_mac]">laptop_mac</mat-icon>
  <mat-icon title="[laptop_windows]">laptop_windows</mat-icon>
  <mat-icon title="[memory]">memory</mat-icon>
  <mat-icon title="[mouse]">mouse</mat-icon>
  <mat-icon title="[phone_android]">phone_android</mat-icon>
  <mat-icon title="[phone_iphone]">phone_iphone</mat-icon>
  <mat-icon title="[phonelink]">phonelink</mat-icon>
  <mat-icon title="[phonelink_off]">phonelink_off</mat-icon>
  <mat-icon title="[power_input]">power_input</mat-icon>
  <mat-icon title="[router]">router</mat-icon>
  <mat-icon title="[scanner]">scanner</mat-icon>
  <mat-icon title="[security]">security</mat-icon>
  <mat-icon title="[sim_card]">sim_card</mat-icon>
  <mat-icon title="[smartphone]">smartphone</mat-icon>
  <mat-icon title="[speaker]">speaker</mat-icon>
  <mat-icon title="[speaker_group]">speaker_group</mat-icon>
  <mat-icon title="[tablet]">tablet</mat-icon>
  <mat-icon title="[tablet_android]">tablet_android</mat-icon>
  <mat-icon title="[tablet_mac]">tablet_mac</mat-icon>
  <mat-icon title="[toys]">toys</mat-icon>
  <mat-icon title="[tv]">tv</mat-icon>
  <mat-icon title="[watch]">watch</mat-icon>
</card>
<card [title]="'Image icons'">
  <mat-icon title="[add_a_photo]">add_a_photo</mat-icon>
  <mat-icon title="[add_to_photos]">add_to_photos</mat-icon>
  <mat-icon title="[adjust]">adjust</mat-icon>
  <mat-icon title="[assistant_photo]">assistant_photo</mat-icon>
  <mat-icon title="[audiotrack]">audiotrack</mat-icon>
  <mat-icon title="[blur_circular]">blur_circular</mat-icon>
  <mat-icon title="[blur_linear]">blur_linear</mat-icon>
  <mat-icon title="[blur_off]">blur_off</mat-icon>
  <mat-icon title="[blur_on]">blur_on</mat-icon>
  <mat-icon title="[brightness_1]">brightness_1</mat-icon>
  <mat-icon title="[brightness_2]">brightness_2</mat-icon>
  <mat-icon title="[brightness_3]">brightness_3</mat-icon>
  <mat-icon title="[brightness_4]">brightness_4</mat-icon>
  <mat-icon title="[brightness_5]">brightness_5</mat-icon>
  <mat-icon title="[brightness_6]">brightness_6</mat-icon>
  <mat-icon title="[brightness_7]">brightness_7</mat-icon>
  <mat-icon title="[broken_image]">broken_image</mat-icon>
  <mat-icon title="[brush]">brush</mat-icon>
  <mat-icon title="[burst_mode]">burst_mode</mat-icon>
  <mat-icon title="[camera]">camera</mat-icon>
  <mat-icon title="[camera_alt]">camera_alt</mat-icon>
  <mat-icon title="[camera_front]">camera_front</mat-icon>
  <mat-icon title="[camera_rear]">camera_rear</mat-icon>
  <mat-icon title="[camera_roll]">camera_roll</mat-icon>
  <mat-icon title="[center_focus_strong]">center_focus_strong</mat-icon>
  <mat-icon title="[center_focus_weak]">center_focus_weak</mat-icon>
  <mat-icon title="[collections]">collections</mat-icon>
  <mat-icon title="[collections_bookmark]">collections_bookmark</mat-icon>
  <mat-icon title="[color_lens]">color_lens</mat-icon>
  <mat-icon title="[colorize]">colorize</mat-icon>
  <mat-icon title="[compare]">compare</mat-icon>
  <mat-icon title="[control_point]">control_point</mat-icon>
  <mat-icon title="[control_point_duplicate]">control_point_duplicate</mat-icon>
  <mat-icon title="[crop]">crop</mat-icon>
  <mat-icon title="[crop_16_9]">crop_16_9</mat-icon>
  <mat-icon title="[crop_3_2]">crop_3_2</mat-icon>
  <mat-icon title="[crop_5_4]">crop_5_4</mat-icon>
  <mat-icon title="[crop_7_5]">crop_7_5</mat-icon>
  <mat-icon title="[crop_din]">crop_din</mat-icon>
  <mat-icon title="[crop_free]">crop_free</mat-icon>
  <mat-icon title="[crop_landscape]">crop_landscape</mat-icon>
  <mat-icon title="[crop_original]">crop_original</mat-icon>
  <mat-icon title="[crop_portrait]">crop_portrait</mat-icon>
  <mat-icon title="[crop_rotate]">crop_rotate</mat-icon>
  <mat-icon title="[crop_square]">crop_square</mat-icon>
  <mat-icon title="[dehaze]">dehaze</mat-icon>
  <mat-icon title="[details]">details</mat-icon>
  <mat-icon title="[edit]">edit</mat-icon>
  <mat-icon title="[exposure]">exposure</mat-icon>
  <mat-icon title="[exposure_neg_1]">exposure_neg_1</mat-icon>
  <mat-icon title="[exposure_neg_2]">exposure_neg_2</mat-icon>
  <mat-icon title="[exposure_plus_1]">exposure_plus_1</mat-icon>
  <mat-icon title="[exposure_plus_2]">exposure_plus_2</mat-icon>
  <mat-icon title="[exposure_zero]">exposure_zero</mat-icon>
  <mat-icon title="[filter]">filter</mat-icon>
  <mat-icon title="[filter_1]">filter_1</mat-icon>
  <mat-icon title="[filter_2]">filter_2</mat-icon>
  <mat-icon title="[filter_3]">filter_3</mat-icon>
  <mat-icon title="[filter_4]">filter_4</mat-icon>
  <mat-icon title="[filter_5]">filter_5</mat-icon>
  <mat-icon title="[filter_6]">filter_6</mat-icon>
  <mat-icon title="[filter_7]">filter_7</mat-icon>
  <mat-icon title="[filter_8]">filter_8</mat-icon>
  <mat-icon title="[filter_9]">filter_9</mat-icon>
  <mat-icon title="[filter_9_plus]">filter_9_plus</mat-icon>
  <mat-icon title="[filter_b_and_w]">filter_b_and_w</mat-icon>
  <mat-icon title="[filter_center_focus]">filter_center_focus</mat-icon>
  <mat-icon title="[filter_drama]">filter_drama</mat-icon>
  <mat-icon title="[filter_frames]">filter_frames</mat-icon>
  <mat-icon title="[filter_hdr]">filter_hdr</mat-icon>
  <mat-icon title="[filter_none]">filter_none</mat-icon>
  <mat-icon title="[filter_tilt_shift]">filter_tilt_shift</mat-icon>
  <mat-icon title="[filter_vintage]">filter_vintage</mat-icon>
  <mat-icon title="[flare]">flare</mat-icon>
  <mat-icon title="[flash_auto]">flash_auto</mat-icon>
  <mat-icon title="[flash_off]">flash_off</mat-icon>
  <mat-icon title="[flash_on]">flash_on</mat-icon>
  <mat-icon title="[flip]">flip</mat-icon>
  <mat-icon title="[gradient]">gradient</mat-icon>
  <mat-icon title="[grain]">grain</mat-icon>
  <mat-icon title="[grid_off]">grid_off</mat-icon>
  <mat-icon title="[grid_on]">grid_on</mat-icon>
  <mat-icon title="[hdr_off]">hdr_off</mat-icon>
  <mat-icon title="[hdr_on]">hdr_on</mat-icon>
  <mat-icon title="[hdr_strong]">hdr_strong</mat-icon>
  <mat-icon title="[hdr_weak]">hdr_weak</mat-icon>
  <mat-icon title="[healing]">healing</mat-icon>
  <mat-icon title="[image]">image</mat-icon>
  <mat-icon title="[image_aspect_ratio]">image_aspect_ratio</mat-icon>
  <mat-icon title="[iso]">iso</mat-icon>
  <mat-icon title="[landscape]">landscape</mat-icon>
  <mat-icon title="[leak_add]">leak_add</mat-icon>
  <mat-icon title="[leak_remove]">leak_remove</mat-icon>
  <mat-icon title="[lens]">lens</mat-icon>
  <mat-icon title="[linked_camera]">linked_camera</mat-icon>
  <mat-icon title="[looks]">looks</mat-icon>
  <mat-icon title="[looks_3]">looks_3</mat-icon>
  <mat-icon title="[looks_4]">looks_4</mat-icon>
  <mat-icon title="[looks_5]">looks_5</mat-icon>
  <mat-icon title="[looks_6]">looks_6</mat-icon>
  <mat-icon title="[looks_one]">looks_one</mat-icon>
  <mat-icon title="[looks_two]">looks_two</mat-icon>
  <mat-icon title="[loupe]">loupe</mat-icon>
  <mat-icon title="[monochrome_photos]">monochrome_photos</mat-icon>
  <mat-icon title="[movie_creation]">movie_creation</mat-icon>
  <mat-icon title="[movie_filter]">movie_filter</mat-icon>
  <mat-icon title="[music_note]">music_note</mat-icon>
  <mat-icon title="[nature]">nature</mat-icon>
  <mat-icon title="[nature_people]">nature_people</mat-icon>
  <mat-icon title="[navigate_before]">navigate_before</mat-icon>
  <mat-icon title="[navigate_next]">navigate_next</mat-icon>
  <mat-icon title="[palette]">palette</mat-icon>
  <mat-icon title="[panorama]">panorama</mat-icon>
  <mat-icon title="[panorama_fisheye]">panorama_fisheye</mat-icon>
  <mat-icon title="[panorama_horizontal]">panorama_horizontal</mat-icon>
  <mat-icon title="[panorama_vertical]">panorama_vertical</mat-icon>
  <mat-icon title="[panorama_wide_angle]">panorama_wide_angle</mat-icon>
  <mat-icon title="[photo]">photo</mat-icon>
  <mat-icon title="[photo_album]">photo_album</mat-icon>
  <mat-icon title="[photo_camera]">photo_camera</mat-icon>
  <mat-icon title="[photo_filter]">photo_filter</mat-icon>
  <mat-icon title="[photo_library]">photo_library</mat-icon>
  <mat-icon title="[photo_size_select_actual]">photo_size_select_actual</mat-icon>
  <mat-icon title="[photo_size_select_large]">photo_size_select_large</mat-icon>
  <mat-icon title="[photo_size_select_small]">photo_size_select_small</mat-icon>
  <mat-icon title="[picture_as_pdf]">picture_as_pdf</mat-icon>
  <mat-icon title="[portrait]">portrait</mat-icon>
  <mat-icon title="[remove_red_eye]">remove_red_eye</mat-icon>
  <mat-icon title="[rotate_90_degrees_ccw]">rotate_90_degrees_ccw</mat-icon>
  <mat-icon title="[rotate_left]">rotate_left</mat-icon>
  <mat-icon title="[rotate_right]">rotate_right</mat-icon>
  <mat-icon title="[slideshow]">slideshow</mat-icon>
  <mat-icon title="[straighten]">straighten</mat-icon>
  <mat-icon title="[style]">style</mat-icon>
  <mat-icon title="[switch_camera]">switch_camera</mat-icon>
  <mat-icon title="[switch_video]">switch_video</mat-icon>
  <mat-icon title="[tag_faces]">tag_faces</mat-icon>
  <mat-icon title="[texture]">texture</mat-icon>
  <mat-icon title="[timelapse]">timelapse</mat-icon>
  <mat-icon title="[timer]">timer</mat-icon>
  <mat-icon title="[timer_10]">timer_10</mat-icon>
  <mat-icon title="[timer_3]">timer_3</mat-icon>
  <mat-icon title="[timer_off]">timer_off</mat-icon>
  <mat-icon title="[tonality]">tonality</mat-icon>
  <mat-icon title="[transform]">transform</mat-icon>
  <mat-icon title="[tune]">tune</mat-icon>
  <mat-icon title="[view_comfy]">view_comfy</mat-icon>
  <mat-icon title="[view_compact]">view_compact</mat-icon>
  <mat-icon title="[vignette]">vignette</mat-icon>
  <mat-icon title="[wb_auto]">wb_auto</mat-icon>
  <mat-icon title="[wb_cloudy]">wb_cloudy</mat-icon>
  <mat-icon title="[wb_incandescent]">wb_incandescent</mat-icon>
  <mat-icon title="[wb_sunny]">wb_sunny</mat-icon>
</card>
<card [title]="'Maps icons'">
  <mat-icon title="[add_location]">add_location</mat-icon>
  <mat-icon title="[beenhere]">beenhere</mat-icon>
  <mat-icon title="[directions]">directions</mat-icon>
  <mat-icon title="[directions_bike]">directions_bike</mat-icon>
  <mat-icon title="[directions_bus]">directions_bus</mat-icon>
  <mat-icon title="[directions_car]">directions_car</mat-icon>
  <mat-icon title="[directions_ferry]">directions_ferry</mat-icon>
  <mat-icon title="[directions_subway]">directions_subway</mat-icon>
  <mat-icon title="[directions_train]">directions_train</mat-icon>
  <mat-icon title="[directions_transit]">directions_transit</mat-icon>
  <mat-icon title="[directions_walk]">directions_walk</mat-icon>
  <mat-icon title="[edit_location]">edit_location</mat-icon>
  <mat-icon title="[ev_station]">ev_station</mat-icon>
  <mat-icon title="[flight]">flight</mat-icon>
  <mat-icon title="[hotel]">hotel</mat-icon>
  <mat-icon title="[layers]">layers</mat-icon>
  <mat-icon title="[layers_clear]">layers_clear</mat-icon>
  <mat-icon title="[local_activity]">local_activity</mat-icon>
  <mat-icon title="[local_airport]">local_airport</mat-icon>
  <mat-icon title="[local_atm]">local_atm</mat-icon>
  <mat-icon title="[local_bar]">local_bar</mat-icon>
  <mat-icon title="[local_cafe]">local_cafe</mat-icon>
  <mat-icon title="[local_car_wash]">local_car_wash</mat-icon>
  <mat-icon title="[local_convenience_store]">local_convenience_store</mat-icon>
  <mat-icon title="[local_dining]">local_dining</mat-icon>
  <mat-icon title="[local_drink]">local_drink</mat-icon>
  <mat-icon title="[local_florist]">local_florist</mat-icon>
  <mat-icon title="[local_gas_station]">local_gas_station</mat-icon>
  <mat-icon title="[local_grocery_store]">local_grocery_store</mat-icon>
  <mat-icon title="[local_hospital]">local_hospital</mat-icon>
  <mat-icon title="[local_hotel]">local_hotel</mat-icon>
  <mat-icon title="[local_laundry_service]">local_laundry_service</mat-icon>
  <mat-icon title="[local_library]">local_library</mat-icon>
  <mat-icon title="[local_mall]">local_mall</mat-icon>
  <mat-icon title="[local_movies]">local_movies</mat-icon>
  <mat-icon title="[local_offer]">local_offer</mat-icon>
  <mat-icon title="[local_parking]">local_parking</mat-icon>
  <mat-icon title="[local_pharmacy]">local_pharmacy</mat-icon>
  <mat-icon title="[local_phone]">local_phone</mat-icon>
  <mat-icon title="[local_pizza]">local_pizza</mat-icon>
  <mat-icon title="[local_play]">local_play</mat-icon>
  <mat-icon title="[local_post_office]">local_post_office</mat-icon>
  <mat-icon title="[local_print_shop]">local_print_shop</mat-icon>
  <mat-icon title="[local_restaurant]">local_restaurant</mat-icon>
  <mat-icon title="[local_see]">local_see</mat-icon>
  <mat-icon title="[local_shipping]">local_shipping</mat-icon>
  <mat-icon title="[local_taxi]">local_taxi</mat-icon>
  <mat-icon title="[map]">map</mat-icon>
  <mat-icon title="[my_location]">my_location</mat-icon>
  <mat-icon title="[navigation]">navigation</mat-icon>
  <mat-icon title="[near_me]">near_me</mat-icon>
  <mat-icon title="[person_pin_circle]">person_pin_circle</mat-icon>
  <mat-icon title="[person_pin]">person_pin</mat-icon>
  <mat-icon title="[pin_drop]">pin_drop</mat-icon>
  <mat-icon title="[place]">place</mat-icon>
  <mat-icon title="[rate_review]">rate_review</mat-icon>
  <mat-icon title="[restaurant]">restaurant</mat-icon>
  <mat-icon title="[restaurant_menu]">restaurant_menu</mat-icon>
  <mat-icon title="[satellite]">satellite</mat-icon>
  <mat-icon title="[store_mall_directory]">store_mall_directory</mat-icon>
  <mat-icon title="[streetview]">streetview</mat-icon>
  <mat-icon title="[subway]">subway</mat-icon>
  <mat-icon title="[terrain]">terrain</mat-icon>
  <mat-icon title="[traffic]">traffic</mat-icon>
  <mat-icon title="[train]">train</mat-icon>
  <mat-icon title="[tram]">tram</mat-icon>
  <mat-icon title="[transfer_within_a_station]">transfer_within_a_station</mat-icon>
  <mat-icon title="[zoom_out_map]">zoom_out_map</mat-icon>
</card>
<card [title]="'Navigation icons'">
  <mat-icon title="[apps]">apps</mat-icon>
  <mat-icon title="[arrow_back]">arrow_back</mat-icon>
  <mat-icon title="[arrow_downward]">arrow_downward</mat-icon>
  <mat-icon title="[arrow_drop_down]">arrow_drop_down</mat-icon>
  <mat-icon title="[arrow_drop_down_circle]">arrow_drop_down_circle</mat-icon>
  <mat-icon title="[arrow_drop_up]">arrow_drop_up</mat-icon>
  <mat-icon title="[arrow_forward]">arrow_forward</mat-icon>
  <mat-icon title="[arrow_upwards]">arrow_upwards</mat-icon>
  <mat-icon title="[cancel]">cancel</mat-icon>
  <mat-icon title="[check]">check</mat-icon>
  <mat-icon title="[chevron_left]">chevron_left</mat-icon>
  <mat-icon title="[chevron_right]">chevron_right</mat-icon>
  <mat-icon title="[close]">close</mat-icon>
  <mat-icon title="[expand_less]">expand_less</mat-icon>
  <mat-icon title="[expand_more]">expand_more</mat-icon>
  <mat-icon title="[first_page]">first_page</mat-icon>
  <mat-icon title="[fullscreen]">fullscreen</mat-icon>
  <mat-icon title="[fullscreen_exit]">fullscreen_exit</mat-icon>
  <mat-icon title="[last_page]">last_page</mat-icon>
  <mat-icon title="[menu]">menu</mat-icon>
  <mat-icon title="[more_horiz]">more_horiz</mat-icon>
  <mat-icon title="[more_vert]">more_vert</mat-icon>
  <mat-icon title="[refresh]">refresh</mat-icon>
  <mat-icon title="[subdirectory_arrow_left]">subdirectory_arrow_left</mat-icon>
  <mat-icon title="[subdirectory_arrow_right]">subdirectory_arrow_right</mat-icon>
  <mat-icon title="[adb]">adb</mat-icon>
  <mat-icon title="[airline_seat_flat]">airline_seat_flat</mat-icon>
  <mat-icon title="[airline_seat_individual_suite]">airline_seat_individual_suite</mat-icon>
  <mat-icon title="[airline_seat_legroom_extra]">airline_seat_legroom_extra</mat-icon>
  <mat-icon title="[airline_seat_legroom_normal]">airline_seat_legroom_normal</mat-icon>
  <mat-icon title="[airline_seat_legroom_reduced]">airline_seat_legroom_reduced</mat-icon>
  <mat-icon title="[airline_seat_recline_extra]">airline_seat_recline_extra</mat-icon>
  <mat-icon title="[airline_seat_recline_normal]">airline_seat_recline_normal</mat-icon>
  <mat-icon title="[bluetooth_audio]">bluetooth_audio</mat-icon>
  <mat-icon title="[confirmation_number]">confirmation_number</mat-icon>
  <mat-icon title="[disc_full]">disc_full</mat-icon>
  <mat-icon title="[do_not_disturb]">do_not_disturb</mat-icon>
  <mat-icon title="[do_not_disturb_alt]">do_not_disturb_alt</mat-icon>
  <mat-icon title="[do_not_disturb_off]">do_not_disturb_off</mat-icon>
  <mat-icon title="[do_not_disturb_on]">do_not_disturb_on</mat-icon>
  <mat-icon title="[drive_eta]">drive_eta</mat-icon>
  <mat-icon title="[enhanced_encryption]">enhanced_encryption</mat-icon>
  <mat-icon title="[event_available]">event_available</mat-icon>
  <mat-icon title="[event_busy]">event_busy</mat-icon>
  <mat-icon title="[event_note]">event_note</mat-icon>
  <mat-icon title="[folder_special]">folder_special</mat-icon>
  <mat-icon title="[live_tv]">live_tv</mat-icon>
  <mat-icon title="[mms]">mms</mat-icon>
  <mat-icon title="[more]">more</mat-icon>
  <mat-icon title="[network_check]">network_check</mat-icon>
  <mat-icon title="[network_locked]">network_locked</mat-icon>
  <mat-icon title="[no_encryption]">no_encryption</mat-icon>
  <mat-icon title="[ondemand_video]">ondemand_video</mat-icon>
  <mat-icon title="[personal_video]">personal_video</mat-icon>
  <mat-icon title="[phone_bluetooth_speaker]">phone_bluetooth_speaker</mat-icon>
  <mat-icon title="[phone_forwarded]">phone_forwarded</mat-icon>
  <mat-icon title="[phone_in_talk]">phone_in_talk</mat-icon>
  <mat-icon title="[phone_locked]">phone_locked</mat-icon>
  <mat-icon title="[phone_missed]">phone_missed</mat-icon>
  <mat-icon title="[phone_paused]">phone_paused</mat-icon>
  <mat-icon title="[power]">power</mat-icon>
  <mat-icon title="[priority_high]">priority_high</mat-icon>
  <mat-icon title="[sd_card]">sd_card</mat-icon>
  <mat-icon title="[sim_card_alert]">sim_card_alert</mat-icon>
  <mat-icon title="[sms]">sms</mat-icon>
  <mat-icon title="[sms_failed]">sms_failed</mat-icon>
  <mat-icon title="[sync]">sync</mat-icon>
  <mat-icon title="[sync_disabled]">sync_disabled</mat-icon>
  <mat-icon title="[sync_problem]">sync_problem</mat-icon>
  <mat-icon title="[system_update]">system_update</mat-icon>
  <mat-icon title="[tap_and_play]">tap_and_play</mat-icon>
  <mat-icon title="[time_to_leave]">time_to_leave</mat-icon>
  <mat-icon title="[vibration]">vibration</mat-icon>
  <mat-icon title="[voice_chat]">voice_chat</mat-icon>
  <mat-icon title="[vpn_lock]">vpn_lock</mat-icon>
  <mat-icon title="[wc]">wc</mat-icon>
  <mat-icon title="[wifi]">wifi</mat-icon>
</card>
<card [title]="'Places icons'">
  <mat-icon title="[ac_unit]">ac_unit</mat-icon>
  <mat-icon title="[airport_shuttle]">airport_shuttle</mat-icon>
  <mat-icon title="[all_inclusive]">all_inclusive</mat-icon>
  <mat-icon title="[beach_access]">beach_access</mat-icon>
  <mat-icon title="[business_center]">business_center</mat-icon>
  <mat-icon title="[casino]">casino</mat-icon>
  <mat-icon title="[child_care]">child_care</mat-icon>
  <mat-icon title="[fitness_center]">fitness_center</mat-icon>
  <mat-icon title="[free_breakfast]">free_breakfast</mat-icon>
  <mat-icon title="[golf_course]">golf_course</mat-icon>
  <mat-icon title="[hot_tub]">hot_tub</mat-icon>
  <mat-icon title="[kitchen]">kitchen</mat-icon>
  <mat-icon title="[pool]">pool</mat-icon>
  <mat-icon title="[room_service]">room_service</mat-icon>
  <mat-icon title="[rv_hookup]">rv_hookup</mat-icon>
  <mat-icon title="[smoke_free]">smoke_free</mat-icon>
  <mat-icon title="[spa]">spa</mat-icon>
</card>
<card [title]="'Social icons'">
  <mat-icon title="[cake]">cake</mat-icon>
  <mat-icon title="[domain]">domain</mat-icon>
  <mat-icon title="[group]">group</mat-icon>
  <mat-icon title="[group_add]">group_add</mat-icon>
  <mat-icon title="[location_city]">location_city</mat-icon>
  <mat-icon title="[mood]">mood</mat-icon>
  <mat-icon title="[mood_bad]">mood_bad</mat-icon>
  <mat-icon title="[notifications]">notifications</mat-icon>
  <mat-icon title="[notifications_none]">notifications_none</mat-icon>
  <mat-icon title="[notifications_off]">notifications_off</mat-icon>
  <mat-icon title="[notifications_active]">notifications_active</mat-icon>
  <mat-icon title="[notifications_paused]">notifications_paused</mat-icon>
  <mat-icon title="[pages]">pages</mat-icon>
  <mat-icon title="[party_mode]">party_mode</mat-icon>
  <mat-icon title="[people]">people</mat-icon>
  <mat-icon title="[people_outline]">people_outline</mat-icon>
  <mat-icon title="[person]">person</mat-icon>
  <mat-icon title="[person_add]">person_add</mat-icon>
  <mat-icon title="[person_outline]">person_outline</mat-icon>
  <mat-icon title="[plus_one]">plus_one</mat-icon>
  <mat-icon title="[poll]">poll</mat-icon>
  <mat-icon title="[public]">public</mat-icon>
  <mat-icon title="[school]">school</mat-icon>
  <mat-icon title="[sentiment_dissatisfied]">sentiment_dissatisfied</mat-icon>
  <mat-icon title="[sentiment_neutral]">sentiment_neutral</mat-icon>
  <mat-icon title="[sentiment_satisfied]">sentiment_satisfied</mat-icon>
  <mat-icon title="[sentiment_very_dissatisfied]">sentiment_very_dissatisfied</mat-icon>
  <mat-icon title="[sentiment_very_satisfied]">sentiment_very_satisfied</mat-icon>
  <mat-icon title="[share]">share</mat-icon>
  <mat-icon title="[whatshot]">whatshot</mat-icon>
</card>
<card [title]="'Toggle icons'" class="mb-0">
  <mat-icon title="[check_box]">check_box</mat-icon>
  <mat-icon title="[check_box_outline_blank]">check_box_outline_blank</mat-icon>
  <mat-icon title="[indeterminate_check_box]">indeterminate_check_box</mat-icon>
  <mat-icon title="[radio_button_unchecked]">radio_button_unchecked</mat-icon>
  <mat-icon title="[radio_button_checked]">radio_button_checked</mat-icon>
  <mat-icon title="[star]">star</mat-icon>
  <mat-icon title="[star_half]">star_half</mat-icon>
  <mat-icon title="[star_border]">star_border</mat-icon>
</card>