<div class='papers-container'>

<ng-container *ngIf="isTopbranding">
	<top-branding [record]='topbranding' ></top-branding>	
</ng-container>

<ng-container *ngIf="isTopcarrousel">
	<top-carrousel [record]='topcarrousel' ></top-carrousel>	
</ng-container>

<ng-container *ngIf="isTopabout">
	<top-about [record]='topabout' ></top-about>	
</ng-container>

<ng-container *ngIf="isDestacado">
	<destacado [record]='destacado' ></destacado>	
</ng-container>

<ng-container *ngIf="isServicios">
	<top-servicios [record]='servicios' ></top-servicios>	
</ng-container>

<ng-container *ngIf="isContacto">
	<top-contacto [record]='contacto' ></top-contacto>	
</ng-container>

<ng-container *ngIf="isPortfolios">
	<div class="portfolio d-flex flex-row justify-content-center align-items-start flex-wrap">
	  <portfolio-token class="p-1" 
	  		*ngFor='let portfolio of portfolios' 
	  		[cardSize]='cardSize'
	  		[model]='portfolio' >
	  		</portfolio-token>
	</div>
</ng-container>

<ng-container *ngIf="isFooter">
	<footer-page></footer-page>
</ng-container>

</div>
<!-- app-cardsviewgrid></app-cardsviewgrid -->
<!-- div class="portfolio d-flex flex-row align-items-start flex-wrap" -->

