<card [title]="'Basic progress-bar'">
  <mat-progress-bar mode="indeterminate" class="mb-0"></mat-progress-bar>
</card>

<card [title]="'Progress Modes'">
  <p><strong>Determinate</strong></p>
  <mat-progress-bar mode="determinate" [value]="determinateProgressValue" color="warn"></mat-progress-bar>
  <p>
    <button mat-raised-button color="primary" (click)="stepDeterminateProgressVal(10)">Increase</button>
    <button mat-raised-button color="warn" (click)="stepDeterminateProgressVal(-10)">Decrease</button>
  </p>

  <p><strong>Indeterminate</strong></p>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>

  <p><strong>Buffer</strong></p>
  <mat-progress-bar mode="buffer" [value]="bufferProgressValue" [bufferValue]="bufferBufferValue" color="warn"></mat-progress-bar>
  <p>
    <button mat-raised-button color="primary" (click)="stepBufferProgressVal(10)">Increase</button>
    <button mat-raised-button color="warn" (click)="stepBufferProgressVal(-10)">Decrease</button>
    <button mat-raised-button color="primary" (click)="stepBufferBufferVal(10)">Buffer Increase</button>
    <button mat-raised-button color="warn" (click)="stepBufferBufferVal(-10)">Buffer Decrease</button>
  </p>

  <p><strong>Query</strong></p>
  <mat-progress-bar mode="query" class="mb-0"></mat-progress-bar>
</card>

<card [title]="'Theming'" class="mb-0">
  <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</card>