<mat-card>
  <mat-card-content>
  <form #loginForm (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input [(ngModel)]="model.email" matInput placeholder="Correo registrado" name="email">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="model.password" matInput placeholder="Clave" name="password" type="password" >
    </mat-form-field>

    <div class="text-left mb-module">
      <mat-checkbox>
        Mantenerme Ingresado
      </mat-checkbox>
    </div>

    <button mat-raised-button color="primary" type="submit" color="accent">Ingresar</button>

    <!--div class="social-divider">Ingresar con</div>

    <div class="social-login">
      <button mat-raised-button type="button" class="bg-google text-white"
            (click)='loginGoogle()'><i class="fab fa-google"></i> Google</button>
      <button mat-raised-button type="button" class="bg-facebook text-white"><i class="fab fa-facebook"></i> Facebook</button>

    </div -->



    <div class="d-md-flex justify-content-between additional-info" *ngIf="true">
      <a routerLink="/ingresar/nuevaclave">¿Olvidaste tu clave?</a>
      <span class="divider"></span>
      <a routerLink="/">Vovler a inicio</a>
      <span class="divider"></span>
      <a routerLink="/ingresar/registrarse">.</a>
      <a href="#" (click)='loginGoogle($event)'>.</a>
    </div>
  </form>
  </mat-card-content>
</mat-card>
