<div class="row">
    <div class="col-12 col-md-6 mt-2">
        <user-datos-dashboard></user-datos-dashboard>
    </div>
    <div class="col-12 col-md-6 mt-2">
        <app-dashboard-industrias></app-dashboard-industrias>
    </div>
    <div class="col-12 col-md-6 mt-2">
        <app-dashboard-censos></app-dashboard-censos>
    </div>
    <div class="col-12 col-md-6 mt-2">
        <dashboard-documentacion></dashboard-documentacion>
    </div>
    <!--div class="col-12 col-md-6 mt-2">
        <personas-dashboard></personas-dashboard>
    </div -->
    <!--div class="col-12 col-md-6 mt-2">
        <dashboard-consultas></dashboard-consultas>
    </div -->
    <!--div class="col-12 col-md-6 mt-2">
        <dashboard-turnos></dashboard-turnos>
    </div -->
</div>
