@import '../../../../assets/sass/variable';

:host {
  .main-content {
    padding: 0 0 0 0;
    height: 100%;
    transition: padding .2s $animation;
    @media #{$max991} {
      padding-left: 0;
    }
		.main-content-wrap {
	    height: 100%;
	    padding: 20 px 0 0 0;
	    width: 100%;
	  }
  }
}