<div class="site-container">

	<ng-container *ngIf="defaultNavbar">
		<public-navbar [title]="pageTitle" ></public-navbar>
	</ng-container>

	<ng-container *ngIf="lasargenNavbar">
		<lasargen-navbar [isHomeView$]="isHomeView$"  [title]="pageTitle" ></lasargen-navbar>
	</ng-container>

	<ng-container *ngIf="utopiasNavbar">
		<utopias-navbar [isHomeView$]="isHomeView$"  [title]="pageTitle" ></utopias-navbar>
	</ng-container>

  <main class="main-content">
    <div class="main-content-wrap">

      <router-outlet></router-outlet>

    </div>
  </main>

</div>