<mat-card>
	<mat-card-content>
		<div class="selector">
	  	<div class="d-flex align-items-center justify-content-between panel-header">
				<div class="panel-header-text">{{ searchTitle }}</div>
				<div class="panel-header-control" ><span 
					(click)='openSearchForm()' title="Abrir panel de búsqueda avanzada">
					<i [class]="openEditor ? 'fas fa-pen-square' : 'far fa-edit'" 
						aria-hidden="true"></i></span></div>
				</div>
		</div>
		<ng-container *ngIf="openEditor">
			<obser-browse [query]="query" (updateQuery)="refreshSelection($event)"></obser-browse>
		</ng-container>
	</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
	 	<div class="row">
			<div class="col-sm-12 col-md-12">
	 	  	<div class="d-flex justify-content-between align-items-center panel-header">

					<div class="panel-header-text">{{ title }}</div>

					<div class="panel-header-control" >
					  <mat-button-toggle-group #view="matButtonToggleGroup"  >
					    <mat-button-toggle value="list">
					      <mat-icon>view_list</mat-icon>
					    </mat-button-toggle>
					    <mat-button-toggle value="grid">
					      <mat-icon>view_module</mat-icon>
					    </mat-button-toggle>
					  </mat-button-toggle-group>
					</div>

				</div>
			</div>
		</div>
		<ng-container *ngIf='showData'>

			<ng-container *ngIf='!view.value || view.value=="list"'>
				<sol-table (actionTriggered)="tableAction($event)"  ></sol-table>
			</ng-container>

			<ng-container *ngIf='view.value=="grid"'>
				<solasis-panel [items]='asistenciasList'
		 							(updateItems)='updateAsistenciaList($event)' ></solasis-panel>
			</ng-container>
		</ng-container>
  </mat-card-content>
</mat-card>
