@import '../../../../assets/sass/variable';
$color-destacado: #0645f5;
$color-button: #3c4e62;
$color-togglebutton: #261565;

$bgcolor-sisa: #9298eb;
$bgcolor-followup: #7e98eb;
$bgcolor-covid: #6568ff;
$bgcolor-laboratorio: #7eaceb;
$bgcolor-vinculofam: #6568ff;
$bgcolor-selectors: #d79e96;

.panel-header{
		background-color: #f2eded;
}

.panel-header-text {
		margin: 0 0 0 15px;
		font-weight: 700;
		font-size: 1.4rem;
}

// .panel-header-control {
// 		margin: 0 35px 0 15px;
// 		font-weight: 400;
// 		font-size: 1.4rem;
// 		text-align: right;
// }


.panel-header {
	margin: 10px 0 0 0;
	
	.mat-button-toggle {
		max-height: 45px;
		background-color: rgba(#adadc2, .5);
		color: $color-togglebutton;
	}

	.mat-button-toggle-checked {
		max-height: 45px;
		background-color: rgba(#adadc2, .8);
		color: $color-togglebutton;
	}
}

.panel-header-sisa {
	margin: 10px 0 0 0;
	
	.mat-button-toggle {
		margin-right: 2px;
		max-height: 45px;
		background-color: rgba($bgcolor-sisa, .5);
		color: $color-togglebutton;
	}

	.mat-button-toggle-checked {
		max-height: 45px;
		background-color: rgba($bgcolor-sisa, .8);
		color: $color-togglebutton;
	}
}

.panel-header-followup {
	margin: 10px 0 0 0;
	
	.mat-button-toggle {
		margin-right: 2px;
		max-height: 45px;
		background-color: rgba($bgcolor-followup, .5);
		color: $color-togglebutton;
	}

	.mat-button-toggle-checked {
		max-height: 45px;
		background-color: rgba($bgcolor-followup, .8);
		color: $color-togglebutton;
	}
}

.panel-header-covid {
	margin: 10px 0 0 0;
	
	.mat-button-toggle {
		margin-right: 2px;
		max-height: 45px;
		background-color: rgba($bgcolor-covid, .5);
		color: $color-togglebutton;
	}

	.mat-button-toggle-checked {
		max-height: 45px;
		background-color: rgba($bgcolor-covid, .8);
		color: $color-togglebutton;
	}
}

.panel-header-laboratorio {
	margin: 10px 0 0 0;
	
	.mat-button-toggle {
		margin-right: 2px;
		max-height: 45px;
		background-color: rgba($bgcolor-laboratorio, .5);
		color: $color-togglebutton;
	}

	.mat-button-toggle-checked {
		max-height: 45px;
		background-color: rgba($bgcolor-laboratorio, .8);
		color: $color-togglebutton;
	}
}

.panel-header-vinculofam {
	margin: 10px 0 0 15px;
	
	.mat-button-toggle {
		margin-right: 2px;
		max-height: 45px;
		background-color: rgba($bgcolor-vinculofam, .5);
		color: $color-togglebutton;
	}

	.mat-button-toggle-checked {
		max-height: 45px;
		background-color: rgba($bgcolor-vinculofam, .8);
		color: $color-togglebutton;
	}
}


.panel-header-selectors {
	margin: 10px 0 0 0;

	.mat-button-toggle {
		margin-right: 1px;
		max-height: 45px;
		background-color:rgba($bgcolor-selectors, .5);
		color: $color-button;
	}

	.mat-button-toggle-checked {
		max-height: 45px;
		background-color: rgba($bgcolor-selectors, .8);
		color: $color-button;
	}


}



.novedades-container {
		margin: 10px 0 15px 15px;
		padding: 5px;

}

.text-destacado {
		margin: 0 0 0 0;
		color: $color-destacado;
		font-weight: 400;
		font-size: 2rem;
		font-style: italic;

}

.text-resaltado {
		margin: 0 0 0 0;
		color: $color-destacado;
		font-weight: 700;
		font-size: 1.2rem;
		font-style: italic;

}

.text-normal {
		margin: 5px 0 0 0;
		font-weight: 400;
		font-size: 1.2rem;
		line-height: .8;
		color: $color-destacado;
}

.text-audit {
		margin: 0 0 0 0;
		font-weight: 400;
		font-size: .8rem;
}

.badge-style {
	margin: 0 0 0 5px;
}

.button-action {
		margin: 0 15px 5px 0;
		color: #ffffff;
		width: 250px;
		height: 50px;
		background-color: $color-button;
		font-weight: 700;
		font-size: 1.2rem;
		font-style: italic;

}