<mat-card >
<mat-card-content>
  <ng-container *ngIf='showAsistenciaView' >
    <vigilancia-view [token]='asistencia'  
                      [viewList]='viewList'
                      (personSelected)='vinculoSelected($event)'
                      (familySelected)='editVinculo($event)' ></vigilancia-view>
  </ng-container>

<div class="d-md-flex justify-content-between align-items-center" >
  <mat-button-toggle-group #fldButtonGrp1  name="actions"  class="panel-header-sisa"
        (change)='actionTriggered($event)'>
    <mat-button-toggle value="sisa">
      SISA
    </mat-button-toggle>
    <mat-button-toggle value="sisafwup">
      Novedad
    </mat-button-toggle>
    <mat-button-toggle value="historialsisa">
      Historial
    </mat-button-toggle>

  </mat-button-toggle-group>      

  <mat-button-toggle-group #fldButtonGrp2  name="actions"  class="panel-header-followup"
        (change)='actionTriggered($event)'>
    <mat-button-toggle value="seguimiento">
      LLAMADOS
    </mat-button-toggle>
    <mat-button-toggle value="seguimientofwup">
      Novedad
    </mat-button-toggle>
    <mat-button-toggle value="historialseguimiento">
      Historial
    </mat-button-toggle>

  </mat-button-toggle-group>      

  <mat-button-toggle-group #fldButtonGrp2  name="actions"   class="panel-header-covid"
        (change)='actionTriggered($event)'>
    <mat-button-toggle value="infection">
      COVID
    </mat-button-toggle>
  </mat-button-toggle-group>      

</div>

<div class="d-md-flex justify-content-start align-items-center" >
  <mat-button-toggle-group #fldButtonGrp1  name="actions"  class="panel-header-laboratorio"
        (change)='actionTriggered($event)'>
    <mat-button-toggle value="laboratorio">
      NUEVO LABORATORIO
    </mat-button-toggle>
 
  </mat-button-toggle-group>      
  <mat-button-toggle-group #fldButtonGrp1  name="muestras"  class="panel-header-laboratorio"
        (change)='editLaboratorio($event)'>
    <ng-container *ngFor='let muestra of muestraslabList'>
      <mat-button-toggle  [value]="muestra">
        {{ muestra.secuencia || '#-LAB'}}
      </mat-button-toggle>
    </ng-container>
 
  </mat-button-toggle-group>      

  <mat-button-toggle-group #fldButtonGrp1  name="actions" class="panel-header-vinculofam"
        (change)='actionTriggered($event)'>
    <mat-button-toggle value="vinculofam">
      NUEVO CONTACTO
    </mat-button-toggle>
 
  </mat-button-toggle-group>      

</div>


<div class="d-md-flex justify-content-start align-items-center" >
  <p class="text-resaltado m-2" >SELECCIONAR VISTAS: </p>

  <mat-button-toggle-group #fldButtonGrp3 multiple name="view" 
        class="d-md-flex justify-content-start align-items-center panel-header-selectors"
        (change)='viewPanelsSelected($event)'>
    <mat-button-toggle value="sisa">
      SISA
    </mat-button-toggle>
    <mat-button-toggle value="seguimiento">
      LLAMADOS
    </mat-button-toggle>
    <mat-button-toggle value="muestralab">
      LABORATORIO
    </mat-button-toggle>
  </mat-button-toggle-group>


  <mat-button-toggle-group #fldButtonGrp3 multiple name="view" 
        class="d-md-flex justify-content-start align-items-center panel-header-selectors"
        (change)='viewPanelsSelected($event)'>
    <mat-button-toggle value="infection">
      COVID
    </mat-button-toggle>
    <mat-button-toggle value="vinculos">
      CONTACTOS
    </mat-button-toggle>
    <mat-button-toggle value="core">
      GENERAL
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group #fldButtonGrp3 multiple name="view" 
        class="d-md-flex justify-content-start align-items-center panel-header-closepanel"
        (change)='closeFollowUpPanel()'>
    <mat-button-toggle value="closefollowup">
      CERRAR PANEL
    </mat-button-toggle>
  </mat-button-toggle-group>

</div>
<hr>

</mat-card-content>
</mat-card>
