<mat-card>
    <mat-card-content class="table-responsive-md">
        <h2 class="block-title">Empresas por Tamaño</h2>
        <section class="block">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Categoria</th>
                    <th>Rubro</th>
                    <th>Empresas</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let rubro of rubrosList">
                    <tr>
                        <td>{{ getTokenOf( rubro ).categoria }}</td>
                        <td>{{ getTokenOf( rubro ).rubro }}</td>
                        <td style="text-align: center;">{{ getTokenOf( rubro ).count}}</td>
                        <td><button mat-flat-button (click)='showEmpresas(rubro)' title="Ver detalle por empresa"><mat-icon>open_in_new</mat-icon></button></td>
                    </tr>
        
                </ng-container>
                        
            </tbody>
        </table>
        </section>
        <dump-data  class="mt-4" [title]="'Censos'"
            [data$]='data$'
            [showTests]='false'>
        </dump-data>
        
        
    </mat-card-content>
</mat-card>
