<div id="recuperar-password-container">
    <mat-card class="text-center">
        <mat-card-title>Recupere su contraseña</mat-card-title>
        <mat-card-subtitle>Para validar su identidad le solicitaremos que nos indique la respuesta a su pregunta de
            seguridad.</mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field>
                                <mat-label>Correo electrónico</mat-label>
                                <input matInput formControlName="email" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Pregunta de Seguridad</mat-label>
                                <mat-select formControlName="preguntaSecreta" required>
                                    <mat-option *ngFor="let item of preguntasSecretas" [value]="item.key">
                                        {{item.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Respuesta</mat-label>
                                <input autocomplete="off" matInput formControlName="respuestaSecreta" required>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Nueva contraseña</mat-label>
                                <input class="password" type="password" matInput formControlName="password"
                                    autocomplete="off" required>
                                <button mat-button type="button" *ngIf="!showPassword" matSuffix mat-icon-button
                                    (click)="verPassword()">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                                <button mat-button type="button" *ngIf="showPassword" matSuffix mat-icon-button
                                    (click)="verPassword()">
                                    <mat-icon>visibility_off</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Confirmar contraseña</mat-label>
                                <input class="password" type="password" matInput formControlName="confirmPassword"
                                    autocomplete="off" required>
                            </mat-form-field>
                            <small
                                *ngIf="formGroup.controls['confirmPassword'].hasError('required') && formGroup.controls['confirmPassword'].touched"
                                class="form-message text-danger">Dato requerido</small>
                            <small *ngIf="formGroup.controls['confirmPassword'].errors?.equalTo"
                                class="formGroup-message text-danger">Las claves no coinciden</small>
                        </div>
                    </div>
                    <div class="row">
                        <button mat-flat-button class="ml-3 my-3" color="primary" type="submit"
                            [disabled]="formGroup.invalid">Confirmar</button>
                        <button mat-flat-button class="ml-3 my-3" color="warn" type="button"
                            (click)="volver()">Volver</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>