:host {
  background: url(../../../../assets/content/login-bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}

#recuperar-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
}