<mat-form-field>
  <input  #searchBox  matInput  id="search-box" 
    name="slug"
    [(ngModel)]='slugFld'
    [matAutocomplete]="slug"
    (keyup)="search(searchBox.value)"  
    placeholder="buscar producto por denominación..." />
    
    <span matSuffix style="margin: 10px" title="abrir/ cerrar editor de producto"
      (click)='editToken()' >
      <i [class]="openEditor ? 'fas fa-pen-square' : 'far fa-edit'" aria-hidden="true"></i>
    </span>  
</mat-form-field>
<mat-autocomplete #slug="matAutocomplete" >
   <mat-option
          *ngFor="let product of products | async" 
          (onSelectionChange)="selectEntity(product)"
          [value]='product.slug'>
      {{product.slug}}
    </mat-option>
</mat-autocomplete>


<div *ngIf='openEditor'>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div id="subcard" class="d-flex justify-content between align-items-center">
      <mat-form-field>
        <mat-select #prclass placeholder="Clase de producto"
            [formControl]="form.controls['pclass']"
            (change)="changeProductClass(prclass.value)" >
          <mat-option *ngFor="let pclass of pclasssList" 
            [value]="pclass.val" >{{ pclass.label }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [formControl]="form.controls['code']" placeholder="Código" >
        <small *ngIf="form.controls['code'].hasError('required') && 
           form.controls['code'].touched" class="form-message text-danger">
           Dato requerido</small>
      </mat-form-field>
      <mat-form-field>
        <input matInput [formControl]="form.controls['slug']" placeholder="Descripción corta" >
        <small *ngIf="form.controls['slug'].hasError('required') && 
           form.controls['slug'].touched" class="form-message text-danger">
           Dato requerido</small>
      </mat-form-field>
    </div>


    <mat-form-field>
      <input matInput [formControl]="form.controls['name']" placeholder="Nombre" >
      <small *ngIf="form.controls['name'].hasError('required') && 
         form.controls['name'].touched" class="form-message text-danger">
         Dato requerido</small>
    </mat-form-field>


    <div id="custom-editor">
      <textarea 
        mediumEditor
        [formControl]="form.controls['description']" placeholder="Descripción"
        [(editorModel)]="meContent"
        [editorOptions]="{'toolbar': {'buttons': ['bold', 'italic', 'underline','pre', 'html', 'anchor', 'h1', 'h2','h3','removeFormat']}}" 
        [editorplaceholder]="mePlaceholder"
        (modelValueChange)="descriptionUpdateContent($event)">
      </textarea>
    </div>
    
    <div id="subcard" class="d-flex justify-content between align-items-center">
      <mat-form-field>
        <mat-select #prtype placeholder="Tipo de producto"
            [formControl]="form.controls['ptype']"
            (change)="changeProductType(prtype.value)" >
          <mat-option *ngFor="let ptype of ptypeList" 
            [value]="ptype.val" >{{ ptype.label }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [formControl]="form.controls['pbrand']" placeholder="Marca" >
      </mat-form-field>
      <mat-form-field>
        <input matInput [formControl]="form.controls['pmodel']" placeholder="Modelo" >
      </mat-form-field>
    </div>

    <div id="subcard" class="d-flex justify-content between align-items-center">
      <mat-form-field>
        <mat-select #prinventory placeholder="Inventario"
            [formControl]="form.controls['pinventory']"
            (change)="changeProductInventory(prinventory.value)" >
          <mat-option *ngFor="let pinventory of pinventoryList" 
            [value]="pinventory.val" >{{ pinventory.label }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select #prume placeholder="Despiece - fórmula"
            [formControl]="form.controls['pformula']"
            (change)="changeProductFormula(prume.value)" >
          <mat-option *ngFor="let pformula of pformulaList" 
            [value]="pformula.val" >{{ pformula.label }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select #prume placeholder="Unidad de medida"
            [formControl]="form.controls['pume']"
            (change)="changeProductUme(prume.value)" >
          <mat-option *ngFor="let pume of pumeList" 
            [value]="pume.val" >{{ pume.label }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <app-tags [taglist]='tags' (emitTags)='addTags($event)'></app-tags>

  </form>

  <div *ngIf="editable" class="additional-info">
    <button mat-button type="button" color="accent"  
        (click)="save('continue')" >actualizar datos maestros producto</button>
  </div>

</div>

