<div class="container-fluid">
 	<div class="row">
 		<div class="col-sm-12 col-md-12">
 			<p class='text-destacado'> {{ programa }} :: {{ slug }}</p>

			<p class='text-resaltado'>
				{{ compName }}:{{ compNum }} :: {{ sede }} - <strong>{{ locacion }}</strong>
			</p>
 			<p class='text-normal'>{{ budget.description }} </p>
 			<p class='text-normal'><strong>{{ type }}: </strong> {{ stype }} </p>
 			<p class='text-normal'><strong> {{ budget.fecomp }} - Área: </strong> {{ sector }} </p>
 			<p class='text-normal'>{{ estado }} </p>
 			<button mat-button (click)="navigate(budget)" type="button" 
 							color="accent">Ir a este Evento</button>

 		</div>
	</div>
</div>
