<div class="container-fluid">

 		<div class="d-flex flex-row align-items-between justify-content-between ">
 			<span class='text-destacado'> {{ programa }} :: {{ slug }}</span>

 			<span class='text-resaltado'>ARS::{{ arsCosto | currency }}</span>
 		</div>

 		<div class="d-flex flex-row align-items-start justify-content-between ">

			<p class='text-resaltado'>
				{{ compName }}:{{ compNum }}:: {{ budget.fecomp }} :: {{ sede }} - 
				<strong>{{ locacion }}</strong>
			</p>
		</div>

 		<div class="d-flex flex-column align-items-start justify-content-start ">
 			<!--p class='text-normal'>{{ budget.description }} </p-->
			<span class='text-normal'><strong>Fecha necesidad {{ budget.fe_req }} </strong>
					 {{ sector }} :: <strong>{{ type }}: </strong> {{ stype }} </span>
			<span class='text-normal'>{{ estado }} 
				<button mat-button (click)="navigate(budget)" type="button" 
						color="accent">Ir a este Presupuesto</button>
			</span>
 		</div>


</div>
