<div class="site-navbar">
  <div class="navbar-button" [ngClass]="{ 'open' : openedSidebar }" (click)="openSidebar()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <h1 class="page-title">{{ title }}</h1>

  <div class="nav-items">
    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <button mat-icon-button (click)="open($event)">
        <i class='far fa-bell'></i>
      </button>

      <div class="dropdown-menu">
        <h4 class="menu-title">Notificaciones</h4>

        <ul>
          <li>
            <a href="#">
              <mat-icon>group_add</mat-icon>
              <div class="content">
                <span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
                <span class="date">10 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon>check</mat-icon>
              <div class="content">
                <span class="desc">Your site visits have increased <strong>15.5%</strong> more since the last week.</span>
                <span class="date">23 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon>star</mat-icon>
              <div class="content">
                <span class="desc">Server loaded by 98% please recover soon</span>
                <span class="date">25 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon>notifications_active</mat-icon>
              <div class="content">
                <span class="desc">We're looking to hire two more protypers to our team.</span>
                <span class="date">32 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon>file_download</mat-icon>
              <div class="content">
                <span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
                <span class="date">58 minutes ago</span>
              </div>
            </a>
          </li>
        </ul>

        <div class="menu-footer">
          <a href="#">View all notifications</a>
        </div>
      </div>
    </div>

    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <button mat-icon-button (click)="open($event)"  title="eventos y agenda">
        <i class='far fa-calendar-check'></i>
      </button>

      <div class="dropdown-menu">
        <h4 class="menu-title">Eventos</h4>

        <ul>
          <li>
            <a href="#">
              <mat-icon>android</mat-icon>
              <div class="content">
                <span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
                <span class="date">2 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon>free_breakfast</mat-icon>
              <div class="content">
                <span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
                <span class="date">14 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon>mood</mat-icon>
              <div class="content">
                <span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
                <span class="date">15 minutes ago</span>
              </div>
            </a>
          </li>
        </ul>

        <div class="menu-footer">
          <a href="#">Ver todos los eventos</a>
        </div>
      </div>
    </div>

    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <button mat-icon-button (click)="open($event)">
        <i class="{{ messageNew ? 'fa fa-paper-plane' : 'far fa-paper-plane' }}" ></i>
      </button>

      <div class="dropdown-menu">
        <h4 class="menu-title">Tiene(s) {{ messageLength }} mensaje(s)</h4>

        <ul>
          <li *ngFor="let msj of messageList">
            <a href="#">
              <img class="avatar" src="assets/content/avatar-1.jpg" width="42" height="42" alt="">

              <div class="content">
                <span class="meta">
                  <strong class="name">{{msj.from.substr(0,23)}}</strong>
                  <span class="date">{{msj.feTxt}}</span>
                </span>
                <span class="desc" innerHTML='{{msj.content}}'></span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <ng-container *ngIf="!loggedIn">
        <button mat-button (click)="loginUser($event)">Ingresar</button>
      </ng-container>

      <ng-container *ngIf="loggedIn">
        <button mat-button (click)="open($event)">
            <div class="avatar">
              <img src="{{ avatar }}" width="37" height="37" alt="imagen de perfil"></div>
            <div class="name">
              {{currentUser.username + '@'  }}</div>
             <!--  + currentUser.currentCommunity.slug  -->
 
        </button>

        <div class="dropdown-menu mini-menu">
          <ul>
            <li>
              <a href="#public" role="button" (click)='navigatePublic($event)'>
                  <i class="fa fa-users"></i> Vista pública</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-sign-out-alt"></i> Log Out</a>
            </li>
            <li>
              <a role="button" (click)='editUser($event)' >
                <i class="fa fa-home"></i> Mi Perfil</a>
            </li>
            <li>
              <a href="#" role="button" (click)='editUser($event)'  >
                <i class="far fa-user"></i> Mi cuenta</a>
            </li>
            <li>
              <a href="#" role="button" (click)='changeCommunity($event)'>
                  <i class="fa fa-users"></i> Cambiar Comunidad</a>
            </li>
            <li>
              <a routerLink="/develar/a2/calendar">
                <i class="fas fa-calendar-alt"></i> Calendar</a>
            </li>
            <li>
              <a href="#" role="button" (click)='refreshUser($event)' >
                <i class="fa fa-cogs"></i> Settings</a>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
    <div class="items-overlay" (click)="close($event)"></div>
  </div>

</div>

