<h5 class="mt-0">Simple breadcrumbs</h5>
<a2-breadcrumb [menu]="breadcrumb"></a2-breadcrumb>
<br>

<h5>Simple breadcrumbs with custom separator</h5>
<a2-breadcrumb [menu]="breadcrumb" [separator]="'&#8594;'"></a2-breadcrumb>
<br>
<a2-breadcrumb [menu]="breadcrumb" [separator]="'&#187;'"></a2-breadcrumb>
<br>

<h5>Custom style breadcrumbs</h5>
<a2-breadcrumb [menu]="breadcrumb" [style]="'custom1'"></a2-breadcrumb>
<br>

<h5>Custom style 2 breadcrumbs</h5>
<a2-breadcrumb [menu]="breadcrumb" [style]="'custom2'"></a2-breadcrumb>
<br>

<h5>Breadcrumbs with icon</h5>
<a2-breadcrumb [menu]="breadcrumbIcon"></a2-breadcrumb>
<br>
<a2-breadcrumb [menu]="breadcrumbIcon" [style]="'custom1'"></a2-breadcrumb>
<br>
<a2-breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></a2-breadcrumb>