<div class="row">
  <div class="col-lg-6">
    <card>
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </card>
  </div>
  <div class="col-lg-6">
    <card>
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData">
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
      </div>
    </card>

    <button mat-raised-button color="accent" (click)="randomize()">Update</button>
  </div>
</div>
