<card [title]="'Basic tooltip'">
  <button mat-raised-button color="primary" mdTooltip="Some message" mdTooltipPosition="below">Tooltip</button>
</card>

<card [title]="'Positioning'">
  <button mat-raised-button color="primary" mdTooltip="Some message" mdTooltipPosition="before">before</button>
  <button mat-raised-button color="primary" mdTooltip="Some message" mdTooltipPosition="after">after</button>
  <button mat-raised-button color="primary" mdTooltip="Some message" mdTooltipPosition="above">above</button>
  <button mat-raised-button color="primary" mdTooltip="Some message" mdTooltipPosition="below">below</button>
  <button mat-raised-button color="primary" mdTooltip="Some message" mdTooltipPosition="left">left</button>
  <button mat-raised-button color="primary" mdTooltip="Some message" mdTooltipPosition="right">right</button>
</card>