<div class="row">
    <div class="col-12">
        <mat-toolbar color="primary">
            <div>Industrias vinculadas</div>
            <span class="flex-grow-1"></span>
            <button mat-flat-button (click)="nuevoVinculo()">Vincular industria</button>
        </mat-toolbar>
    </div>
    <div class="col-12">
        <app-vinculos-browse-table *ngIf="showData"></app-vinculos-browse-table>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <button type="button" mat-flat-button color="primary" (click)="navigateToDashboard()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Volver
    </button>
    </div>
</div>
