<mat-card class="mb-3">
    <mat-card-header>
        <mat-card-title>NAVEGACION DE SOLICITUDES DE INTERNACIÓN</mat-card-title>
    </mat-card-header>
</mat-card>

<internacion-dashboard-browse [query]="query" [export]='true' (updateQuery)="refreshSelection($event)"></internacion-dashboard-browse>


<mat-card class="my-3">
    <mat-card-content>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="d-flex justify-content-between align-items-center panel-header">

                    <div class="panel-header-text">¡Poner el titulo aquí!</div>
                    <div>Viendo: {{ view.value }}</div>
                    <div class="panel-header-control">
                        <mat-button-toggle-group #view="matButtonToggleGroup">
                            <mat-button-toggle value="table">
                                <mat-icon>view_column</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle value="list">
                                <mat-icon>view_list</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>

                </div>
            </div>
        </div>

        <ng-container *ngIf="showData">
            <ng-container *ngIf='!view.value || view.value=="table"'>
                <internacion-dashboard-table [displayedColumns]='tableActualColumns' (actionTriggered)="tableAction($event)"></internacion-dashboard-table>
            </ng-container>
        </ng-container>
    </mat-card-content>
</mat-card>





<mat-card>
    <mat-card-content>

        <dump-data [title]="'MasterData'" [data$]='data$' [showTests]='true'></dump-data>

    </mat-card-content>
</mat-card>