<div class="container-fluid p-0">
    <form [formGroup]="form">
        <div class="container">
            <div class="row">
                <div class="col" style="text-align: center;">
                    <!-- TODO: mostrar dinámicamente el tipo de servicio en el título -->
                    <h1 class="m-0">Servicio</h1>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h4 class="m-0">Asignar recurso</h4>
                </div>
            </div>
            <div class="row">
                <!-- Paciente -->
                <div class="col" style="text-align: center;">
                    <mat-form-field>
                        <mat-label>Pendientes de asignar</mat-label>
                        <mat-select #fldAsignar 
                                        formControlName='sinternacion'
                                        (selectionChange)="changeSelectionValue('sinternacion', fldAsignar.value)">
                            <!-- Admisión -->
                            <mat-optgroup [disabled]="!asignarList.length" [label]="'Pacientes para asignar'">
                                <mat-option *ngFor="let admision of asignarList" [value]="admision">
                                    {{ admision.requeridox.slug }} ({{ admision.requeridox.ndoc }}): {{ admision.triage.servicio}}
                                </mat-option>
                            </mat-optgroup>

                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
                <!-- Recurso -->
            <div class="row" >
                <div  class="col">
                    <mat-form-field>
                      <input  matInput [formControl]="form.controls['servicio']" placeholder="Servicio" >
                    </mat-form-field>
                </div>
            </div>

            <div class="row"> <!-- ó col-6? -->
                <div class="col" style="text-align: center;">
                    <mat-form-field>
                        <mat-label>Recurso</mat-label>

                        <mat-select #fldRecurso 
                                        formControlName='recurso'
                                        (selectionChange)="changeSelectionValue('recurso', fldRecurso.value)">
                            <!-- Admisión -->
                            <mat-optgroup [disabled]="!recursosList.length" [label]="'Camas'">
                                <mat-option *ngFor="let recurso of recursosList" [value]="recurso">
                                    {{ recurso.slug }} 
                                </mat-option>
                            </mat-optgroup>

                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <button mat-raised-button color="primary" (click)="onSubmit()">
                Asignar
            </button>
            <button mat-raised-button color="warn"  (click)="onCancel()">
                Cancelar
            </button>
        </div>
    
    </form>
</div>