<div class="container-fluid p-0">
    <form [formGroup]="asignacionRecursosForm">
        <div class="container">
            <div class="row">
                <div class="col" style="text-align: center;">
                    <!-- TODO: mostrar dinámicamente el tipo de servicio en el título -->
                    <h1 class="m-0">Terapia intensiva</h1>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h4 class="m-0">Asignar recurso</h4>
                </div>
            </div>
            <div class="row">
                <!-- Paciente -->
                
                    <mat-form-field>
                        <mat-label>Paciente</mat-label>
                        <mat-select>
                            <!-- Admisión -->
                            <mat-optgroup [disabled]="!data.buffers.admision.pacientes.length" [label]="'Admisión'">
                                <mat-option *ngFor="let paciente of data.buffers.admision.pacientes" [value]="paciente.dni">
                                    {{ paciente.name }} ({{ paciente.dni }})
                                </mat-option>
                            </mat-optgroup>

                            <!-- Traslado -->
                            <mat-optgroup [disabled]="!data.buffers.traslado.pacientes.length" [label]="'Traslado'">
                                <mat-option *ngFor="let paciente of data.buffers.traslado.pacientes" [value]="paciente.dni">
                                    {{ paciente.name }} ({{ paciente.dni }})
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
            </div>

                <!-- Recurso -->
                <div class="row"> <!-- ó col-6? -->
                    <mat-form-field>
                        <mat-label>Recurso</mat-label>
                        <mat-select>
                            <!-- Camas -->
                            <mat-optgroup [disabled]="!data.recursos.camas" [label]="'Camas'">
                                <mat-option *ngFor="let cama of data.recursos.camas" [value]="cama.id">
                                    Cama/box: {{ cama.id }}
                                </mat-option>
                            </mat-optgroup>

                            <!-- Respiradores -->
                            <mat-optgroup [disabled]="!data.recursos.respiradores" [label]="'Respiradores'">
                                <mat-option *ngFor="let respirador of data.recursos.respiradores" [value]="respirador.id">
                                    Respirador: {{ respirador.id }}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                </div>

            <button mat-raised-button color="accent">
                Asignar
            </button>
        </div>
    
    </form>
</div>