<mat-card class="detail-card">
	<mat-card-header>
		<mat-card-title><strong>{{ title }}</strong></mat-card-title>
  </mat-card-header>
</mat-card>

<div *ngIf='showData'>

  <ng-container *ngIf="!hasCurrentCenso">
    <div class="row">
      <div class="col">
        <card [bgColor]="'warning'" class="info-card">
          <div class="title text-uppercase">{{ censoHeaderTitleTxt }}</div>
          <div class="title text-uppercase">{{ censoBajada }}</div>
          <div class="count">{{ currentIndustry.displayName }}</div>
          <badge (click)="editCensoHeader($event)"
                  [customColor]="'rgba(255,255,255,0.1)'" 
                  [borderRadius]="false">{{ censoAltaTxt }}</badge> 
          <mat-icon>donut_large</mat-icon>
        </card>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="hasCurrentCenso">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-md-1">
            <div>

              <span class="edit-control">	
                <mat-icon style="cursor: pointer;" title="{{ censoEditHeaderTxt }}"
                      (click)='editCensoHeader($event)' >edit</mat-icon>
              </span>
  

            </div>
          </div>
    
          <div class="col-md-11">
            <censo-core-view [token]='currentCenso'></censo-core-view>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-1 col-md-11"><span class="text-normal ml-3">Responsable: {{ apoderado }}</span></div>
        </div>
      </mat-card-content>
    </mat-card>

    <div  *ngIf="hasActividades" >
      <censo-panel [items]='actividades'  [type]="'actividades'"
            (updateItems)='updateActividadesList($event)' ></censo-panel>
    </div>

    <div  *ngIf="hasMaquinarias" >
      <censo-panel [items]='maquinarias' [type]="'maquinarias'" [actividades]='actividadesOptList' 
            (updateItems)='updateMaquinariasList($event)' ></censo-panel>
    </div>

    <div  *ngIf="hasProductos" >
      <censo-panel [items]='productos'  [type]="'productos'" [actividades]='actividadesOptList' 
            (updateItems)='updateProductosList($event)' ></censo-panel>
    </div>

    <div  *ngIf="hasBienes" >
      <censo-panel [items]='bienes'  [type]="'bienes'" [actividades]='actividadesOptList' 
            (updateItems)='updateBienesList($event)' ></censo-panel>
    </div>

    <div  *ngIf="hasPatentes" >
      <censo-panel [items]='patentes'  [type]="'patentes'"
            (updateItems)='updatePatentesList($event)' ></censo-panel>
    </div>

    <div  *ngIf="hasComercializacion" >
      <censo-panel [items]='comercializacion'  [type]="'comercializacion'"
            (updateItems)='updateComercializacionList($event)' ></censo-panel>
    </div>

    <div  *ngIf="hasInversion" >
      <censo-panel [items]='inversiones'  [type]="'inversion'"
            (updateItems)='updateInversionList($event)' ></censo-panel>
    </div>

    <div  *ngIf="hasRhumanos" >
      <censo-panel [items]='rhumanos'  [type]="'rhumanos'"
            (updateItems)='updateRhumanosList($event)' ></censo-panel>
    </div>

    <div  *ngIf="hasExpectativas" >
      <censo-panel [items]='expectativas'  [type]="'expectativas'"
            (updateItems)='updateExpectativasList($event)' ></censo-panel>
    </div>

    <!-- se utiliza el componente de archivos que está a nivel del dashboard -->
    <!--div  *ngIf="hasCurrentPerson" >
      <censo-assets-panel  [assetList]='assetList' 
                (updateAssets)='updateAssetList($event)' ></censo-assets-panel>
    </div -->

    <div *ngIf="hasObservaciones" >
      <observaciones-panel 
                [audit]='audit'
                [type]='observacionesOptListType'
                [parent]='parentEntity' ></observaciones-panel>
    </div>

  </ng-container>

</div>

