@import '../../../../assets/sass/variable';

:host {

  display: block;
  height: 100%;
  vertical-align: top;
  width: 100%;

  agm-map {
   height: 300px;
  }
  card {
    margin: 0 auto;
    display: block;
    align: left;


    /deep/ .card-wrap {
      border: 0;
    }
    text-align: left !important;

  }
}

