<mat-card class="mat-elevation-z8 custom-table">
  <mat-card-content>
    <form [formGroup]="form">
      <div class="container content-box">
      	<h3>{{ text.h1 }}</h3>

	      <!---tdoc; ndoc; provisorio; --->
	      <div class="row">
	        <div class="col d-flex justify-content-center">
				    <mat-form-field>
				      <input 	[formControl]="form.controls['clave']" matInput placeholder="Clave" 
				      				name="password" type="password" >
				    </mat-form-field>
	        </div>
	      </div>

	      <div *ngIf="!isNueva" class="additional-info">
	        <button mat-raised-button color="primary"
	        		[disabled]="!form.valid"
	            (click)="onSubmit()" >Ingresar</button>

	        <button mat-button type="button" color="accent" 
	                (click)="cancel()">Cancelar</button>
	      </div>

	      <div *ngIf="isNueva" class="additional-info">
	      	<p>{{ text.p1 + ndoc }}</p>
	      	<p>{{text.p2 }}</p>

	        <button mat-raised-button color="primary"
	            (click)="registrarNuevo()">{{ text.p3 }}</button>

	        <button mat-button type="button" color="accent" 
	                (click)="cancel()">Cancelar</button>
	      </div>

    </div>
  </form>
  </mat-card-content>
</mat-card>
