.panel-header-control {
		margin: 0 35px 0 0;
		font-weight: 400;
		font-size: 1.4rem;
		text-align: right;
}

.panel-header{
		background-color: #f2eded;
}

.panel-header-text {
		margin: 0 0 0 15px;
		font-weight: 700;
		font-size: 1.2rem;
}
