<div class="row">
  <div class="col-md-6 col-xl-3">
    <card [customBgColor]="'#3c4e62'" [customColor]="'#fff'" class="info-card">
      <div class="title text-uppercase">Orders</div>
      <div class="count">2,145</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+17%</badge> <small>from previous period</small>
      <mat-icon>shopping_basket</mat-icon>
    </card>
  </div>

  <div class="col-md-6 col-xl-3">
    <card [customBgColor]="'#3c4e62'" [customColor]="'#fff'" class="info-card">
      <div class="title text-uppercase">Revenue</div>
      <div class="count">$ 50,24</div>
      <small>11750</small>
      <mat-icon>equalizer</mat-icon>
    </card>
  </div>

  <div class="col-md-6 col-xl-3">
    <card [customBgColor]="'#3c4e62'" [customColor]="'#fff'" class="info-card">
      <div class="title text-uppercase">Products</div>
      <div class="count">2,543</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+210</badge>
      <mat-icon>monetization_on</mat-icon>
    </card>
  </div>

  <div class="col-md-6 col-xl-3">
    <card [customBgColor]="'#3c4e62'" [customColor]="'#fff'" class="info-card">
      <div class="title text-uppercase">Sold</div>
      <div class="count">1,005</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+24%</badge>
      <mat-icon>donut_large</mat-icon>
    </card>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <card [title]="'About A2 admin'">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolor ducimus est excepturi illo itaque
        modi quis repudiandae totam vitae. Accusamus beatae consectetur dolorum pariatur sapiente. Ad architecto at aut
        et ex facilis fuga, laboriosam, magnam modi obcaecati officia officiis, omnis praesentium quam quas reiciendis
        rerum ullam velit veritatis vitae.</p>

      <div class="row">
        <div class="col-md-6">
          <p class="mb-1"><strong>Wordpress</strong></p>
          <mat-progress-bar mode="determinate" [value]="90"></mat-progress-bar>

          <p class="mb-1"><strong>Magento</strong></p>
          <mat-progress-bar mode="determinate" [value]="80"></mat-progress-bar>

          <p class="mb-1"><strong>Opencart</strong></p>
          <mat-progress-bar mode="determinate" [value]="60"></mat-progress-bar>

          <p class="mb-1"><strong>Drupal</strong></p>
          <mat-progress-bar mode="determinate" [value]="30"></mat-progress-bar>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-6">
          <p class="mb-1"><strong>Angular</strong></p>
          <mat-progress-bar mode="determinate" color="accent" [value]="98"></mat-progress-bar>

          <p class="mb-1"><strong>React</strong></p>
          <mat-progress-bar mode="determinate" color="accent" [value]="85"></mat-progress-bar>

          <p class="mb-1"><strong>Vue.js</strong></p>
          <mat-progress-bar mode="determinate" color="accent" [value]="40"></mat-progress-bar>

          <p class="mb-1"><strong>Backbone.js</strong></p>
          <mat-progress-bar mode="determinate" color="accent" [value]="38"></mat-progress-bar>
          <div class="clearfix"></div>
        </div>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam cumque dicta earum, iure maiores neque
        nesciunt officia quisquam ullam.</p>
    </card>
  </div>
  <div class="col-md-6">
    <card title="Audience Overview">
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"></canvas>
    </card>
  </div>
</div>

<div class="text-center">
  <h4>Meet the Team</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, eum.</p>
  <div class="clearfix"></div>
</div>

<div class="row">
  <div class="col-md-6 col-xl-3">
    <card [align]="'center'" class="mb-xl-0">
      <img src="assets/content/person-4.jpg" width="150" height="150" alt="">
      <h5>Mark Wahlberg</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto corporis culpa eaque earum eius
        eligendi et eveniet ex fuga natus nulla quisquam quod repellat.</p>
    </card>
  </div>
  <div class="col-md-6 col-xl-3">
    <card [align]="'center'" class="mb-xl-0">
      <img src="assets/content/person-1.jpg" width="150" height="150" alt="">
      <h5>Lindsay Lohan</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto corporis culpa eaque earum eius
        eligendi et eveniet ex fuga natus nulla quisquam quod repellat.</p>
    </card>
  </div>
  <div class="col-md-6 col-xl-3">
    <card [align]="'center'" class="mb-mat-0">
      <img src="assets/content/person-3.jpg" width="150" height="150" alt="">
      <h5>Mary Jane</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto corporis culpa eaque earum eius
        eligendi et eveniet ex fuga natus nulla quisquam quod repellat.</p>
    </card>
  </div>
  <div class="col-md-6 col-xl-3">
    <card [align]="'center'" class="mb-0">
      <img src="assets/content/person-5.jpg" width="150" height="150" alt="">
      <h5>Tom Brady</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto corporis culpa eaque earum eius
        eligendi et eveniet ex fuga natus nulla quisquam quod repellat.</p>
    </card>
  </div>
</div>
