<div class="row">
  <div class="col-lg-3">
    <card [title]="'Simple badges'" class="badge-indent">
      <badge>128</badge>
      <badge>5</badge>
      <badge>Babge</badge>
    </card>
  </div>
  <div class="col-lg-3">
    <card [title]="'Colored badges'" class="badge-indent">
      <badge>128</badge>
      <badge [color]="'success'">5</badge>
      <badge [color]="'info'">1554</badge>
      <badge [color]="'warning'">29</badge>
      <badge [color]="'danger'">87</badge>
      <badge [customColor]="'#9B479F'">Badge</badge>
    </card>
  </div>
  <div class="col-lg-3">
    <card [title]="'Outline badges'" class="badge-indent">
      <badge [outline]="true">128</badge>
      <badge [color]="'success'" [outline]="true">5</badge>
      <badge [color]="'info'" [outline]="true">1554</badge>
      <badge [color]="'warning'" [outline]="true">29</badge>
      <badge [color]="'danger'" [outline]="true">87</badge>
      <badge [customColor]="'#9B479F'" [outline]="true">Badge</badge>
    </card>
  </div>
  <div class="col-lg-3">
    <card [title]="'Square badges'" class="badge-indent">
      <badge [borderRadius]="false">128</badge>
      <badge [color]="'success'" [borderRadius]="false">5</badge>
      <badge [color]="'info'" [borderRadius]="false">1554</badge>
      <badge [color]="'warning'" [borderRadius]="false">29</badge>
      <badge [color]="'danger'" [borderRadius]="false">87</badge>
      <badge [customColor]="'#9B479F'" [borderRadius]="false">Badge</badge>
    </card>
  </div>

  <div class="col-lg-6">
    <card [title]="'Badges with arrow'" class="badge-indent">
      <badge [arrow]="'top'" [borderRadius]="false">128</badge>
      <badge [color]="'success'" [borderRadius]="false" [arrow]="'right'">5</badge>
      <badge [color]="'info'" [borderRadius]="false" [arrow]="'bottom'">154</badge>
      <badge [color]="'warning'" [borderRadius]="false" [arrow]="'left'">29</badge>
      <badge [color]="'danger'" [arrow]="'top'">87</badge>
      <badge [customColor]="'#9B479F'" [arrow]="'right'">55</badge>
      <badge [color]="'success'" [arrow]="'bottom'">588</badge>
      <badge [color]="'info'" [arrow]="'left'">154</badge>
      <badge [arrow]="'top'" [borderRadius]="false" [outline]="true">128</badge>
      <badge [color]="'success'" [borderRadius]="false" [arrow]="'right'" [outline]="true">5</badge>
      <badge [color]="'info'" [borderRadius]="false" [arrow]="'bottom'" [outline]="true">154</badge>
      <badge [color]="'warning'" [borderRadius]="false" [arrow]="'left'" [outline]="true">29</badge>
    </card>
  </div>
  <div class="col-lg-6">
    <card [title]="'Size badges'" class="badge-indent">
      <badge [size]="'large'">128</badge>
      <badge [color]="'warning'" [borderRadius]="false" [size]="'large'">Large</badge>
      <badge [color]="'success'" [size]="'medium'">518</badge>
      <badge [color]="'danger'" [borderRadius]="false" [size]="'medium'">Medium</badge>
      <badge [color]="'info'">154</badge>
      <badge [customColor]="'#9B479F'" [borderRadius]="false">Default</badge>
    </card>
  </div>
  <div class="col-lg-6">
    <card [title]="'Badges on button'">
      <button mat-button>Default <badge>128</badge></button>
      <button mat-button color="warn"><badge [color]="'danger'">87</badge> Warning</button>
      <button mat-raised-button color="primary">Primary <badge [customColor]="'#9CAACE'">8</badge></button>
      <button mat-raised-button color="accent"><badge [color]="'info'" [customColor]="'#fff'" [outline]="true">1554</badge> Accent</button>
    </card>
  </div>
  <div class="col-lg-6">
    <card [title]="'Badges with icon'" class="mb-0 icon-badge-indent">
      <mat-icon>mail_outline<badge>5</badge></mat-icon>
      <mat-icon>shopping_cart<badge [color]="'danger'" [position]="'top-left'">1</badge></mat-icon>
      <mat-icon>notifications_none<badge [color]="'info'" [position]="'bottom-left'">8</badge></mat-icon>
      <mat-icon>local_phone<badge [color]="'warning'" [position]="'bottom-right'">3</badge></mat-icon>
      <mat-icon>person<badge [customColor]="'#9B479F'">15</badge></mat-icon>
      <mat-icon>notifications<badge [color]="'danger'">813</badge></mat-icon>
      <mat-icon>desktop_mac<badge [color]="'danger'">7</badge></mat-icon>
      <mat-icon>alarm<badge [color]="'success'">new</badge></mat-icon>
      <mat-icon>home<badge [color]="'danger'" [outline]="true">1</badge></mat-icon>
      <mat-icon>visibility<badge [color]="'info'">9</badge></mat-icon>
    </card>
  </div>
</div>