<mat-table #industryTable matSort [dataSource]="dataSource">

    <!-- <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="tdoc">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de DOC.</mat-header-cell>
        <mat-cell *matCellDef="let industry">{{ industry.tdoc }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ndoc">
        <mat-header-cell *matHeaderCellDef>Número de DOC.</mat-header-cell>
        <mat-cell *matCellDef="let industry">{{ industry.ndoc }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="displayName">
        <mat-header-cell *matHeaderCellDef>Nombre compañía</mat-header-cell>
        <mat-cell *matCellDef="let industry">{{ industry.displayName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rowactions">
        <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
        <mat-cell *matCellDef="let industry">
            <mat-icon matTooltip="Editar esta compañía" class="mr-3" (click)="editItem(industry)">edit</mat-icon>
            <!-- <mat-icon matTooltip="Cancelar este turno" *ngIf="turno.estado != 'Cancelado'" (click)="deleteItem(turno)">delete</mat-icon> -->
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator #paginator [length]="10" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>