@import '../../../../../assets/sass/variable';
$color-destacado: #0645f5;

.text-destacado {
		margin: 0 0 0 0;
		color: $color-destacado;
		font-weight: 400;
		font-size: 1rem;
		font-style: italic;

}
.text-normal {
		margin: 0 0 0 0;
		font-weight: 400;
		font-size: 1rem;
}

.imagepreview {
	max-height: 80px ;
	width: auto;
}