.panel-header-control {
		font-weight: 400;
		font-size: 1.2rem;
		text-align: right;
		margin-right: 30px;

		.mat-button-toggle {
		}
}

.panel-header{
		background-color: #f2eded;
		height: 50px;
}

.panel-header-text {
		margin: 0 0 0 15px;
		font-weight: 700;
		font-size: 1.2rem;
}

