<card [title]="'Simple lists'">
  <mat-list>
    <mat-list-item>Pepper</mat-list-item>
    <mat-list-item>Salt</mat-list-item>
    <mat-list-item>Paprika</mat-list-item>
  </mat-list>
</card>

<card [title]="'Navigation lists'">
  <mat-nav-list>
    <mat-list-item *ngFor="let link of links">
      <a mat-line href="#">{{ link }}</a>
      <button mat-icon-button (click)="showInfo(link)">
        <mat-icon>info</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</card>

<card [title]="'Multi-line lists'">
  <mat-list>
    <mat-list-item *ngFor="let message of messages">
      <h3 mat-line>{{ message.from }}</h3>
      <p mat-line>
        <span>{{ message.subject }}</span>
        <span class="demo-2"> -- {{ message.content }}</span>
      </p>
    </mat-list-item>
  </mat-list>
</card>

<card [title]="'Lists with avatars'">
  <mat-list>
    <mat-list-item *ngFor="let message of messages">
      <img mat-list-avatar src="{{ message.avatar }}" width="40" height="40" alt="">
      <h3 mat-line class="h3">{{ message.from }}</h3>
      <p mat-line>
        <span>{{message.subject}}</span>
        <span class="demo-2"> -- {{ message.content }}</span>
      </p>
    </mat-list-item>
  </mat-list>
</card>

<card [title]="'Dense lists'">
  <mat-list dense>
    <mat-list-item>Pepper</mat-list-item>
    <mat-list-item>Salt</mat-list-item>
    <mat-list-item>Paprika</mat-list-item>
  </mat-list>
</card>

<card [title]="'Lists with multiple sections'" class="mb-0">
  <mat-list>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item *ngFor="let folder of folders">
      <mat-icon mat-list-avatar>folder</mat-icon>
      <h4 mat-line>{{folder.name}}</h4>
      <p mat-line class="demo-2"> {{folder.updated}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Notes</h3>
    <mat-list-item *ngFor="let note of notes">
      <mat-icon mat-list-avatar>note</mat-icon>
      <h4 mat-line>{{note.name}}</h4>
      <p mat-line class="demo-2"> {{note.updated}} </p>
    </mat-list-item>
  </mat-list>
</card>