<mat-card >
	<mat-card-header>
		<mat-card-title>{{ title }} </mat-card-title>
	</mat-card-header>

  <mat-card-content>

  <ng-container *ngIf="showForm">

  <form [formGroup]="form">

    <div class="d-flex align-items-center">
      <span class="text-normal">{{ texto1 }}</span>
      <span class="flex-grow-1"></span>
      <mat-icon style="cursor: pointer;" 
              matTooltip="{{codigo.ayuda1}}"
              (click)="showHelp($event, 'ayuda1')">help_outline</mat-icon>
    </div>

    <div class="row" >
      <div class="col-md-3">
        <mat-form-field >
          <input  matInput [formControl]="form.controls['parancelaria']" 
                  placeholder="Posición arancelaria" >
          <mat-hint>Posición arancelaria del producto o bien</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field >
          <input  matInput [formControl]="form.controls['slug']" 
                  placeholder="Denominación producto" >
          <mat-hint>Nombre del producto o descripción ejecutiva</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-3">
      <div class='col-md-5'>
        <mat-form-field>
          <mat-select #fldActividadId placeholder="Actividad relacionada"
              [formControl]="form.controls['actividadId']"
              (selectionChange)="changeSelectionValue('actividadId',fldActividadId.value)" >
            <mat-option *ngFor="let item of actividades" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
          <mat-hint>Indique la ACTIVIDAD vinculada con este bien</mat-hint>
        </mat-form-field>        
      </div>
    </div>

    <hr>

    <div class="row" >
      <div class="col-md-3 d-flex align-items-center">
          <mat-checkbox [checked]="false" color="primary"
                        [formControl]="form.controls['isProdpropia']"
                                      >Es producción propia</mat-checkbox>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input  matInput [formControl]="form.controls['cenproductivo']" 
                  placeholder="Centro productivo" >
          <mat-hint>Indique ubicación y descripción del centro productivo</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <hr>

    <div class="row" >
      <div class="col-md-3 d-flex align-items-center">
          <mat-checkbox [checked]="false" color="primary"
                        [formControl]="form.controls['isExportable']"
                                      >Es exportable</mat-checkbox>
      </div>

      <div class="col-md-6">
        <mat-form-field >
          <textarea  matInput [formControl]="form.controls['exportableTxt']" 
                  placeholder="Descripción de fortalezas u oportunidades" ></textarea>
          <mat-hint>Describa las condiciones para crear / ampliar potencial exportador</mat-hint>
        </mat-form-field>
      </div>

    </div>
    <hr>

    <div class="row" >
      <div class="col-md-3 d-flex align-items-center">
          <mat-checkbox [checked]="false" color="primary"
                        [formControl]="form.controls['isImportada']"
                                      >Es importado/a</mat-checkbox>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-select #fldOrigen placeholder="Origen del producto"
              [formControl]="form.controls['origen']"
              (selectionChange)="changeSelectionValue('origen',fldOrigen.value)" >
            <mat-option *ngFor="let item of origenOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
          <mat-hint>Indique origen del producto según fabricación o tecnología dominante</mat-hint>
        </mat-form-field>
      </div>

    </div>
    <hr>

    <div class="row" >
      <div class="col-md-3 d-flex align-items-center">
          <mat-checkbox [checked]="false" color="primary"
                        [formControl]="form.controls['isSustituible']"
                                      >Puede sustituir importación?</mat-checkbox>
      </div>

      <div class="col-md-6">
        <mat-form-field >
          <textarea  matInput [formControl]="form.controls['sustituibleTxt']" 
                  placeholder="Descripción de fortalezas u oportunidades" ></textarea>
          <mat-hint>Describa las condiciones para sustituir impotaciones</mat-hint>
        </mat-form-field>
      </div>

    </div>
    <hr>

    <div class="row" >
      <div class="col-md-3 d-flex align-items-center">
          <mat-checkbox [checked]="false" color="primary"
                        [formControl]="form.controls['isInnovacion']"
                                      >Es factor de innovación?</mat-checkbox>
      </div>

      <div class="col-md-6">
        <mat-form-field >
          <textarea  matInput [formControl]="form.controls['innovacionTxt']" 
                  placeholder="Descripción de fortalezas u oportunidades" ></textarea>
          <mat-hint>Describa las ventajas competitivas que asigna a la innovación relacionadas con este producto</mat-hint>
        </mat-form-field>
      </div>

    </div>
    <hr>


    <!--p class="text-destacado" >Describa la COMPETENCIA (para el caso de tratarse de un producto de REVENTA)</p>
    <div class="row" >
      <div class="col">
        <mat-form-field>
          <mat-select #fldCompetencia placeholder="Fuente competencia "
              [formControl]="form.controls['competencia']"
              (selectionChange)="changeSelectionValue('competencia',fldCompetencia.value)" >
            <mat-option *ngFor="let item of competenciaTypeOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
          <mat-hint>Motivo principal de la amenaza de la competencia para este producto</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select #fldCompetenciaOrigen placeholder="Origen de la competencia"
              [formControl]="form.controls['competenciaOrigen']"
              (selectionChange)="changeSelectionValue('competenciaOrigen',fldCompetenciaOrigen.value)" >
            <mat-option *ngFor="let item of origenOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
          <mat-hint>Origen del producto que compite con el suyo</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row" >
      <div class="col">
        <mat-form-field >
          <textarea  matInput [formControl]="form.controls['competenciaTxt']" 
                  placeholder="Describa su situación en relación con la competencia" ></textarea>
          <mat-hint>Explique sus necesidades, debilidades o amenazas en relación con la competencia</mat-hint>
        </mat-form-field>
      </div>
    </div -->
    <hr>

    <div class="additional-info">
      <button mat-raised-button color="primary" type="submit" 
      		(click)="onSubmit()"
          [disabled]="!form.valid" >Aceptar</button>
      
      <button mat-button type="button" color="accent"
      		(click)="onCancel()" >Cancelar</button>
    </div>
  </form>

  </ng-container>
  </mat-card-content>
</mat-card>