<mat-card
  [class.cama-ocupada]="cama.estado == 'ocupada'"
  [class.cama-libre]="cama.estado == 'libre'"
  [class.cama-prontaSalida]="cama.estado == 'Pronto a desocuparse'">
    <mat-card-title style="font-size: 0.8rem; text-align: center;">
        <!-- CAMA: {{cama.camaId}} -->
        {{ cama.slug }}
    </mat-card-title>
    <mat-card-subtitle style="font-size: 0.6rem;text-align: center;">
        <!-- {{ cama.tipo }} -->
        {{ cama.sector }} :: {{ cama.piso }} :: {{ cama.hab }} :: {{ cama.code }}
    </mat-card-subtitle>
    <!-- <mat-card-content>
        estado : {{cama.estado}}
    </mat-card-content> -->
</mat-card>