<card [title]="'Files Types'">
  <file [title]="'file-name'"></file>
  <file [type]="'doc'" [title]="'file-name'"></file>
  <file [type]="'xlx'" [title]="'file-name'"></file>
  <file [type]="'pdf'" [title]="'file-name'"></file>
  <file [type]="'zip'" [title]="'file-name'"></file>
  <file [type]="'mp3'" [title]="'file-name'"></file>
  <file [type]="'mp4'" [title]="'file-name'"></file>
  <file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file-1.jpg'"></file>
</card>

<card [title]="'Files Size'">
  <p><strong>Small</strong></p>
  <p>
    <file [title]="'file-name'" [size]="'small'"></file>
    <file [type]="'doc'" [title]="'file-name'" [size]="'small'"></file>
    <file [type]="'xlx'" [title]="'file-name'" [size]="'small'"></file>
    <file [type]="'pdf'" [title]="'file-name'" [size]="'small'"></file>
    <file [type]="'zip'" [title]="'file-name'" [size]="'small'"></file>
    <file [type]="'mp3'" [title]="'file-name'" [size]="'small'"></file>
    <file [type]="'mp4'" [title]="'file-name'" [size]="'small'"></file>
    <file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file-2.jpg'" [size]="'small'"></file>
  </p>
  <p><strong>Normal</strong></p>
  <p>
    <file [title]="'file-name'"></file>
    <file [type]="'doc'" [title]="'file-name'"></file>
    <file [type]="'xlx'" [title]="'file-name'"></file>
    <file [type]="'pdf'" [title]="'file-name'"></file>
    <file [type]="'zip'" [title]="'file-name'"></file>
    <file [type]="'mp3'" [title]="'file-name'"></file>
    <file [type]="'mp4'" [title]="'file-name'"></file>
    <file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file-3.jpg'"></file>
  </p>
  <p><strong>Large</strong></p>
  <p>
    <file [title]="'file-name'" [size]="'large'"></file>
    <file [type]="'doc'" [title]="'file-name'" [size]="'large'"></file>
    <file [type]="'xlx'" [title]="'file-name'" [size]="'large'"></file>
    <file [type]="'pdf'" [title]="'file-name'" [size]="'large'"></file>
    <file [type]="'zip'" [title]="'file-name'" [size]="'large'"></file>
    <file [type]="'mp3'" [title]="'file-name'" [size]="'large'"></file>
    <file [type]="'mp4'" [title]="'file-name'" [size]="'large'"></file>
    <file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file.jpg'" [size]="'large'"></file>
  </p>
</card>

<card [title]="'Files with delete button'">
  <file [title]="'file-name'" [delete]="true"></file>
  <file [type]="'doc'" [title]="'file-name'" [delete]="true"></file>
  <file [type]="'xlx'" [title]="'file-name'" [delete]="true"></file>
  <file [type]="'pdf'" [title]="'file-name'" [delete]="true"></file>
  <file [type]="'zip'" [title]="'file-name'" [delete]="true"></file>
  <file [type]="'mp3'" [title]="'file-name'" [delete]="true"></file>
  <file [type]="'mp4'" [title]="'file-name'" [delete]="true"></file>
  <file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file-4.jpg'" [delete]="true"></file>
</card>

<card [title]="'Files with spinners'" class="mb-0">
  <file [title]="'file-name'" [spinner]="true"></file>
  <file [type]="'doc'" [title]="'file-name'" [spinner]="true"></file>
  <file [type]="'xlx'" [title]="'file-name'" [spinner]="true"></file>
  <file [type]="'pdf'" [title]="'file-name'" [spinner]="true"></file>
  <file [type]="'zip'" [title]="'file-name'" [spinner]="true"></file>
  <file [type]="'mp3'" [title]="'file-name'" [spinner]="true"></file>
  <file [type]="'mp4'" [title]="'file-name'" [spinner]="true"></file>
</card>