<mat-card >
  <mat-card-title [title]="'Alta de Persona'" >{{pageTitle}}</mat-card-title>
  <mat-card-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" >

    <mat-form-field>
      <input matInput placeholder="Nombre o denominación"
          [formControl]="form.controls['displayName']"  >
      <small *ngIf="form.controls['displayName'].hasError('required') && 
         form.controls['displayName'].touched" class="form-message text-danger">
         Dato requerido</small>
    </mat-form-field>




    <div class="additional-info">
      <button mat-raised-button color="primary" type="submit" 
          [disabled]="!form.valid" >Aceptar</button>
      <button mat-button type="button" color="accent"
          [routerLink]='["../"]'>Cancelar</button>
    </div>

  </form>
  </mat-card-content>
</mat-card>
