<div class="text-center">
  <h4>Some of your Questions:</h4>
  <div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos labore minima odio possimus praesentium qui
        quibusdam quis recusandae sequi voluptate. Iste nihil totam voluptatibus. Blanditiis, non vitae! Deleniti eum,
        fugiat illum in incidunt labore, magni maxime necessitatibus nisi numquam officia, placeat quo suscipit tempora
        temporibus ut veniam! Labore, omnis, suscipit?</p>
      <div class="clearfix"></div>
    </div>
    <div class="col-xl-3"></div>
  </div>
</div>
