<mat-card>
	<mat-card-content>
		<div class="selector">
	  	<div class="d-flex align-items-center justify-content-between panel-header">
				<div class="panel-header-text">{{ searchTitle }}</div>
				<div class="panel-header-control" ><span 
					(click)='openSearchForm()' title="Abrir panel de búsqueda avanzada">
					<i [class]="openEditor ? 'fas fa-pen-square' : 'far fa-edit'" 
						aria-hidden="true"></i></span></div>
				</div>
		</div>
		<ng-container *ngIf="openEditor">
			<solcovid-browse [query]="query" 
											(updateQuery)="refreshSelection($event)"
											(mapRequest)="mapRequest($event)" ></solcovid-browse>
		</ng-container>
	</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
	 	<div class="row">
			<div class="col-sm-12 col-md-12">
	 	  	<div class="d-flex justify-content-between align-items-center panel-header">

					<div class="panel-header-text">{{ title }}</div>

					<div class="panel-header-control" >
					  <mat-button-toggle-group #view="matButtonToggleGroup"  >
					    <mat-button-toggle value="list">
					      <mat-icon>view_list</mat-icon>
					    </mat-button-toggle>
					    <mat-button-toggle value="grid">
					      <mat-icon>view_module</mat-icon>
					    </mat-button-toggle>
					  </mat-button-toggle-group>
					</div>

				</div>
			</div>
		</div>

		<ng-container *ngIf='showEditor'>
				<solcovid-panel [asistencia]='currentAsistencia'
										(updateToken)='updateCurrentAsistencia($event)'></solcovid-panel>

		</ng-container>

		<ng-container *ngIf='showData'>
      <div *ngIf="renderMap">
        <agm-map [latitude]="baseLatLng.lat" [longitude]="baseLatLng.lng" [zoom]="zoom">
        	<ng-container *ngFor="let location of mapData">
          <agm-marker [latitude]="location.lat" [longitude]="location.lng">
            <agm-info-window>
              <strong>{{ location.asistencia.requeridox.slug }}</strong>
            </agm-info-window>
          </agm-marker>
        	</ng-container>
        </agm-map>
      </div>

			<ng-container *ngIf='!view.value || view.value=="list"'>
				<sol-table (actionTriggered)="tableAction($event)"  ></sol-table>
			</ng-container>

			<ng-container *ngIf='view.value=="grid"'>
				<solcovid-list [items]='asistenciasList'
		 							(updateItems)='updateAsistenciaList($event)' ></solcovid-list>
			</ng-container>
		</ng-container>
  </mat-card-content>
</mat-card>

<!--mat-toolbar style="height:50px;">
	<mat-toolbar-row>

		<h1 >Navegación</h1>
		<div class="toolbar" >
			<a mat-button (click)="moveOn($event)">Opción-1</a>
			<a mat-button (click)="moveOn($event)">Opción-2</a>
			<a mat-button (click)="moveOn($event)">Opción-3</a>
			<a mat-button (click)="moveOn($event)">Opción-4</a>
			<a mat-button (click)="moveOn($event)">Opción-5</a>
		</div> 

	</mat-toolbar-row>
</mat-toolbar -->
