@import '../../../assets/sass/variable';
$text-color: #0645f5;

:host {
  .mat-card {
    font-family: "Lato", "Open Sans", sans-serif;
    background: #0645f5;
    .mat-card-content {
      color: #ffffff;
      font-size: 1.3em;
 
      #top {
        text-align: center;

        #first-panel{
          h1.top-title {
            font-weight: 900;
            color: #ffffff;
          }
          .top-description {
          }
          .top-image {
          }
        }
      }

      //input::placeholder;

      mat-placeholder {
        color: #5dade0;
      }

      .mat-focused .placeholder{
        color: rgba(255, 128, 255, 0.54);
      }

    
      #bottom {
        text-align: center;

        #second-panel{
          form {
            color: #ffffff;

          }

          .top-description {
          }

          .top-image {
          }
        }
      }

    }
  }
  

  #second-panel{
    max-width: 600px;
  }

  .accept {
    white-space: normal;
  }

}
