div.medium-editor-element {
	min-height: 170px;
	border-style: none none outset;
	border-width: 0.1px;
	border-color: #949494;


}

.additional-info {
	margin-top: 15px;
	
}
card-graph-controller {
	margin: 15px;	
}

.alta-ficha {
	margin-bottom: 15px;

}