<ng-container>
	<div class="row">    	
		<div class="col-12">
			<mat-card class="card">
			  <mat-card-header><h3>Panel de control</h3></mat-card-header>
			</mat-card>
		</div>
	</div>
</ng-container>

<ng-container>
	<div class="row"> 
	 <ant-dash-groupbytinfraccion
	 			[query]='dashboardQuery'
	 		></ant-dash-groupbytinfraccion>
		<div class="col-6">
			<mat-card class="card">
  				<mat-card-content>
  					<mat-card-title>Módulo 1</mat-card-title>
  					<mat-divider></mat-divider>
  					
  						<mat-list>
 							<mat-list-item> Elemento 1 </mat-list-item>
							<mat-list-item> Elemento 2 </mat-list-item>
							<mat-list-item> Elemento 3 </mat-list-item>
						</mat-list>
  					
				</mat-card-content>
			</mat-card>
		</div>
	   	
		<div class="col-6">
			<mat-card class="card">
  				<mat-card-content>
  					<mat-card-title>Módulo 2</mat-card-title>
  					<mat-divider></mat-divider>
  					
  						<mat-list>
 							<mat-list-item> Elemento 1 </mat-list-item>
							<mat-list-item> Elemento 2 </mat-list-item>
							<mat-list-item> Elemento 3 </mat-list-item>
						</mat-list>
  					
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</ng-container>

<ng-container>
	<div class="row">    	
		<div class="col-12">
			<mat-card class="card">
  				<mat-card-content>
  					<mat-card-title>Módulo 3</mat-card-title>
  					<mat-divider></mat-divider>
  					
  						<mat-list>
 							<mat-list-item> Elemento 1 </mat-list-item>
							<mat-list-item> Elemento 2 </mat-list-item>
							<mat-list-item> Elemento 3 </mat-list-item>
						</mat-list>
  					
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</ng-container>