@import '../../../../assets/sass/variable';

:host {
  .top-image {
    margin-top: 42px;
  }

  .main-content {
    height: 100%;
    transition: padding .2s $animation;
    @media #{$max991} {
      padding-left: 0;
    }
		.main-content-wrap {
	    height: 100%;
	    padding: 5px 0 0 0;
	    width: 100%;
	  }
  }
}