<mat-card class="detail-card">
  <mat-card-content>

  		<ng-container *ngIf="showView">
		 	<div class="row">
		 		<div class="col-sm-1 col-md-1">
					<div>
						<span class="edit-control"
							(click)='editToken()' title="Editar datos">
							<i [class]="openEditor ? 'fas fa-pen-square' : 'far fa-edit'" 
							aria-hidden="true"></i></span>
					</div>

		 		</div>
		 		<div class="col-sm-11 col-md-11">
		 			<pcultural-core-view [pcultural]='pcultural'></pcultural-core-view>
		 		</div>
			</div>
		 </ng-container>
	
  		<ng-container *ngIf="showEdit">
		 	<div class="row">
		 		<div class="col-sm-12 col-md-12">
		 			<pcultural-core-edit [pcultural]='pcultural'
		 								(updatePcultural)='updateCore($event)' ></pcultural-core-edit>
		 		</div>
			</div>
		 </ng-container>
	
  </mat-card-content>
</mat-card>
