<mat-card class="data-table mat-elevation-z8">
  <mat-card-content>
  <div id="tableactions" class="d-flex flex-column flex-md-row justify-content-start align-items-center">

    <mat-form-field style="font-size: 12px;  max-width: 200px">
      <mat-select #actionFld placeholder="Acciones" [disabled]='selection.isEmpty()'
          (selectionChange)="changeAction($event)" 
          [(value)]="selectedAction" >
        <mat-option *ngFor="let action of actionList" 
          [value]="action.val" >{{ action.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    <span style="margin: 0 15px 0 15px;" >
      <small>{{ getLabel(selectedAction, actionList, 'Seleccionado: ') }}</small></span>

    <button mat-button *ngIf='!selection.isEmpty()' color="accent" title="Entregar voucher" 
        (click)='triggerAction("entregar")'  >
        <i class='fas fa-pencil-alt'></i></button>

    <button mat-button color="accent" title="Limpiar lista de items inspeccionados"
        (click)='triggerAction("limpiar")'>
        <i class='fas fa-times' aria-hidden="true"></i></button>

    <button mat-button *ngIf='isColSelectionAllowed' color="accent"  title="Seleccione columnas de la tabla"
        (click)='openModalDialog(formdata)'  ><i class='fa fa-cog'></i></button>
   
  </div>

  <mat-table #table matSort [dataSource]="dataSource">
  	<!-- "select", 'asistenciaId','action', "slug", "sector","avance", 'favance',  "fecomp_txa" -->

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef> 
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="asistenciaId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.asistenciaId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Acción </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.action}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="compName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Comprobante </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.compName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="compNum">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Número </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.compNum}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecomp_txa">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fecomp_txa}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sector">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Sector </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sector}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="slug">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Observación </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.slug}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="avance">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estado avance </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.avance}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="kitEntrega">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Kit entrega </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.kitEntrega}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="person">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Beneficiario </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.person}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
  </mat-table>

  <mat-paginator #paginator
        [length]="10"
        [pageIndex]="0"
        [pageSize]="25"
        [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</mat-card-content>
</mat-card>

<ng-template #formdata >
  <ng-container  *ngFor="let col of table_columns"  >
    <p><mat-checkbox   [(ngModel)]='table_columns_sel[col]' 
                    (change)='changeCheckBx($event, col)'>{{col}}
        </mat-checkbox ></p>
  </ng-container>
</ng-template>



