<mat-card>
  <mat-card-content>
		<div class="row">
			<div class="col-sm-12 col-md-12">
			  	<div class="d-flex justify-content-between panel-header">

					<div class="panel-header-text">{{ title }}</div>

		      <button mat-button type="button" color="accent"
		          (click)="altaRapidaServicio()" >Alta rápida SERVICIO</button>

					<div class="panel-header-control" ><span 
						(click)='addItemEvent()' title="Agregar Item">
						<i [class]="openEditor ? 'fas fa-plus' : 'far fa-plus'" 
							aria-hidden="true"></i></span></div>
				</div>
			</div>
		</div>
			
		<ng-container *ngIf="showList">

				<div  *ngFor="let item of items" class="row">
					<div class="col-sm-12 col-md-12">
						<locacion-base [locacion]='item'
												(updateToken)='updateItem($event)'></locacion-base>
					</div>
				</div>

		</ng-container>
			
  </mat-card-content>
</mat-card>
