$bgcolor-selectors: #d79e96;
$color-button: #3c4e62;
$color-destacado: #0645f5;

.vigilancia-box {
	min-height: 150px;
}

.mat-check {
	margin: 0 5px 0 0 !important;
}

.mat-data {
	margin-left: 5px;
}


.text-resaltado {
		margin: 0 0 0 0;
		color: $color-destacado;
		font-weight: 700;
		font-size: 1.2rem;
		font-style: italic;

}


.token {
	width: 100px;
	//border: 1px solid rgba(#000,.8);
}
.token-header {
	border: 1px solid rgba(#000,.8);
	color: $color-destacado;
	background-color: rgba(150, 150, 255, 0.65);
	font-weight: 400;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	margin: 0 0 0 0;
}
.token-data {
	border: 1px solid rgba(#000,.8);
	font-weight: 400;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	margin: 0 0 0 0;
}
