mat-card:hover{
    cursor: pointer;
    opacity: 0.75;
}
mat-card{
		background-color: #626;
    width: 170px;
    height: 100px;
    margin-bottom: 1%;
    color: white;


}
mat-card-subtitle {
    color: white;
	

}

