<mat-card [title]="'Notificaciones'" >
  <mat-card-content>
    <div class="search">
      <mat-form-field>
        <input  #searchFld  matInput  id="search-box" 
          name="content"
          [(ngModel)]='messageContent'
          [matAutocomplete]="content"
          (keyup)="search(searchFld.value)"  
          placeholder="Buscar mensajes..." />
          
          <span matSuffix style="margin: 10px" title="abrir/ cerrar editor de mensajes"
            (click)='editToken()' >
            <i aria-hidden="true"
              [class]="_openEditor ? 'fas fa-pen-square' : 'far fa-edit'" ></i>
          </span>  
      </mat-form-field>

      <mat-autocomplete #content="matAutocomplete" >
         <mat-option
                *ngFor="let message of fetchedEntities | async" 
                (onSelectionChange)="selectEntity(message)"
                [value]='message.content'>
            {{message.content}}
          </mat-option>
      </mat-autocomplete>
    </div>

    <div *ngIf='_openEditor'>
    <mat-card>
    <mat-card-header>
      <mat-card-subtitle><span innerHTML="{{ messageActionLabel }}" ></span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" >

      <div id="custom-editor">
        <textarea 
          mediumEditor
          [formControl]="form.controls['content']" 
          [(editorModel)]="meContent"
          [editorOptions]="{'toolbar': {'buttons': ['bold', 'italic', 'underline','pre', 'html', 'anchor', 'h1', 'h2','h3','removeFormat']}}" 
          [editorplaceholder]="mePlaceholder"
          (modelValueChange)="contentUpdateContent($event)">
        </textarea>
      </div>

      <div class="d-flex justify-content between align-items-center">
			<user-chip 
				    [users]='userEmitter' 
            [inputlabel]='"seleccionar destinatarios..."'
            (emitUsers)='updateUserList($event)' ></user-chip>
      </div>

      <div class="additional-info">
        <button mat-button type="submit" color="primary" 
        		[disabled]="!form.valid"  > Enviar</button>
        <button mat-button type="button"  color="accent"
          (click)="editCancel()"  >Cancelar</button>
      </div>
    </form>

    <ng-container *ngIf='showConversation'>
      <p class="conversation-detail">Historial de conversación</p>
      <conversation-detail [conversationListener]='conversationEmitter'></conversation-detail>

    </ng-container>

    </mat-card-content>
    </mat-card>


    </div>
  </mat-card-content>
</mat-card>

