@import '../../../../assets/sass/variable';

:host {

  .main-content {
    padding: 40px 0 0 0;
    transition: padding .2s $animation;
    
    @media #{$max991} {
      padding-left: 0;
    }
    .main-content-wrap {
      height: 100%;
      padding: 0;
      width: 100%;
    }
  }

  navbar {
    transition: left .2s $animation;
    @media #{$max991} {
      width: 100%;
    }
  }
  .site-sidebar {
    display: flex;
    flex-direction: column;
    @media #{$max991} {
      position: relative;
      z-index: 9999;
    }
  }



}
