@import '../../../assets/sass/variable';
$color-destacado: #ff8c00;

.search-panel {
	font-size: 1.2em;
}

.alert {
	font-size: 1.2em;
	font-weight: 700;
	color: $color-destacado;
	margin-left: 20px;

}
.person-search {
  .person-search-button {
  	margin-top: 15px;

		font-size: 1em;
  }


}

