<div class="row">
    <div class="col-12">
        <mat-toolbar color="primary">
            <div>Documentación integrada a la plataforma</div>
        </mat-toolbar>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <documentacion-card-files></documentacion-card-files>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <button type="button" mat-flat-button color="primary" (click)="goToDashboard()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Volver
    </button>
    </div>
</div>