@import '../../../../assets/sass/variable';
.navigate-btn {
    margin-right: 10px;
}

.mat-column-select {
    max-width: 60px;
}

.mat-column-ndoc {
    max-width: 100px;
}

.mat-column-descripcion {
    min-width: 500px;
}

.mat-column-rowactions .mat-icon {
    cursor: pointer;
}