<div class="container-fluid">
 		<div class="d-flex flex-row align-items-between justify-content-between ">
 			<span class='text-resaltado'>{{ slug }} {{ arsCosto | currency }}</span>
 			<span class='text-resaltado'>ARS::{{ arsCosto | currency }}</span>
 		</div>
 		<div class="d-flex flex-row align-items-start justify-content-between ">
 			<span class='text-secundario'>{{ freq }}:{{fume}} x {{ qty }}:{{qume}} x {{ importe | currency  }}:{{ moneda }} =</span>
 			<span class='text-secundario'>{{ moneda  }}:{{ costo | currency }}</span>

 		</div>

 		<div class="d-flex flex-row align-items-start justify-content-between ">
 			<span class='text-normal'>{{ productSlug }} </span>
 			<span class='text-normal'><strong>Tipo de cambio: </strong> 
 				{{ changeRate }} ({{ feRate }})</span>
 		</div>
</div>
