<div class="container-fluid p-0 app" *ngIf="cama.estado !== 'LIBRE'">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-12">
			<h2 style="text-align: center;">
				{{ cama.paciente.name | uppercase }} ({{ cama.paciente.dni }})
			</h2>
			<h4 class="m-0" style="text-align: center;" *ngIf="cama.camaId">
				Cama/box: {{ cama.camaId }}
			</h4>
		</div>
	</div>

	<!-- Pestañas -->
	<mat-tab-group>

		<mat-tab label="Asignar recurso">

			<div class="container-fluid p-0">
			    <form [formGroup]="formRecursos">
			        <div class="container">
			                <!-- Recurso -->
									<h5><span>EVOLUCIÓN INTERNACIÓN: </span></h5>

								  <div class="row">
								    <div class="col d-flex align-items-center">
								      <mat-radio-group  formControlName="transition" 
								      									aria-label="Cambio en el estado de internación">
								        <mat-radio-button 
								              [checked]="formRecursos.controls['transition'].value===0" 
								              (change)='changeActualState(0)'
								              [value]="0">Permanece en este servicio</mat-radio-button>
								        <mat-radio-button 
								              [checked]="formRecursos.controls['transition'].value===1" 
								              (change)='changeActualState(1)'
								              [value]="1">Traslado intra-locación</mat-radio-button>
								        <mat-radio-button 
								              [checked]="formRecursos.controls['transition'].value===2" 
								              (change)='changeActualState(2)'
								              [value]="2">Externación</mat-radio-button>
								        <mat-radio-button 
								              [checked]="formRecursos.controls['transition'].value===3" 
								              (change)='changeActualState(3)'
								              [value]="3">Salida</mat-radio-button>
								      </mat-radio-group>
								    </div>
								  </div>

			            <div class="row"> <!-- ó col-6? -->
			                <div class="col" style="text-align: center;">
			                    <mat-form-field>
			                        <mat-label>Recurso</mat-label>

			                        <mat-select #fldRecurso 
			                                        formControlName='recurso'
			                                        (selectionChange)="changeSelectionValue('recurso', fldRecurso.value)">
			                            <!-- Admisión -->
			                            <mat-optgroup [disabled]="!recursosList.length" [label]="'Camas'">
			                                <mat-option *ngFor="let recurso of recursosList" [value]="recurso">
			                                    {{ recurso.slug }} 
			                                </mat-option>
			                            </mat-optgroup>

			                        </mat-select>
			                    </mat-form-field>
			                </div>
			            </div>

			          <div class="d-md-flex justify-content-end"> <!-- ó col-6? -->
			            <button class="m-1" mat-raised-button color="primary" 
			                    [disabled]="!formRecursos.valid" 
			                    (click)="onSubmitRecursos()">
			                Asignar
			            </button>
			            <button class="m-1"  mat-raised-button color="warn"  (click)="onCancel()">
			                Cancelar
			            </button>
			        	</div>
			        </div>
			    
			    </form>
			</div>

		</mat-tab>

		<mat-tab label="Datos del paciente">
			<mat-list>
				<div class="row">
					<div class="col-12 col-md-12 col-sm-12">
						<div *ngIf="cama.paciente.diagnostico != ''">
							<mat-list-item> Diagnostico: {{cama.paciente.diagnostico}} </mat-list-item>
						</div>
						<div *ngIf="cama.paciente.diagnostico == ''">
							<mat-list-item> Esperando diagnostico</mat-list-item>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-12 col-sm-12">
						<mat-list-item> Fecha de ingreso: {{cama.fecha_in}}</mat-list-item>
					</div>
				</div>
				
				<div class="row">
					<div class="col-12 col-md-5 sol-sm-6">
						<div>
							<mat-list-item>
								Salida prevista:
								<mat-slider
									thumbLabel
									[min]="slider.min"
									[max]="slider.max"
									[step]="slider.step"
									[value]="slider.daysLeft"
									(input)="updateDaysLeft($event)"
								>
								</mat-slider>
							</mat-list-item>
						</div>
					</div>
					<div class="offset-3 offset-md-0 offset-sm-3 col-sm-6 col-6 col-md-6">
						{{
							slider.daysLeft === slider.min ? 'hoy' :
							slider.daysLeft === 1 ? 'dentro de ' + slider.daysLeft + ' día' :
							slider.daysLeft === slider.max ? 'dentro de ' + slider.daysLeft + ' días o más' :
							'dentro de ' + slider.daysLeft + ' días'
						}} ({{ fechaPrevistaOut | date:'dd/LL/yyyy' }}{{ slider.daysLeft === slider.max? ' o posterior' : '' }})
					</div>
				</div>
			</mat-list>
			<div class="row">
				<div class="offset-md-8 offset-sm-6 offset-1 col-5 col-sm-3 col-md-2">
					<button type="button" mat-flat-button color="primary" matTooltip="Pasar a extenación"  [matTooltipPosition]="'above'" (click)="updateInternacion()">Actualizar</button>
				</div>
				<div class="col-md-2 col-sm-3 col-3">
					<button type="button" mat-flat-button color="warn" matTooltip="Cancelar" [matTooltipPosition]="'above'" (click)="onCancel()">Cancelar</button>
				</div>
			</div>
		</mat-tab>

		<!-- Evolución (alta de parte médico) -->
		<mat-tab label="Evolución">
			<form [formGroup]="evolucionForm">
				<div class="container">

					<div class="row">
						<mat-form-field class="col-12">
							<mat-label>Ingrese indicación o problema</mat-label>
			          <input matInput [formControl]="evolucionForm.controls['slug']" placeholder="Sector/Área">
						</mat-form-field>
					</div>
					<div class="row">
						<mat-form-field class="col-12">
							<mat-label>Descripción / observación</mat-label>
							<textarea matInput [formControl]="evolucionForm.controls['description']" type="text"></textarea>
						</mat-form-field>
					</div>


					<!-- Doctor/doctora -->
					<div class="row">
						<mat-form-field class="col-12">
							<input type="text" matInput placeholder="Dr. /Dra."
								[formControl]="evolucionForm.controls['profesional']"
								[matAutocomplete]="auto">
							<mat-autocomplete #auto="matAutocomplete">
								<mat-option *ngFor="let opcion of opcionesFiltradas | async" [value]="opcion">
									{{ opcion }}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>
					</div>

	          <div class="d-md-flex justify-content-end"> <!-- ó col-6? -->
	            <button class="m-1" mat-raised-button color="primary" 
	                    [disabled]="!evolucionForm.valid" 
	                    (click)="onSubmitEvolucion()">
	                Enviar parte médico
	            </button>
	            <button class="m-1"  mat-raised-button color="warn"  (click)="onCancel()">
	                Cancelar
	            </button>
	        	</div>


				</div>
			</form>
		</mat-tab>


	</mat-tab-group>
				
</div>

<div class="container-fluid p-0" *ngIf="cama.estado === 'LIBRE'">
	<div class="row">
		<div class="col-sm-12 col-12 col-md-12">
			<h3 style="text-align: center;">CAMA DISPONIBLE: {{cama.camaId}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-12">
			<h4>Ingrese los datos del paciente que va a ocupar la cama</h4>
		</div>
	</div>
		<form [formGroup]="pacienteForm" (ngSubmit)="onPacienteSubmit()">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-12">
					<mat-form-field>
						<mat-label>Nombre y apellido</mat-label>
						<input matInput formControlName="name">
					</mat-form-field>
				</div>
				<div class="col-md-4 col-sm-6 col-12">
					<mat-form-field>
						<mat-label>DNI</mat-label>
						<input matInput formControlName="dni">
					</mat-form-field>
				</div>
				<div class="col-md-4 col-sm-6 col-12">
					<mat-form-field>
						<mat-label>Diagnostico</mat-label>
						<input matInput formControlName="diagnostico">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-12">
					<mat-form-field>
						<mat-label>Fecha ingreso</mat-label>
						<input matInput  [matDatepicker]="picker1" formControlName="fecha_in">
									<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
									<mat-datepicker #picker1></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-md-4 col-sm-6 col-12">
					<mat-form-field >
						<mat-label>Fecha salida (estimada)</mat-label>
						<input matInput  [matDatepicker]="picker2" formControlName="fecha_out">
									<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
									<mat-datepicker #picker2></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="offset-sm-7 offset-md-8 offset-2 col-md-2 col-5 col-sm-3">
					<button type="submit" mat-flat-button color="primary">Ingresar</button>
				</div>
				<div class="col-sm-2 col-5 col-md-2">
					<button type="button" mat-flat-button color="warn" (click)="onCancel()">Cancelar</button>
				</div>
			</div>
		</form>
</div>