<div class="container-fluid p-0 app">
	<form [formGroup]="form">
		
	<div class="row">
	  <div  class="col-md-6">
				<mat-checkbox 
					[checked]="form.controls['isActive'].value===true"
					[formControl]="form.controls['isActive']" >
					Caso activo de seguimiento epidemiológico</mat-checkbox>
		</div>
		<div  class="col-md-6">
				<p class="text-resaltado" >{{ displayAs }}</p>
		</div>
	</div>
	<div class="row">
	  <div  class="col-md-6">
				<mat-checkbox 
					[checked]="form.controls['isAsistido'].value===true"
					[formControl]="form.controls['isAsistido']" >
					Caso activo de asistencia social directa </mat-checkbox>
		</div>
		<div  class="col-md-6">
				<p class="text-resaltado" >{{ contactoDe }}</p>
		</div>
	</div>
	<div class="row">
		<div  class="col-md-6 offset-md-6">
				<p class="text-resaltado" >{{ bajoTutelaDe }}</p>
		</div>
	</div>

	<div class="row">
	    <div  class="col-md-6">
	        <mat-form-field>
	          <input  matInput [formControl]="form.controls['fe_inicio']" placeholder="Fecha inicio seguimiento" >
	        </mat-form-field>
	    </div>
		<div class="col-md-6" style="text-align: center;">
			<mat-form-field>
				<mat-label>Tipo de seguimiento</mat-label>
				<mat-select #fldAsignar  formControlName='tipo'
										(selectionChange)="changeSelectionValue('tipo', fldAsignar.value)">

				    <mat-optgroup [disabled]="!tipoFollowUpOptList.length" [label]="'Indicá el tipo de seguimiento'">
				        <mat-option *ngFor="let tipo of tipoFollowUpOptList" [value]="tipo.val">
				            {{ tipo.label }} 
				        </mat-option>
				    </mat-optgroup>

				</mat-select>
			</mat-form-field>
		</div>
	</div>

	<div class="d-flex justify-content-between check-box-alta">
	    <div>
				<mat-checkbox 
					[checked]="form.controls['altaVigilancia'].value===true"
					[formControl]="form.controls['altaVigilancia']" >
					SEGUIMIENTO POR VIGILANCIA FINALIZADO</mat-checkbox>
			</div>
		  <div>
					<mat-checkbox 
						[checked]="form.controls['altaAsistencia'].value===true"
						[formControl]="form.controls['altaAsistencia']" >
						SEGUIMIENTO POR ASISTENCIA SOCIAL FINALIZADO</mat-checkbox>
			</div>
	</div>
	

	<p class="text-resaltado">Esquema de seguimiento, en tanto caso índice de un grupo de contactos estrechos</p>
	<div class="row" >
	  <div class="col-md-4">
	    <mat-form-field>
	      <mat-select #fldFase placeholder="Fase de seguimiento"
	          [formControl]="form.controls['fase']"
	          (selectionChange)="changeSelectionValue('fase',fldFase.value)" >
	        <mat-option *ngFor="let item of faseOptList" 
	          [value]="item.val" >{{ item.label }}</mat-option>
	      </mat-select>
	    </mat-form-field>
	  </div>

	  <div class="col-md-4">
	    <mat-form-field>
	      <mat-select #fldUserList placeholder="Asignado para el seguimiento"
	          [formControl]="form.controls['asignadoId']"
	          (selectionChange)="changeSelectionValue('asignadoId',fldUserList.value)" >
	        <mat-option *ngFor="let item of usersOptList" 
	          [value]="item.val" >{{ item.label }}</mat-option>
	      </mat-select>
	    </mat-form-field>
	  </div>

	  <div class="col-md-4 d-flex align-items-center">
        <mat-checkbox [checked]='false' 
        				[formControl]="form.controls['isAsignado']"
        				(change)="changeAsignado($event)">
        Selección activa: {{ asignadoSlug }}</mat-checkbox>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-8 d-flex align-items-center">
			<button mat-button color="warn" class='m-1'
					title='Propaga la selección realizada a la lista de contactos que no tengan una asignación previa.'
					(click)="propagateAsignee()">
			    {{ asigneeMsj }} </button>
	  </div>

	</div>

	<div class="d-md-flex justify-content-start">
		<button mat-raised-button color="primary" class='m-1'
				[disabled]="!form.valid || formClosed"
				(click)="onSubmit()">
		    Confirmar </button>
		<button mat-raised-button color="warn"   class='m-1'
				(click)="onCancel()">
		    Cancelar </button>

		<button *ngIf='hasMultipleSelected' mat-raised-button color="primary" class='m-1'
				[disabled]="!form.valid || formClosed"
				(click)="onSubmitMultiple()">
		    Aplicar todos los seleccionados ({{ selectedCount }})</button>

	</div>
	  
	</form>
	<ng-container *ngIf="showDumpData">
	  <pre class="dump-tests">{{ dumpData | json }}</pre>
	</ng-container>

</div>