$color-destacado: #0645f5;
$color-resaltado: #ff45f5;
.app{
  max-height: 650px;

}

.form-control {
	margin-left: 15px;
}

.check-box-alta{
	margin-bottom: 15px;
}

.text-normal {
		margin: 0 0 0 0;
		color: $color-destacado;
		font-weight: 400;
		font-size: 1rem;
		font-style: italic;

}

.text-resaltado {
		margin: 0 0 0 0;
		color: $color-destacado;
		font-weight: 700;
		font-size: 1.2rem;
		font-style: italic;

}
