<mat-card>
	<mat-card-content>

			<div id='top' class="row align-items-center justify-content-center">
				<div class='col' >
					<h4  class='top-title'>{{title}}</h4>
					<div class='top-description' innerHtml='{{description}}'></div>
				</div>
			</div>

			<ng-container *ngIf='!showDetail'>

				<div [@blockIn]='blockState.state' id='items' class="row">

					<div class='col-sm-3 item' *ngFor='let node of nodes'>

						<ng-container *ngIf='node.navigateTo'>
							<a routerLink='{{ node.navigateTo }}'>
								<img class='item-image' src='{{ node.imageUrl }}' ></a>
						</ng-container>

						<ng-container *ngIf='node.linkTo'>
	          <a rel="noopener noreferrer" target="_blank" title="{{node.linkTo}}"
	             href="{{node.linkTo}}" ><img class='item-image' src='{{ node.imageUrl }}' ></a> 
						</ng-container>
						
						<ng-container *ngIf='node.noLink'>
	          	<a role="button" title="{{node.linkTo}}" href="#" 
	             		(click)="serviceDetail($event, node)">
	             <img class='item-image' src='{{ node.imageUrl }}'
	             			[@heroState]='node.state' ></a>
	           </ng-container>

					</div>
				</div>
			</ng-container>
			<ng-container *ngIf='showDetail'>
      	<a role="button" class="item-link" title="{{detailImage.slug}}" href="#" 
         		(click)="servicePlain($event)">
         <img mat-card-image src='{{ detailImage.url }}'
         			[@flyInOut]='flyState.state' ></a>
			</ng-container>
			

			
	</mat-card-content>
</mat-card>

<!--
					<h5 class='item-title' innerHtml='{{node.title}}'></h5>
					<div class='item-text' innerHtml='{{node.description}}'></div>
-->