<h5>Basic cards</h5>
<mat-card class="example-card">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa labore velit.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?</p>
</mat-card>

<h5>Cards with header</h5>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar><img src="assets/content/avatar-1.jpg" width="40" height="40"></div>
    <mat-card-title><strong>Header title</strong></mat-card-title>
    <mat-card-subtitle>Header subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi cupiditate dicta ducimus enim esse eum eveniet explicabo id in, quae rerum.
    </p>
  </mat-card-content>
</mat-card>

<h5>Card with multiple sections</h5>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar><img src="assets/content/avatar-2.jpg" width="40" height="40"></div>
    <mat-card-title><strong>Header title</strong></mat-card-title>
    <mat-card-subtitle>Header subtitle</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/content/card-1.jpg">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent">LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>