<mat-card >
	<mat-card-header>
		<mat-card-title>{{ title }} </mat-card-title>
		<mat-card-subtitle>{{ texto1 }}</mat-card-subtitle>
	</mat-card-header>

  <mat-card-content>

  <ng-container *ngIf="showForm">

  <form [formGroup]="form">

    <div class="d-flex justify-content-end">
      <mat-icon style="cursor: pointer;" 
              matTooltip="{{codigo.ayuda1}}"
              (click)="showHelp($event, 'ayuda1')">help_outline</mat-icon>
    </div>

    <div class="row" >
      <div class="col-md-3">
        <mat-form-field>
          <mat-select #fldTipoBien placeholder="Tipo de bien"
              [formControl]="form.controls['type']"
              (selectionChange)="changeSelectionValue('type',fldTipoBien.value)" >
            <mat-option *ngFor="let item of tipoOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
          <mat-hint>Seleccione opción</mat-hint>
        </mat-form-field>
      </div>
      <!-- div class="col-md-2">
        <mat-form-field >
          <input  matInput [formControl]="form.controls['parancelaria']" 
                  placeholder="Posición arancelaria" >
          <mat-hint>Posición arancelaria del activo</mat-hint>
        </mat-form-field>
      </div-->
      <div class="col-md-2">
        <mat-form-field >
          <input  matInput [formControl]="form.controls['anio']" 
                  placeholder="Año de incorporación" >
          <mat-hint>Año en que pone en marcha el recurso</mat-hint>
        </mat-form-field>
      </div>  
      <div class="col-md-5">
        <mat-form-field >
          <input  matInput [formControl]="form.controls['slug']" 
                  placeholder="Descripción ejecutiva" >
          <mat-hint>Marca, modelo y descripción de capacidades</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-3">
      <div class='col-md-5'>
        <mat-form-field>
          <mat-select #fldActividadId placeholder="Actividad relacionada"
              [formControl]="form.controls['actividadId']"
              (selectionChange)="changeSelectionValue('actividadId',fldActividadId.value)" >
            <mat-option *ngFor="let item of actividades" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
          <mat-hint>Indique la ACTIVIDAD vinculada con este bien</mat-hint>
        </mat-form-field>        
      </div>
    </div>


    <hr>

    <div class="row" >
      <div class="col-md-3 d-flex align-items-center">
          <mat-checkbox [checked]="false" color="primary"
                        [formControl]="form.controls['isImportada']"
                                      >Es importado/a</mat-checkbox>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-select #fldOrigen placeholder="Origen del producto"
              [formControl]="form.controls['origen']"
              (selectionChange)="changeSelectionValue('origen',fldOrigen.value)" >
            <mat-option *ngFor="let item of origenOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
          <mat-hint>Indique origen del activo según fabricación o tecnología dominante</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <hr>

    <div class="row" >
      <div class="col-md-3 d-flex align-items-center">
          <mat-checkbox [checked]="false" color="primary"
                        [formControl]="form.controls['isInnovacion']"
                                      >Es factor de innovación?</mat-checkbox>
      </div>

      <div class="col-md-6">
        <mat-form-field >
          <textarea  matInput [formControl]="form.controls['innovacionTxt']" 
                  placeholder="Descripción de fortalezas u oportunidades" ></textarea>
          <mat-hint>Describa las ventajas competitivas que asigna a la innovación relacionadas con este bien</mat-hint>
        </mat-form-field>
      </div>

    </div>
    <hr>
    <div class="row" >
      <!--div class="col-md-3">
        <mat-form-field>
          <mat-select #fldDestinoBien placeholder="Destino de la producción "
              [formControl]="form.controls['destino']"
              (selectionChange)="changeSelectionValue('destino',fldDestinoBien.value)" >
            <mat-option *ngFor="let item of origenOptList" 
              [value]="item.val" >{{ item.label }}</mat-option>
          </mat-select>
          <mat-hint>Aplica a productos de venta o maquinaria de fabricación</mat-hint>
        </mat-form-field>
      </div-->
      <div class="col-md-3">
        <mat-form-field >
          <input  matInput [formControl]="form.controls['capainstalada']" 
                  placeholder="Capacidad instalada" >
          <mat-hint>Capacidad nominal de producción</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field >
          <input  matInput [formControl]="form.controls['capautilizada']" 
                  placeholder="Capacidad utilizada" >
          <mat-hint>Capacidad efectivamente utilizada promedio último año</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field >
          <input  matInput [formControl]="form.controls['umecapacidad']" 
                  placeholder="Unidad de medida" >
          <mat-hint>Unidad de medida utilizada para expresar capacidad, por ejemplo unidades/año</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field >
          <input  matInput [formControl]="form.controls['anio']" 
                  placeholder="Año de lanzamiento" >
          <mat-hint>Año en que inició venta o producción del bien o maquinaria</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <hr>

    <div class="additional-info">
      <button mat-raised-button color="primary" type="submit" 
      		(click)="onSubmit()"
          [disabled]="!form.valid" >Aceptar</button>
      
      <button mat-button type="button" color="accent"
      		(click)="onCancel()" >Cancelar</button>

      <button mat-flat-button type="button" color="warn" (click)="deleteToken()">Borrar</button>
    </div>
  </form>

  </ng-container>
  </mat-card-content>
</mat-card>