:host {

    background: url(../../../../assets/content/login-bg.jpg) 50% 50% no-repeat;
    background-size: cover;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
  
  }
  
  
  
  #login-form-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
    
  #login-form {
    margin: auto;
    padding: 20px 50px;
  }
  
  
  #btn-acceder {
    float: left;
  }
  
  #btn-volver {
    float: right;
  }
  
  .btn-left {
    //margin-top: 10%;
    float: left;
  }
  
  mat-card-actions{
    margin-left: 0;
  }
  
  