$color-destacado: #0645f5;
$color-button: #3c4e62;

.panel-header{
		background-color: #f2eded;
}

.panel-header-text {
		margin: 0 0 0 15px;
		font-weight: 700;
		font-size: 1.4rem;
}

.panel-header-control {
		margin: 0 35px 0 15px;
		font-weight: 400;
		font-size: 1.4rem;
		text-align: right;
}

.novedades-container {
		margin: 10px 0 15px 15px;
		padding: 5px;

}

.text-destacado {
		margin: 0 0 0 0;
		color: $color-destacado;
		font-weight: 400;
		font-size: 2rem;
		font-style: italic;

}

.text-resaltado {
		margin: 0 0 0 0;
		color: $color-destacado;
		font-weight: 700;
		font-size: 1.2rem;
		font-style: italic;

}

.text-normal {
		margin: 5px 0 0 0;
		font-weight: 400;
		font-size: 1.2rem;
		line-height: .8;
		color: $color-destacado;
}

.text-minimal {
		margin: 5px 0 0 0;
		font-weight: 400;
		font-size: 0.7rem;
		line-height: .7;
}

.text-audit {
		margin: 0 0 0 0;
		font-weight: 400;
		font-size: .8rem;
}

.badge-style {
	margin: 0 0 0 5px;
}

.button-action {
		margin: 0 15px 5px 0;
		color: #ffffff;
		width: 250px;
		height: 50px;
		background-color: $color-button;
		font-weight: 700;
		font-size: 1.2rem;
		font-style: italic;

}