<mat-card>
  <mat-card-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <mat-form-field>
      <input matInput [formControl]="form.controls['username']" placeholder="Nombre de Usuario" required>
      <small *ngIf="form.controls['username'].hasError('required') && 
         form.controls['username'].touched" class="form-message text-danger">
         Dato requerido</small>

      <small *ngIf="form.controls['username'].hasError('minlength') && form.controls['username'].touched" class="form-message text-danger">El nombre debe ser al menos de 5 letras</small>

      <small *ngIf="form.controls['username'].hasError('maxlength') && form.controls['username'].touched" class="form-message text-danger">El nombre excede los 20 caracteres</small>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="email"  placeholder="Correo Electrónico" >

      <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="form-message text-danger">You must include an email address.</small>

      <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="form-message text-danger">You must include a valid email address.</small>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="password"  placeholder="Clave" type="password">

        <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="form-message text-danger">Dato requerido</small>

    </mat-form-field>

    <mat-form-field>
      <input  matInput formControlName="confirmPassword" type="password"  >
        <small *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="form-message text-danger">Dato requerido</small>
        <small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="form-message text-danger">Las claves no coinciden</small>
    </mat-form-field>

    <div class="text-left mb-module">
      <mat-checkbox  formControlName="termscond"  >
        He leido y acepto los términos y condiciones de uso.
      </mat-checkbox>
    </div>

    <button mat-raised-button [disabled]="!form.valid" color="primary" type="submit" color="accent">Registrarme</button>

    <div *ngIf="true" class="additional-info">
      Ya tenés cuenta?
      <a routerLink="/ingresar/login">Ingresar</a>

      <span class="divider"></span>
      <a routerLink="/">Vovler a inicio</a>

    </div>
  </form>

  </mat-card-content>
</mat-card>
