<mat-card>
    <mat-card-header>
        <mat-card-title>Parte de Ocupación</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="showEditor">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="container p-0">
                <div class="row">
                    <div class="col-md-4 col-12" >
                        <mat-form-field>
                            <mat-label>Fecha parte</mat-label>
                            <input matInput formControlName="fecha_tx">
                        </mat-form-field>
                    </div>
                    <div class="col-md-7 col-12">
                        <mat-form-field>
                            <mat-label>Observación / Comentario</mat-label>
                            <textarea matInput formControlName="slug"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                             
                <h5>Estado de Ocupación</h5>
                <div formArrayName="servicios" *ngFor="let servicio of serviciosFA.controls; let i = index;">
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="col-md-2 locacion-block">
                                <span class="text-normal">{{ servicio.get('locCode').value }} :: {{ servicio.get('srvcode').value }}</span>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-label>Diponible</mat-label>
                                    <input type="text" matInput formControlName="srvQDisp">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-label>Ocupado</mat-label>
                                    <input type="text" matInput formControlName="srvQOcup">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="ml-2" mat-flat-button color="primary" type="submit"  [disabled]="formGroup.invalid">Confirmar</button>
                        <button class="ml-2" mat-flat-button color="warn" type="button" (click)="cancelEdit()" >Cancelar</button>
                        <!-- button class="ml-2" mat-button color="accent" type="button" (click)="addNewControl()">Añadir Especificación</button -->
                        <!-- button class="ml-2" mat-button color="warn" type="button" (click)="removeControl()" *ngIf="serviciosFA.length > 1">Retirar Especificación</button -->
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>