<mat-card>
  <mat-card-content>
		<mat-card-title><strong>{{ title }}</strong></mat-card-title>
  </mat-card-content>
</mat-card>

<div 	*ngIf="hasCurrentBudget" >
	<budget-core-base [budget]='currentBudget'
						(updateBudget)='updateCore($event)' ></budget-core-base>


	<budget-items-panel [items]='budgetCostList'
						(updateItems)='updateCostItems($event)' ></budget-items-panel>


	<observaciones-panel 
		 							[audit]='audit'
		 							[type]="'cck'"
		 							[parent]='parentEntity' ></observaciones-panel>

</div>

