<mat-card class="subcardedit" [title]="'Alta subficha'">
	<mat-card-header>
		<mat-card-title><strong>Nueva ficha relacionada</strong></mat-card-title>
	</mat-card-header>
	<form [formGroup]="form" (ngSubmit)="onSubmit()" >
		<table><tr>
		<td>
		<mat-form-field>
			<mat-select  #typeFld formControlName='cardType'  
					(selectionChange)="changeCardType(typeFld.value)" 
					 placeholder="Tipo de relación">
			  <mat-option *ngFor="let litem of cardtypes" [value]="litem.val" >{{ litem.label }}</mat-option>
			</mat-select>
		</mat-form-field>
		</td>	
		<td>
		<mat-form-field>
			<mat-select   formControlName='cardCategory'  placeholder="Categoría">
			  <mat-option *ngFor="let litem of cardcategories" [value]="litem.val" >{{ litem.label }}</mat-option>
			</mat-select>
		</mat-form-field>
		</td>	
		</tr>
		<tr>
		<td>
			<mat-form-field>
			  <input matInput formControlName='cardId' placeholder="Código"  >
			</mat-form-field>
		</td>	
		<td>
			<mat-form-field>
			  <input matInput formControlName='topic' placeholder="Tema/ Tópico"  >
			</mat-form-field>
		</td>	
		</tr></table>


		<mat-form-field>
		  <input matInput formControlName='slug' placeholder="Título/ Denominación" >
		</mat-form-field>

		<mat-form-field>
		  <input matInput formControlName='subtitle' placeholder="Subtítulo" >
		</mat-form-field>

		<mat-form-field>
		  <input matInput formControlName='linkTo' placeholder="Enlace a ficha relacionada" >
		</mat-form-field>

		<div>
			<textarea 
			  mediumEditor
				[formControl]="form.controls['description']" placeholder="Descripción"
				[(editorModel)]="meContent"
				[editorOptions]="{'toolbar': {'buttons': ['bold', 'italic', 'underline','pre', 'html', 'anchor', 'h1', 'h2','h3','removeFormat']}}" 
	      [editorplaceholder]="mePlaceholder"
	      (modelValueChange)="descriptionUpdateContent($event)">
			</textarea>
		</div>
		<mat-form-field>
		  <input matInput formControlName='mainimage' placeholder="Imagen principal" >
		</mat-form-field>

		<mat-form-field>
			<textarea matInput 
		            mdTextareaAutosize
		            matAutosizeMaxRows="10"
								formControlName='images' placeholder="Imágenes"></textarea>		  
		</mat-form-field>

		<mat-card>
		<mat-card-content>
			<card-graph-controller [relatedList]='imageList' 
														[addCardToList]='addImageToList'
														[entityType]="'image'"  ></card-graph-controller>



			<asset-create (assetEmitted)='createCardGraphFromImage($event)' ></asset-create>
		</mat-card-content>
		</mat-card>



		<div class="additional-info">
		  <button mat-button type="submit"  color="accent">ACEPTAR</button>
		  <button mat-button (click)="cancelEditForm()"   color="warn">Cancelar</button>
		</div>
	</form>
</mat-card>