mat-card {
    background-color: #626;
    width: 180px;
    height: 120px;
    color: white;    
}

.card-title {
        font-weight: 400;
        font-size: 1.2rem;
}

.disponible {
        font-weight: 700;
        font-size: 1.2rem;
        margin: 0 0 0 15px;
}

.ocupacion {
        font-weight: 400;
        font-size: 1rem;
        margin: 0 0 0 15px;
}

mat-card:hover {
    cursor: default;
}

ul {
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
