<mat-card class="alta-ficha" [title]="'Edición de Ficha'" >
  <mat-card-header><h5>Carpeta</h5></mat-card-header>
  <mat-card-content>


    <note-base  *ngIf='basicData' [noteBase]='basicData' ></note-base>



    <div class="additional-info">
      <button mat-raised-button type="button" color="primary"  
          (click)="save('continue')" >ACEPTAR</button>
      <button mat-button       type="button"  color="accent"
          (click)="save('navigate')" >Aceptar y volver</button>
      <button mat-button       type="button" color="accent" 
          (click)="editCancel()" >Cancelar</button>
    </div>



  </mat-card-content>

</mat-card>
