@import '../../../../../assets/sass/variable';

:host {
  background: main-color(300);
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;

  card {
    margin: 0 auto;
    max-width: 400px;

    ::ng-deep .card-wrap {
      border: 0;
    }
    .material-icons {
      color: main-color(300);
      font-size: 100px;
    }
    .additional-info {
      background: rgba(#000,.1);
      margin: $module (-$module) (-$module);
      padding: $module/2 $module;
    }
  }
}