<mat-card class="detail-card">
  <mat-card-content>
	 	<div class="row">
	 		<div class="col-md-1 d-flex justify-content-between align-items-center">
	 			<div *ngIf="showEditControl">
					<span class="edit-control"
						(click)='editToken()' title="Editar observación">
						<i [class]="showEdit ? 'fas fa-pen-square' : 'far fa-edit'" 
						aria-hidden="true"></i></span>
				</div>
	 		</div>

		 	<div class="col-md-11">
		  	<ng-container *ngIf="showView">
					<observaciones-view [type]="type" [token]='observacion'></observaciones-view>
				</ng-container>

			
				<ng-container *ngIf="showEditPanel">
					<observaciones-edit [token]='observacion'
						              [type]="type"
					 								(updateToken)='manageBase($event)' ></observaciones-edit>
				</ng-container>
			</div>

		</div>

  </mat-card-content>
</mat-card>
