@import 'variable';

/deep/ {
  @import 'structure';
  @import 'typography';
  @import 'helpers';
  @import 'material-components';
  @import 'ngx-table';
}
:host /deep/ {
  @import 'fonts';
}